/**
 *  Guick Generate class: https://github.com/wdavilaneto/guick
 *  Author: service-wdavilaneto@redhat.com
 *  This source is free under The Apache Software License, Version 2.0
 *  license url http://www.apache.org/licenses/LICENSE-2.0.txt
 */
package ${project.group}.${project.name}.domain;

/**
 * Enumeracao ${enumClass.getName()}.
 */
public enum ${enumClass.getName()} {

#set( $index = 1 )
#set( $totalValues = ${enumClass.getCheckValues().size()} )
#foreach( ${property} in ${enumClass.getCheckValues()})
    ${property.name}#if($index < ${totalValues}),#else;
#end
#set($index = $index + 1)

#end
}