#foreach( ${property} in ${entity.getProperties()})
#foreach(${validation} in ${property.getValidations()})
    @${validation.getName()}#if(!$validation.parameters.isEmpty())(#foreach( $parameterKey in $validation.parameters.keySet())$parameterKey = $validation.parameters.get($parameterKey)#{end})#{end}

#end
#if( ${property.getType()} == 'Date' )
    @Temporal(TemporalType.DATE)
#end
#if( ${property.getColumn().type} == 'BLOB' or ${property.getColumn().type} == 'CLOB' or ${property.getColumn().type} == 'LOB')
    @Column(name = "${property.getColumn().getName()}")
    @Lob
    @Basic(fetch = FetchType.LAZY)
#else
    @Column(name = "${property.getColumn().getName()}"#if(!${property.getColumn().getNullable()}), nullable = false#{end}#if(${property.column.precision}), precision = ${property.column.precision}#{end}#if(${property.column.scale}), scale = ${property.column.scale}#{end}#if(${property.column.length}), length = ${property.column.length}#{end}#if( !${property.getColumn().isInsertable()}), insertable = false #{end}#if(!${property.getColumn().isUpdatable()}), updatable = false #end)
#end
    ${property.getType()} ${property.getName()};

#end