
<div class="col-md-3 form-group" show-errors>
    <label class="control-label" for="consulta">Consulta <i class="fa fa-asterisk fa-sm" popover-trigger="mouseenter"  popover-placement="up" popover="Campo obrigatório"/></label>
    <textarea class="form-control" rows="3" ng-maxlength="4000" ng-model="vm.entity.consulta" required placeholder="Consulta"  id="consulta" ></textarea>
    <span class="help-block" ng-show="consulta.$error.required">Obrigatório</span>
</div>
    <div class="col-md-3 form-group" show-errors>

            <label class="control-label" for="eleicaoAutoComplete">Eleicao <i class="fa fa-asterisk fa-sm" popover-trigger="mouseenter"  popover-placement="up" popover="Campo obrigatório"/></label>
            <div angucomplete-alt id="eleicaoAutoComplete"
                input-name="eleicaoAutoComplete"
                initial-value="{{vm.entity.eleicao.nome}}"
                placeholder="Busca por Nome ou Descrição ou Descrição Orientacao ou Criterio Desempate ou Email Convite ou "
                name="eleicao"
                pause="400"
                remote-url="/sev/api/eleicao/searchText?text="
                selected-object="vm.searchSelects.eleicao"
                remote-url-data-field="content"
                title-field="nome,descricao,descricaoOrientacao,"
                      minlength="2"
                input-class="form-control"
                field-required="true"
                text-no-results="Nenhum registro encontrado"
                text-searching="Buscando"
                auto-match="true"/>
   </div>


<div class="col-md-3 form-group" show-errors>
    <label class="control-label" for="descricaoTipoFiltro">Descrição Tipo Filtro </label>
    <input class="form-control" type="text" ng-maxlength="50" ng-model="vm.entity.descricaoTipoFiltro" placeholder="Descrição Tipo Filtro"  id="descricaoTipoFiltro" />
</div>

