<div class="menu-bar">
    <a ng-click="toothlet()" ><i class="fa fa-reorder"></i></a>
    <a href="#/dashboard" title="Tela inicial"><i class="mdi mdi-home"></i></a>
    <a href="#/avisos" title="Intimações declinadas"><i class="mdi mdi-file-document-box"></i></a>
    <a href="#/avisos/declinados/" title="Intimações declinadas"><i class="mdi mdi-undo-variant"></i></a>
    <a href="#/peticoes/" title="Peticionar"><i class="mdi mdi-file-document"></i></i></a>
    <a href="#/peticoes/historico/" title="Histórico de petições"><i class="mdi mdi-clock-fast"></i></a>
    <a href="#/dashboard" title="Painel informativo"><i class="mdi mdi-view-dashboard"></i></a>
</div>