/**
 *  Guick Generate class: https://github.com/wdavilaneto/guick
 *  Author: service-wdavilaneto@redhat.com
 *  This source is free under The Apache Software License, Version 2.0
 *  license url http://www.apache.org/licenses/LICENSE-2.0.txt
 */
package ${project.group}.${project.name}.api.service.support;

import org.activiti.engine.RuntimeService;
import org.activiti.engine.runtime.ProcessInstance;
import org.springframework.stereotype.Component;

import javax.annotation.Resource;
import java.util.HashMap;
import java.util.Map;

@Component
public abstract class SimpleProccessCommand<T> implements IWorkflowCommand {

    @Resource
    private RuntimeService runtimeService;

    public String getProcessId();

    @Override
    public T execute(T entity) {
        Map<String, Object> context = new HashMap<>();
        context.put("entity", entity);
        ProcessInstance process = runtimeService.startProcessInstanceByKey(getProcessId(), context);
        Object entityCreated = runtimeService.getVariable(process.getId(),  "result");
        return (T) entityCreated;
    }

}