#set( $js  = "$")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
(function() {
   'use strict';

	angular.module('${projectBeanName}App').config(Config);

    function Config($translateProvider, $urlRouterProvider, $stateProvider) {

        $stateProvider
            .state('main', {
                url: "/",
                controller: 'MainController',
                controllerAs: 'mainController',
                templateUrl: "modules/main/main.html"
            })
        ;

    ##TODO: Nao encontra o arquivo com essa linha. Investigar outra solucao
    #*$translateProvider.useStaticFilesLoader({prefix: '/', suffix: '.json'});
    $translateProvider.preferredLanguage('i18n/locale-pt-BR');*#

    }

})();