
<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="ocorrencia" ng-model="vm.entity.ocorrencia" type="text" required />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="ocorrencia">
            Ocorrencia*        </label>
    </div>
</div>
<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="justificativa" ng-model="vm.entity.justificativa" type="text"  />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="justificativa">
            Justificativa        </label>
    </div>
</div>
<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="login" ng-model="vm.entity.login" type="text" required />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="login">
            Login*        </label>
    </div>
</div>
    <div class="col-md-3 form-group" show-errors>

            <label class="control-label" for="eleicaoAutoComplete">Eleicao <i class="fa fa-asterisk fa-sm" popover-trigger="mouseenter"  popover-placement="up" popover="Campo obrigatório"/></label>
            <div angucomplete-alt id="eleicaoAutoComplete"
                input-name="eleicaoAutoComplete"
                initial-value="{{vm.entity.eleicao.nome}}"
                placeholder="Busca por Nome ou Descrição ou Descrição Orientacao ou Criterio Desempate ou Email Convite ou "
                name="eleicao"
                pause="400"
                remote-url="/sev/api/eleicao/searchText?text="
                selected-object="vm.searchSelects.eleicao"
                remote-url-data-field="content"
                title-field="nome,descricao,descricaoOrientacao,"
                      minlength="2"
                input-class="form-control"
                field-required="true"
                text-no-results="Nenhum registro encontrado"
                text-searching="Buscando"
                auto-match="true"/>
   </div>

    <div class="col-md-3 form-group" show-errors>
        <label>Tipo Evento  <i class="fa fa-asterisk fa-sm" popover-trigger="mouseenter"  popover-placement="up" popover="Campo obrigatório"/>            </label>
            <div tipoEvento-select></div>

        </div>

    <div class="col-md-3 form-group" ng-controller="DefaultDatepickerController" show-errors>
        <label for="dataRegistro">Data Registro <i class="fa fa-asterisk fa-sm" popover-trigger="mouseenter" popover-placement="up" popover="Campo obrigatório"/></label>
        <div class="input-group">
            <input type="text" class="inputMaterial input-sm" datepicker-popup="{{format}}" is-open="opened" date-disabled="disabled(date, mode)" close-text="Close"
                ng-model="vm.entity.dataRegistro" current-text="Hoje" clear-text="Limpar" required id="dataRegistro" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
    </div>

