#set( $js  = "$")
#set( $open  = "${")
#set( $close = "}")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )

(function() {
    'use strict';

    /**
     *  Guick Generate class: https://github.com/wdavilaneto/guick
     *  Author: service-wdavilaneto@redhat.com
     *  This source is free under The Apache Software License, Version 2.0
     *  license url http://www.apache.org/licenses/LICENSE-2.0.txt
     */

    angular.module('${project.acronym}App.${entity.beanName}')
    .directive('${entityBeanName.toLowerCase()}Select', function(){
        return {
            restrict: 'EA',
            templateUrl: 'modules/${entityBeanName}/directives/${entityBeanName}.select.html'
        };
    });

})();
