#set( $js  = "$")
#set( $open  = "${")
#set( $close = "}")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )

#set ( $stringField = '' )
#set ( $secondStringField = '' )
#foreach( ${property} in ${entity.properties})
#if(${property.type} == 'String' && $stringField == '' )
    #set ($stringField = ${property.name})
#end
#if(${property.type} == 'String' && ${stringField} != ${property.name} )
    #set ($secondStringField = ${property})
#end
#end
##<label>${entity.title}
###if( ${entity.looksLikeMainEntity()} )
##    <a class="btn-detail" ng-click="view('lg','${entity.name}');"><i class="fa fa-fw fa-search-plus"></i></a>
###end
##</label>
<div ui-select ng-model="vm.entity.${entityBeanName}" ng-disabled="vm.${entityBeanName}List.length < 1" ng-required="true">
    <div ui-select-match placeholder="Escolha ${entity.title}...">{{${js}select.selected.${stringField}}}</div>
    <div ui-select-choices repeat="item in vm.${entityBeanName}List | filter: vm.${js}select.search">
#if ($stringField == '' )
        <div ng-bind-html="item.id | highlight: vm.${js}select.search"></div>
#else
        <div ng-bind-html="item.${stringField} | highlight: vm.${js}select.search"></div>
#if($secondStringField != '')
        <small ng-bind-html="item.${secondStringField} |  highlight: vm.${js}select.search "></small>
#end
#end
    </div>
</div>