/*PANEL - LIST-PROCESS*/
.list-process-content .panel-group .panel + .panel{margin-top:0px;}
.list-process-content .panel-default > .panel-heading{background-color: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3498db+0,3498db+50,308dcc+50,308dcc+100 */background: rgb(52,152,219); /* Old browsers */background: -moz-linear-gradient(45deg,  rgba(52,152,219,1) 0%, rgba(52,152,219,1) 50%, rgba(48,141,204,1) 50%, rgba(48,141,204,1) 100%); /* FF3.6+ */background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(52,152,219,1)), color-stop(50%,rgba(52,152,219,1)), color-stop(50%,rgba(48,141,204,1)), color-stop(100%,rgba(48,141,204,1))); /* Chrome,Safari4+ */background: -webkit-linear-gradient(45deg,  rgba(52,152,219,1) 0%,rgba(52,152,219,1) 50%,rgba(48,141,204,1) 50%,rgba(48,141,204,1) 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(45deg,  rgba(52,152,219,1) 0%,rgba(52,152,219,1) 50%,rgba(48,141,204,1) 50%,rgba(48,141,204,1) 100%); /* Opera 11.10+ */background: -ms-linear-gradient(45deg,  rgba(52,152,219,1) 0%,rgba(52,152,219,1) 50%,rgba(48,141,204,1) 50%,rgba(48,141,204,1) 100%); /* IE10+ */background: linear-gradient(45deg,  rgba(52,152,219,1) 0%,rgba(52,152,219,1) 50%,rgba(48,141,204,1) 50%,rgba(48,141,204,1) 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#308dcc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */border:0 !important;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s; border-bottom: 1px solid #fff !important  ;cursor:pointer;}
.list-process-content .panel-default > .panel-heading:hover{opacity:0.8;}
.list-process-content .panel-title > a {color: #fff !important;text-transform: uppercase;letter-spacing: 0.7pt;font-size: 0.75em;display: block;padding: 3px;}
.list-process-content .panel-title > a:hover, .list-process-content .panel-title > a:focus{text-decoration:none;}
.list-process-content .panel-group .panel{border-radius:0;border:0;}
/**/

/*ORDER-FILTER*/
.order-filter {top: 0px;position: absolute;z-index: 9999;padding: 7px;width: 100%;background: #fafafa;border: 1px solid #9b59b6;margin-bottom: 7px;margin-top: 5px;transition: 0.3s;-webkit-transition: 0.3s;-moz-transition: 0.3s;box-shadow: 0px 5px 15px 5px #ccc;animation-name: animate-orderfilter; animation-duration: 0.3s;}
.order-filter h2{border-bottom:1px solid #ddd;padding: 7px 0 7px 7px;margin-bottom:14px;}
.order-filter.openFilter{display:block;transition:0.3s;-webkit-transition:0.3s; }
.order-filter.closeFilter{display:none;opacity:0.6;transition:0.3s;-webkit-transition:0.3s;}
.order-filter .order-filter-arrow{display: inline-block;vertical-align: middle;margin-right: 10px;width: 0;height: 0;border-right: 15px solid transparent;border-bottom: 10px solid #9b59b6;left: 7px;position: absolute;top: -11px;}
.order-filter-remove {position: absolute;top: 0;right: 0;font-size: 2em;font-family: `Roboto-light` !important;color: #9B59B6;}
.order-filter-remove:hover{color:#8e44ad;}
/**/

/*JOY-RIDE*/
.ng-joyride-title{top:30%;left:0;right:0;margin:0 auto;}
/**/

/*�REA DE APRESENTA��O DO PDF*/
.area {width: 100%;padding: 15px;}

#documentArea {border: 2px dashed #bbb;-webkit-border-radius: 5px;border-radius: 5px;padding: 50px;text-align: center;font: 21pt bold ;color: #bbb;height: 600px;font-family:'roboto-light';}
.panel-page-pdf {padding: 7px;width: 100%;background-color: #3498db;color: #fff !important;}
.panel-page-pdf a {color:#fff;margin-top:-5px;}
.panel-page-pdf-content{width: 100%;height:768px!important;}
/**/

/*ULTIMA ATUALIZA��O*/
.box-update {font-size: 0.65em;font-weight: bold;}
/**/

/*LISTA PROCESSO*/
ul.list-process{display:block;width:100%;margin:0;padding:0;list-style:none;}
ul.list-process li{display:block;float:left;width:100%;padding:3px;border-bottom:1px solid #ededed;color:#666;margin-bottom:1px;font-size: 0.8em;font-weight: 600;padding:7px;}
ul.list-process li a, ul.list-process li a:hover, ul.list-process li a:focus {color: #0277BD;text-transform: uppercase;font-size: 0.85em;font-style: normal;font-weight: bold;letter-spacing: normal;line-height: 1.8em;}
ul.list-process li a:hover{color:#333;}
ul.list-process li a:focus{color:#3498db;}
ul.list-process li a.btn-edit-index {color: #ccc;font-size: 1.3em;}
ul.list-process li a.btn-edit-index:hover{color:#ccc;}
/**/

.btn.btn-default.btn-datepicker {margin-top: 8px;border: 0;background-color: transparent;}

.ui-grid-render-container{animation-name: animate-tab-content; animation-duration: 0.3s;position:relative;}

.navbar-right-mgpe{}

/*LOGIN*/
.form-box .alert {margin-top: 7px;}

ul.list-process li a.bt-river{color:#fff;margin-top:0;}

/*SWITCH*/
.mpswitch {
    position: relative; width: 43px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.mpswitch-checkbox {
    display: none;
}
.mpswitch-label {
    display: block; cursor: pointer;
    height: 14px; padding: 0; line-height: 14px;
    border: 0px solid #FFFFFF; border-radius: 22px;
    background-color: #BDC3C7;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
}
.mpswitch-label:before {
    content: "";
    display: block; width: 22px; margin: -4px;
    background: #ecf0f1;
    position: absolute; top: 0; bottom: 0;
    right: 25px;
    border-radius: 22px;
    box-shadow: 0 6px 12px 0px #757575;
    border:1px solid #bdc3c7;
}
.mpswitch-checkbox:checked + .mpswitch-label {
    background-color: #27AE60;
}
.mpswitch-checkbox:checked + .mpswitch-label, .mpswitch-checkbox:checked + .mpswitch-label:before {
   border-color: #27AE60;
}
.mpswitch-checkbox:checked + .mpswitch-label .mpswitch-inner {
    margin-left: 0;
}
.mpswitch-checkbox:checked + .mpswitch-label:before {
    right: 0px;
    background-color: #ECF0F1;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}
/**/

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{/*border-bottom:1px solid #e74c3c;*/}

/*DINGS*/
.ding { -webkit-animation-name: animate-ding;animation-name: animate-ding; animation-duration: 0.3s;}
.ding-arrow{display: inline-block;vertical-align: middle;margin-right: 10px;width: 0;height: 0;border-right: 13px solid transparent;border-bottom: 10px solid #ecf0f1 ;right: 7px;position: absolute;top: -10px;}