titulo.sucesso=Sucesso!
SucessoDefault=Opera\u00e7\u00e3o realizada com sucesso!
ValidationFailure=Erro de valida\u00e7\u00e3o
DataIntegrityError=Erro de integridade de dados
DataError=Erro de acesso aos dados
UnsupportedMediaType=Tipo de m\u00eddia n\u00e3o suportado
UnknownError=Erro desconhecido
RequestError=Erro de requisi\u00e7\u00e3o
NotEmpty=N\u00e3o pode ser vazio
NotNull=N\u00e3o pode ser nulo ou vazio
Size=Tamanho inv\u00e1lido do campo
NotBlank=N\u00e3o pode ser em branco
NotUniqueObject=J\u00e1 existe um objeto igual cadastrado
