
<div class="box box-primary">
    <div class="box-body">
                                <div class="col-md-4" ng-if="vm.entity.eleicao.nome">
                                    <div class="form-group">
                                        <label class="control-label">Nome</label>
                                        <div ng-if="vm.entity.eleicao.nome"> {{vm.entity.eleicao.nome}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.eleicao.descricao">
                                    <div class="form-group">
                                        <label class="control-label">Descrição</label>
                                        <div ng-if="vm.entity.eleicao.descricao"> {{vm.entity.eleicao.descricao}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.eleicao.descricaoOrientacao">
                                    <div class="form-group">
                                        <label class="control-label">Descrição Orientacao</label>
                                        <div ng-if="vm.entity.eleicao.descricaoOrientacao"> {{vm.entity.eleicao.descricaoOrientacao}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.eleicao.criterioDesempate">
                                    <div class="form-group">
                                        <label class="control-label">Criterio Desempate</label>
                                        <div ng-if="vm.entity.eleicao.criterioDesempate"> {{vm.entity.eleicao.criterioDesempate}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.eleicao.textoEmailConvite">
                                    <div class="form-group">
                                        <label class="control-label">Email Convite</label>
                                        <div ng-if="vm.entity.eleicao.textoEmailConvite"> {{vm.entity.eleicao.textoEmailConvite}}</div>
                                    </div>
                                </div>




                                <div class="col-md-3" ng-if="vm.entity.eleicao.dataInicio">
                                    <div class="form-group">
                                        <label class="control-label">Data Início</label>
                                        <div ng-if="vm.entity.eleicao.dataInicio"> {{vm.entity.eleicao.dataInicio}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="vm.entity.eleicao.dataFim">
                                    <div class="form-group">
                                        <label class="control-label">Data Fim</label>
                                        <div ng-if="vm.entity.eleicao.dataFim"> {{vm.entity.eleicao.dataFim}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="vm.entity.eleicao.qtdeMaxVotos">
                                    <div class="form-group">
                                        <label class="control-label">Qtde Max Votos</label>
                                        <div ng-if="vm.entity.eleicao.qtdeMaxVotos"> {{vm.entity.eleicao.qtdeMaxVotos}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="vm.entity.eleicao.dataInicioApuracao">
                                    <div class="form-group">
                                        <label class="control-label">Data Início Apuracao</label>
                                        <div ng-if="vm.entity.eleicao.dataInicioApuracao"> {{vm.entity.eleicao.dataInicioApuracao}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="vm.entity.eleicao.dataFimApuracao">
                                    <div class="form-group">
                                        <label class="control-label">Data Fim Apuracao</label>
                                        <div ng-if="vm.entity.eleicao.dataFimApuracao"> {{vm.entity.eleicao.dataFimApuracao}}</div>
                                    </div>
                                </div>
                                <div class="col-md-2" ng-if="vm.entity.eleicao.natureza">
                                    <div class="form-group">
                                        <label class="control-label">Natureza</label>
                                        <div ng-if="vm.entity.eleicao.natureza"> {{vm.entity.eleicao.natureza}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="vm.entity.eleicao.dataInicioPrev">
                                    <div class="form-group">
                                        <label class="control-label">Data Início Prev</label>
                                        <div ng-if="vm.entity.eleicao.dataInicioPrev"> {{vm.entity.eleicao.dataInicioPrev}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="vm.entity.eleicao.dataFimPrev">
                                    <div class="form-group">
                                        <label class="control-label">Data Fim Prev</label>
                                        <div ng-if="vm.entity.eleicao.dataFimPrev"> {{vm.entity.eleicao.dataFimPrev}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="vm.entity.eleicao.versao">
                                    <div class="form-group">
                                        <label class="control-label">Versao</label>
                                        <div ng-if="vm.entity.eleicao.versao"> {{vm.entity.eleicao.versao}}</div>
                                    </div>
                                </div>
                                <div class="col-md-2" ng-if="vm.entity.eleicao.statusApuracao">
                                    <div class="form-group">
                                        <label class="control-label">Status Apuracao</label>
                                        <div ng-if="vm.entity.eleicao.statusApuracao"> {{vm.entity.eleicao.statusApuracao}}</div>
                                    </div>
                                </div>


    </div>
</div>

