#set( $js  = "$")
#set( $open  = "${")
#set( $close = "}")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
/**
 *  Guick Generate class: https://github.com/wdavilaneto/guick
 *  Author: service-wdavilaneto@redhat.com
 *  This source is free under The Apache Software License, Version 2.0
 *  license url http://www.apache.org/licenses/LICENSE-2.0.txt
 */

app.directive('${entityBeanName.toLowerCase()}Fieldset', function(){
    return {
        restrict: 'E',
        templateUrl: 'components/directives/${entityBeanName}/fieldset.html'
    };
});
