#set( $js  = "$")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
#set( $bigFieldSize = 100)
#set( $isFilter = false )
#set( $idAgragation = '' )
#set( $rowSize = 0)
    <fieldset>
####### TODO Teste TEMPORARIO REMOVER!!!
#if(  ${entity.childrens.size()} > 0 && ${entity.childrens[0].name} == 'FuncImg' )
        <div class="col-md-3 form-group">
            <div class="form-group">
                <label for="${idAgragation}${property}">${property.title} #if(!${property.column.nullable} && !$isFilter)<i class="fa fa-asterisk fa-sm" popover-trigger="mouseenter"  popover-placement="up" popover="Campo obrigatório"/>#{end}</label>
                <div class="input-group">
                    <img ng-src="data:image/*;base64,{{entity.${property}}}" ng-show="entity.${property}" width="80px" />
                    <input type="file" fileread="entity.${property}" filetype="entity.${idAgragation}${property}Type" id="${idAgragation}${property}"/>
                </div>
            </div>
        </div>
#end
#if(${entity.id.type} != 'Long' && !(${entity.table.pk.size()} == 1 && ${entity.table.pk[0].useUUID}) && !(${entity.table.getFieldThatPointsParentPk().size()} == 1))
#set( $property = ${entity.id} )
#parse( "stage/crud/html/property.html.vm" )
#end
##########  HERE wh stasrt
#foreach( ${property} in ${entity.properties})
#if(${property.column.length} >= ${bigFieldSize})
#parse( "stage/crud/html/property.html.vm" )
#end
#end
#########
#foreach( ${property} in ${entity.parent.getProperties()})
#if(${property.column.length} >= ${bigFieldSize})
#parse( "stage/crud/html/property.html.vm" )
#end
#end
#########
#foreach( ${property} in ${entity.id.getProperties()})
#if(${property.column.length} >= ${bigFieldSize})
#parse( "stage/crud/html/property.html.vm" )
#end
#end
#########
#foreach( ${complexProperty} in ${entity.getManyToOneProperties()})
#set( $beanName = ${util.uncapitalize($complexProperty.name)} )
#if(${complexProperty.referedEntity.table.count} > 200 || ${complexProperty.referedEntity.looksLikeMainEntity()} )
            <div class="col-md-3 form-group" show-errors>
                <label class="control-label">${complexProperty.title} #if(!${property.column.nullable} && !$isFilter)<i class="fa fa-asterisk fa-sm" popover-trigger="mouseenter"  popover-placement="up" popover="Campo obrigatório"/>#{end}</label>
                <angucomplete-alt id="${idAgragation}${beanName}AutoComplete"
                      initial-value="{{entity.${complexProperty}.${complexProperty.referedEntity.getMostDescritiveProperties()[0]}}}"
                      placeholder="Busca por #set($size = ${complexProperty.referedEntity.properties.size()} )#set($counter = 0)#foreach( ${prop} in ${complexProperty.referedEntity.properties})#set($counter = $counter + 1)#if(${prop.type} == 'String'&& ${prop.column.length} > 2)${prop.title}#if($counter < $size) ou #{end}#{end}#{end}"
                      name="${beanName}"
                      pause="400"
                      remote-url="/${projectBeanName}/api/${complexProperty.referedEntity.name}/searchText?text="
                      selected-object="searchSelects.${complexProperty}"
                      remote-url-data-field="content"
                      title-field="#set($size = ${complexProperty.referedEntity.getMostDescritiveProperties().size()} )#set($counter = 0)#foreach( ${prop} in ${complexProperty.referedEntity.getMostDescritiveProperties()})#set($counter = $counter + 1)${prop}#if($counter < $size || $counter < 3),#{end}#if($counter == 3)#break #{end}#{end}"
#if (${complexProperty.referedEntity.looksLikeDomain()} && ${complexProperty.referedEntity.getManyToOneProperties().size()} >=1 )
#set( $toOneProperty = ${complexProperty.referedEntity.getManyToOneProperties()[0]} )
### find first StringField
#set ( $stringField = 'id' )
#foreach( ${prop} in ${toOneProperty.referedEntity.properties})
#if(${prop.type} == 'String' && $stringField == 'id' )
#set ($stringField = ${prop})
#end
#end
                      description-field="${toOneProperty.name}.${stringField}"
#end
#if( ${complexProperty.referedEntity.table.count} > 10000)
                      minlength="7"
#end
                      input-class="form-control"
                      field-required="true"
                      text-no-results="Nenhum registro encontrado"
                      text-searching="Buscando"
                      auto-match="true"/>
            </div>
#else
            <div class="col-md-3 form-group" show-errors>
                <label>${complexProperty.title}  #if(!${property.column.nullable} && !$isFilter)<i class="fa fa-asterisk fa-sm" popover-trigger="mouseenter"  popover-placement="up" popover="Campo obrigatório"/>#{end}
#if( ${complexProperty.referedEntity.looksLikeMainEntity()} )
                    <a class="btn-detail" ng-click="view('lg','${complexProperty.referedEntity.name}');"><i class="fa fa-fw fa-search-plus"></i></a>
#end
                </label>
#if( ${complexProperty.referedEntity.name} ==  ${complexProperty.capitalizedName})
                <${complexProperty.referedEntity.beanName}-select></${complexProperty.referedEntity.beanName}-select>
#else
#parse( "stage/crud/html/selectProperty.html.vm" )
#end
            </div>
#end
#end

#foreach( ${complexProperty} in ${entity.parent.getManyToOneProperties()})
#set( $beanName = ${util.uncapitalize($complexProperty.name)} )
#if(${complexProperty.referedEntity.table.count} > 200 || ${complexProperty.referedEntity.looksLikeMainEntity()})
            <div class="col-md-3 form-group" show-errors>
                <label class="control-label">${complexProperty.title} #if(!${property.column.nullable} && !$isFilter)<i class="fa fa-asterisk fa-sm" popover-trigger="mouseenter"  popover-placement="up" popover="Campo obrigatório"/>#{end}
                </label>
                <angucomplete-alt id="${idAgragation}${beanName}AutoComplete"
                      initial-value="{{entity.${complexProperty}.${complexProperty.referedEntity.getMostDescritiveProperties()[0]}}}"
                      placeholder="Busca por #set($size = ${complexProperty.referedEntity.properties.size()} )#set($counter = 0)#foreach( ${prop} in ${complexProperty.referedEntity.properties})#set($counter = $counter + 1)#if(${prop.type} == 'String')${prop.title}#if($counter < $size ) ou #{end}#{end}#{end}"
                      name="${beanName}"
                      pause="400"
                      remote-url="/${projectBeanName}/api/${complexProperty.referedEntity.name}/searchText?text="
                      selected-object="searchSelects.${complexProperty}"
                      remote-url-data-field="content"
                      title-field="#set($size = ${complexProperty.referedEntity.getMostDescritiveProperties().size()} )#set($counter = 0)#foreach( ${prop} in ${complexProperty.referedEntity.getMostDescritiveProperties()})#set($counter = $counter + 1)${prop}#if($counter < $size || $counter < 3),#{end}#if($counter == 3)#break #{end}#{end}"
#if (${complexProperty.referedEntity.looksLikeDomain()} && ${complexProperty.referedEntity.getManyToOneProperties().size()} >=1 )
#set( $toOneProperty = ${complexProperty.referedEntity.getManyToOneProperties()[0]} )
### find first StringField
#set ( $stringField = 'id' )
#foreach( ${prop} in ${toOneProperty.referedEntity.properties})
#if(${prop.type} == 'String' && $stringField == 'id' )
#set ($stringField = ${prop})
#end
#end
                      description-field="${toOneProperty.name}.${stringField}"
#end
#if( ${complexProperty.referedEntity.table.count} > 10000)
                      minlength="7"
#end
                      input-class="form-control"
                      field-required="true"
                      text-no-results="Nenhum registro encontrado"
                      text-searching="Buscando"
                      auto-match="true"/>
            </div>
#else
            <div class="col-md-3 form-group" show-errors>
                <label>${complexProperty.title} #if(!${property.column.nullable} && !$isFilter)<i class="fa fa-asterisk fa-sm" popover-trigger="mouseenter"  popover-placement="up" popover="Campo obrigatório"/>#{end}
#if( ${complexProperty.referedEntity.looksLikeMainEntity()} )
                    <a class="btn-detail" ng-click="view('lg','${complexProperty.referedEntity.name}');"><i class="fa fa-fw fa-search-plus"></i></a>
#end
                </label>
#if( ${complexProperty.referedEntity.name} ==  ${complexProperty.capitalizedName})
                <${complexProperty.referedEntity.beanName}-select></${complexProperty.referedEntity.beanName}-select>
#else
#parse( "stage/crud/html/selectProperty.html.vm" )
#end
            </div>
#end
#end
########################
#set( $idAgragation = '' )
#foreach( ${property} in ${entity.properties})
#if(${property.column.length} < ${bigFieldSize})
#parse( "stage/crud/html/property.html.vm" )
#end
#end
#########
#foreach( ${property} in ${entity.parent.getProperties()})
#if(${property.column.length} < ${bigFieldSize})
#parse( "stage/crud/html/property.html.vm" )
#end
#end
#########
#foreach( ${property} in ${entity.id.getProperties()})
#set( $idAgragation = 'id.' )
#if(${property.column.length} < ${bigFieldSize})
#parse( "stage/crud/html/property.html.vm" )
#end
#end
    </fieldset>
