#set( $js  = "$")
#set( $open  = "${")
#set( $close = "}")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
/**
 * Created by thiago.gama on 09/10/2014.
 */

app.directive('${entityBeanName.toLowerCase()}Select', function(){
    return {
        restrict: 'E',
        templateUrl: 'components/directives/${entityBeanName}/select.html'
    };
});
