apply plugin: 'groovy'
apply plugin: 'idea'

group = '${project.group}'
version = '1.0.0-SNAPSHOT'

repositories {
    mavenLocal()
    mavenCentral()
    maven { url 'http://repo.spring.io/libs-release' }
    maven { url 'http://p-intcont01.pgj.rj.gov.br/nexus/content/groups/public' }
    maven { url 'http://p-intcont01.pgj.rj.gov.br/nexus/content/repositories/snapshots/' }
    maven { url 'http://p-intcont01.pgj.rj.gov.br/nexus/content/repositories/releases' }
    maven { url 'http://p-intcont01.pgj.rj.gov.br/nexus/content/repositories/local-snapshots' }
}

dependencies {
    //testCompile("junit:junit")
}

allprojects {
    sourceCompatibility = 1.7
    targetCompatibility = 1.7
}

task wrapper(type: Wrapper) {
	gradleVersion = '2.9'
}