                                <div class="col-md-3" ng-if="vm.entity.descricaoTipoFiltro">
                                    <div class="form-group">
                                        <label class="control-label">Descrição Tipo Filtro</label>
                                        <div ng-if="vm.entity.descricaoTipoFiltro"> {{entity.descricaoTipoFiltro}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.consulta">
                                    <div class="form-group">
                                        <label class="control-label">Consulta</label>
                                        <div ng-if="vm.entity.consulta"> {{entity.consulta}}</div>
                                    </div>
                                </div>






