<div class="row">
    <div class="col-md-12">
        <div class="row-form">

<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <textarea class="inputMaterial" rows="3" ng-maxlength="4000" ng-model="vm.entity.consulta" required   id="consulta" ></textarea>
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="consulta">
            Consulta*        </label>
    </div>
</div>
    <div class="col-md-3" show-errors>
        <div class="form-group has-warning">
            <label >Eleicao</label>
            <div angucomplete-alt id="eleicaoAutoComplete"
                input-name="eleicaoAutoComplete"
                initial-value="{{entity.eleicao.nome}}"
                placeholder="Busca por Nome ou Descrição ou Descrição Orientacao ou Criterio Desempate ou Email Convite ou "
                name="eleicao"
                pause="400"
                remote-url="/sev/api/Eleicao/searchText?text="
                selected-object="vm.searchSelects.eleicao"
                remote-url-data-field="content"
                title-field="nome,descricao,descricaoOrientacao,natureza,criterioDesempate,textoEmailConvite,statusApuracao"
                      minlength="2"
                input-class="form-control"
                field-required="true"
                text-no-results="Nenhum registro encontrado"
                text-searching="Buscando"
                auto-match="true"/>
    </div>
</div>

<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="descricaoTipoFiltro" ng-model="vm.entity.descricaoTipoFiltro" type="text"  />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="descricaoTipoFiltro">
            Descrição Tipo Filtro        </label>
    </div>
</div>

        </div>
    </div>
</div>