
<div class="box box-primary">
    <div class="box-body">
                                <div class="col-md-4" ng-if="vm.entity.eleitor.codigoAutenticacao">
                                    <div class="form-group">
                                        <label class="control-label">Codigo Autenticacao</label>
                                        <div ng-if="vm.entity.eleitor.codigoAutenticacao"> {{vm.entity.eleitor.codigoAutenticacao}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.eleitor.enderecoIp">
                                    <div class="form-group">
                                        <label class="control-label">Endereço Ip</label>
                                        <div ng-if="vm.entity.eleitor.enderecoIp"> {{vm.entity.eleitor.enderecoIp}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <div class="form-group">
                                        <label for="comprovanteVotacao">Comprovante Votação</label>
                                        <div class="input-group">
                                            <img ng-src="data:image/*;base64,{{vm.entity.eleitor.comprovanteVotacao}}" ng-show="vm.entity.eleitor.comprovanteVotacao" width="80px" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.eleitor.nome">
                                    <div class="form-group">
                                        <label class="control-label">Nome</label>
                                        <div ng-if="vm.entity.eleitor.nome"> {{vm.entity.eleitor.nome}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.eleitor.email">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <div ng-if="vm.entity.eleitor.email"> {{vm.entity.eleitor.email}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="vm.entity.eleitor.descricaoCargo">
                                    <div class="form-group">
                                        <label class="control-label">Descrição Cargo</label>
                                        <div ng-if="vm.entity.eleitor.descricaoCargo"> {{vm.entity.eleitor.descricaoCargo}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.eleitor.login">
                                    <div class="form-group">
                                        <label class="control-label">Login</label>
                                        <div ng-if="vm.entity.eleitor.login"> {{vm.entity.eleitor.login}}</div>
                                    </div>
                                </div>




                                <div class="col-md-3" ng-if="vm.entity.eleitor.cdmatricula">
                                    <div class="form-group">
                                        <label class="control-label">Códigomatricula</label>
                                        <div ng-if="vm.entity.eleitor.cdmatricula"> {{vm.entity.eleitor.cdmatricula}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="vm.entity.eleitor.dataVoto">
                                    <div class="form-group">
                                        <label class="control-label">Data Voto</label>
                                        <div ng-if="vm.entity.eleitor.dataVoto"> {{vm.entity.eleitor.dataVoto}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="vm.entity.eleitor.versao">
                                    <div class="form-group">
                                        <label class="control-label">Versao</label>
                                        <div ng-if="vm.entity.eleitor.versao"> {{vm.entity.eleitor.versao}}</div>
                                    </div>
                                </div>


    </div>
</div>

