<page-header class="p-t-32 p-b-48 m-b--24 bg-gray-900" [title]="'Personal Profile'" [showBreadCrumb]="false">
</page-header>

<div fxLayout="row wrap" class="matero-row">
  <div class="matero-col" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33.33" fxFlex.gt-md="25">
    <mat-card>
      <div class="text-center">
        <p class="m-t-0 m-b-8">
          <mat-form-field>
            <input matInput placeholder="Full text search">
          </mat-form-field>
        </p>
        <button mat-raised-button color="primary">Search </button>
        <button mat-raised-button color="accent" class="m-l-8">New</button>
      </div>

      <mat-nav-list class="m-x--16 m-b--16 m-t-16">
        <mat-divider inset></mat-divider>
        <a mat-list-item routerLink="/domain/${entity.dashedName}/${entity.dashedName}-overview">
          <mat-icon class="icon-18 m-r-8">account_circle</mat-icon> Overview
        </a>
        <mat-divider inset></mat-divider>
        <a mat-list-item routerLink="/domain/${entity.dashedName}/${entity.dashedName}-form">
          <mat-icon class="icon-18 m-r-8">settings</mat-icon> Settings
        </a>
      </mat-nav-list>

    </mat-card>
  </div>
  <div class="matero-col" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="66.67" fxFlex.gt-md="75">
    <router-outlet></router-outlet>
  </div>
</div>