import { Component } from '@angular/core';

@Component({
  selector: 'app-${entity.dashedName}-overview',
  templateUrl: './${entity.dashedName}-overview.component.html',
})
export class ${entity.name}OverviewComponent {}
