<mat-card>
  <mat-tab-group class="m--16">
    <mat-tab label="${entity.name}">
      <div class="m-16">
        <form class="matero-form-horizontal" [formGroup]="reactiveForm" >
        <!-- Main entity properties -->
#parse( "angular/domain/entity/entity.fieldset.inc.vm" )
          <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button color="primary" class="m-t-8">Save</button>
          </div>
        </form>
      </div>
    </mat-tab>
#foreach( ${complexProperty} in ${entity.getDistinctedAllComplexProperties()})
#if (${complexProperty.isOneToMany()} ) ## || ${complexProperty.isManyToMany()}
      <mat-tab label="${complexProperty.title}">
        <div class="m-16">
            ${complexProperty.referedEntity.name}
        </div>
      </mat-tab>
#end
#end
#foreach( ${complexProperty} in ${entity.getManyToOneProperties()})
#if(!${complexProperty.referedEntity.looksLikeEnum()} )
#set( $beanName = ${util.uncapitalize(${entity.referedEntity.name})} )
      <mat-tab label="${complexProperty.referedEntity.name}">
        <div class="m-16">
            ${complexProperty.referedEntity.title}
        </div>
      </mat-tab>
#end
#end
#foreach( ${complexProperty} in ${entity.getDistinctedAllComplexProperties()})
#if (${complexProperty.isOneToMany()} ) ## || ${complexProperty.isManyToMany()}  TODO Many to many needs special query
      <mat-tab label="${complexProperty.referedEntity.name}">
        <div class="m-16">
            ${complexProperty.referedEntity.title}
        </div>
      </mat-tab>
#end
#end
  </mat-tab-group>
</mat-card>
