<mat-card [ngClass]="(${entity.beanName}.id > 0)?'active':'not-active'">
  <mat-tab-group class="m--16" *ngIf="(${entity.beanName}.id > 0)">
    <mat-tab label="${entity.name}" mat-align-tabs="start">
      <div class="m-16">
        <app-${entity.dashedName} [${entity.beanName}]="${entity.beanName}"></app-${entity.dashedName}>
      </div>
    </mat-tab>
#foreach( ${complexProperty} in ${entity.getDistinctedAllComplexProperties()})
#if (${complexProperty.isOneToMany()} )
      <mat-tab label="${complexProperty.title}" (click)="select${complexProperty.name}()'">
        <div class="m-16">
            <app-${complexProperty.referedEntity.dashedName}-list></app-${complexProperty.referedEntity.dashedName}-list>
        </div>
      </mat-tab>
#end
#end
#foreach( ${complexProperty} in ${entity.getManyToOneProperties()})
#if(!${complexProperty.referedEntity.looksLikeEnum()} )
#set( $beanName = ${util.uncapitalize(${entity.referedEntity.name})} )
      <mat-tab label="${complexProperty.referedEntity.name}" (click)="tabSelected = '${complexProperty.referedEntity.dashedName}'">
        <div class="m-16">
            <app-${complexProperty.referedEntity.dashedName} [${complexProperty.referedEntity.beanName}]="${entity.beanName}.${complexProperty.referedEntity.beanName}"></app-${complexProperty.referedEntity.dashedName}>
        </div>
      </mat-tab>
#end
#end
#foreach( ${complexProperty} in ${entity.getDistinctedAllComplexProperties()})
#if (${complexProperty.isOneToMany()} )
      <mat-tab label="${complexProperty.referedEntity.name}" (click)="tabSelected = '${complexProperty.referedEntity.dashedName}'">
        <div class="m-16">
            to many
        </div>
      </mat-tab>
#end
#end
  </mat-tab-group>
</mat-card>
