    <div class="col-md-3 form-group">
        <label class="control-label" for="codigoAutenticacao">Codigo Autenticacao</label>
        <input class="form-control" type="text" ng-model="vm.entity.codigoAutenticacao" placeholder="Codigo Autenticacao" id="codigoAutenticacao" />
    </div>
    <div class="col-md-3 form-group">
        <label class="control-label" for="enderecoIp">Endereço Ip</label>
        <input class="form-control" type="text" ng-model="vm.entity.enderecoIp" placeholder="Endereço Ip" id="enderecoIp" />
    </div>
    <div class="col-md-3 form-group">
        <label class="control-label" for="comprovanteVotacao">Comprovante Votação</label>
        <input class="form-control" type="text" ng-model="vm.entity.comprovanteVotacao" placeholder="Comprovante Votação" id="comprovanteVotacao" />
    </div>
    <div class="col-md-3 form-group ">
        <label class="control-label" for="nome">Nome</label>
        <input class="form-control" type="text" ng-model="vm.entity.nome" ng-required="true"placeholder="Nome" id="nome" />
    </div>
    <div class="col-md-3 form-group ">
        <label class="control-label" for="email">Email</label>
        <input class="form-control" type="text" ng-model="vm.entity.email" ng-required="true"placeholder="Email" id="email" />
    </div>
    <div class="col-md-3 form-group ">
        <label class="control-label" for="login">Login</label>
        <input class="form-control" type="text" ng-model="vm.entity.login" ng-required="true"placeholder="Login" id="login" />
    </div>



    <div class="col-md-3 form-group ">
        <label class="control-label">Eleicao
            <a class="btn-detail" ng-show="vm.searchSelects.eleicao.id != null" ng-click="$event.stopPropagation(); view('lg','Eleicao');"><i class="fa fa-fw fa-search-plus"></i></a>
        </label>
        <div angucomplete-alt id="eleicaoAutoComplete"
              placeholder="Busca por Nome ou Descrição ou Descrição Orientacao ou Criterio Desempate ou Email Convite ou "
              name="eleicao"
              pause="500"
              remote-url="/sev/api/eleicao/searchText?text="
              selected-object="vm.searchSelects.eleicao"
              remote-url-data-field="content"
              title-field="nome,descricao,descricaoOrientacao,criterioDesempate,textoEmailConvite,"
              input-class="form-control"
              field-required="true"
              text-no-results="Nenhum registro encontrado"
              text-searching="Buscando"
              auto-match="true"/>
    </div>




<div class="col-md-3 form-group" show-errors>
    <label class="control-label" for="cdmatricula">Códigomatricula </label>
    <input class="form-control" type="text" ng-maxlength="8" ng-model="vm.entity.cdmatricula" required placeholder="Códigomatricula"  id="cdmatricula" />
    <span class="help-block" ng-show="cdmatricula.$error.required">Obrigatório</span>
</div>
    <div class="col-md-3 form-group" ng-controller="DefaultDatepickerController" show-errors>
        <label class="control-label" for="dataVoto">Data Voto </label>
        <div class="input-group">
            <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" is-open="opened" date-disabled="disabled(date, mode)" close-text="Close"
                ng-model="vm.entity.dataVoto" current-text="Hoje" clear-text="Limpar"  id="dataVoto" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
    </div>
<div class="col-md-3 form-group" show-errors>
    <label class="control-label" for="descricaoCargo">Descrição Cargo </label>
    <input class="form-control" type="text" ng-maxlength="60" ng-model="vm.entity.descricaoCargo" placeholder="Descrição Cargo"  id="descricaoCargo" />
</div>
<div class="col-md-3 form-group" show-errors>
    <label class="control-label" for="versao">Versao </label>
    <input class="form-control" type="text" ng-maxlength="22" ng-model="vm.entity.versao" placeholder="Versao"  id="versao" />
</div>






