<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d %p [%c] - %m%n</Pattern>
        </layout>
    </appender>

    <logger name="org.hibernate.cfg.Configuration" level="DEBUG"/>
    <logger name="org.hibernate.ejb" level="DEBUG"/>
    <logger name="org.hibernate.internal" level="DEBUG"/>
    <logger name="java.sql" level="DEBUG"/>
    <logger name="org.hibernate.tool.hbm2ddl.SchemaUpdate" level="INFO"/>

    <root>
        <level value="WARN"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>