
<div class="box box-primary">
    <div class="box-body">
                                <div class="col-md-3" ng-if="vm.entity.situacaoEleicao.descricaoSituacao">
                                    <div class="form-group">
                                        <label class="control-label">Descrição Situacao</label>
                                        <div ng-if="vm.entity.situacaoEleicao.descricaoSituacao"> {{vm.entity.situacaoEleicao.descricaoSituacao}}</div>
                                    </div>
                                </div>






    </div>
</div>

