                                <div class="box-body table-responsive no-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover">
                                                <tr>
                                                    <th>Eleicao</th>
                                                     <th>Msg Composta</th>
                                                     <th>Versao</th>
                                                </tr>
                                                <tr dir-paginate="urna in resultPage.content | itemsPerPage: pagination.pageSize" total-items="resultPage.totalElements" ng-click="select(urna)" pagination-id="urna" ng-class="{selected: urna}">
                                                    <td><p>{{urna.eleicao.nome}}<p></td>
                                                     <td><p>{{urna.msgComposta}}<p></td>
                                                     <td><p>{{urna.versao}}<p></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <dir-pagination-controls
                                        on-page-change="urnaPaginationChanged(newPageNumber)"
                                        boundary-links="true"
                                        template-url="layout/dir-pagination.html"
                                        pagination-id="urna"></dir-pagination-controls>
                                </div>