                                <div class="col-md-4" ng-if="vm.entity.msgComposta">
                                    <div class="form-group">
                                        <label class="control-label">Msg Composta</label>
                                        <div ng-if="vm.entity.msgComposta"> {{entity.msgComposta}}</div>
                                    </div>
                                </div>




                                <div class="col-md-3" ng-if="vm.entity.versao">
                                    <div class="form-group">
                                        <label class="control-label">Versao</label>
                                        <div ng-if="vm.entity.versao"> {{entity.versao}}</div>
                                    </div>
                                </div>


