##spring.datasource.url=jdbc:oracle:thin:@d-dbora11g01:1521:dbmp
##spring.datasource.username=sa
##spring.datasource.password=
##spring.datasource.driver-class-name=oracle.jdbc.driver.OracleDriver
#spring.datasource.jndi-name=java:jboss/datasources/bootdemo
#spring.datasource.jndi-name=jdbc/${project.name}Ds

spring.datasource.url=jdbc:oracle:thin:@d-dbora11g01:1521:dbmp
##spring.datasource.username=walter
##spring.datasource.password=a1234
spring.datasource.username=NMSM10
spring.datasource.password=a123
spring.datasource.driver-class-name=oracle.jdbc.driver.OracleDriver
spring.datasource.testOnBorrow=true
spring.datasource.validation-query= select 1 from dual

#JPA/HIbernate
spring.jpa.show-sql=true

spring.jpa.hibernate.max_fetch_depth=0
spring.jpa.hibernate.max-fetch-depth=0
spring.jpa.hibernate.max.fetch.depth=0

hibernate.cache.use_query_cache=true
hibernate.cache.use_second_level_cache=true
hibernate.cache.query_cache_factory=org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory

hibernate.cache.use-query-cache=true
hibernate.cache.use-second-level-cache=true
hibernate.cache.query-cache-factory=org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory

hibernate.cache.use.query.cache=true
hibernate.cache.use.second.level.cache=true
hibernate.cache.query.cache.factory=org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory
