/*HTML & BODY*/
    html, body {overflow-x: visible!important;font-family: 'Source Sans Pro', sans-serif !important;-webkit-font-smoothing: antialiased; min-height: 100%;background: #ecf0f1;}
    body.waiting-for-angular div#content-outer {display: none;}
    body.waiting-for-angular div#user-area {display: none;}
    body.waiting-for-angular div#initializing-panel {display: block;position:absolute; top:0;left:0; width: 100%;height: 100%;}

/*FIM HTML & BODY*/

/*TAGS*/
body{padding-top:51px;}
p{margin-bottom:0px;}
h3{margin-top:3px;margin-bottom:3px;padding: 0 0 0 3px;}
header{background:#007aaf;width:100%;position:absolute !important;}
textarea{resize: none;}
/*FIM TAGS*/

/*FONT-FACE*/
    @font-face {font-family: 'Kaushan Script';font-style: normal;font-weight: 400;src: local('Kaushan Script'), local('KaushanScript-Regular'), url(    ../fonts/kaushan-script.woff2) format('woff2');}
    @font-face {font-family: 'Source Sans Pro';font-style: normal;font-weight: 400;src: url(../fonts/SourceSansPro-Regular.ttf);}
    @font-face {font-family: 'Source Sans Pro';font-style: normal;font-weight: bold;src: url(../fonts/SourceSansPro-Bold.ttf);}
/*FIM FONT-FACE*/

/*LOGO*/
    .skin-blue  a.logo, .skin-blue  a.logo:hover{transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;text-indent:-9999px; background:#007aaf url(../images/logo.png) no-repeat}
    .skin-blue  a.logo{background-position:0px 0px;}
    .skin-blue  a.logo:hover{background-position:0px -50px;}
    h1.logo-sm{position:absolute;display:block;width:100px;height:40px; margin:0 0 0 40px;padding:0;background:url(../images/logo-sm.png)}
/*FIM LOGO*/

.accordion-toggle .glyphicon{color:#fff;font-size:0.7em;}
.alert {padding-left: 20px !important;margin-left: 0px !important;position: relative !important;margin-bottom:10px;}
.alert-dismissable, .alert-dismissible{padding:3px 35px 3px 3px;font-size:0.95em;margin:3px 0 0 0;}
.alert-dismissable .close, .alert-dismissible .close{top:-4px;right:-31px;}
.alertaBoxTitulo {font-size: 13px !important;font-weight: bold;}
.alertasDestaque{color : #3c8dbc;font-weight: bold;}
.alertasPrincipal{color : #3c8dbc; font-weight: bold;}
.angucomplete-dropdown {overflow-y: auto;max-height: 200px; width: 100%;}
.bg-light-blue{background-color:#007aaf!important;}
.box{margin-bottom: 7px; border-radius:0;box-shadow:none;border:1px solid #ededed;}
.box .box-header{padding-bottom: 3px;}
.box .box-header > .fa, .box .box-header > .glyphicon, .box .box-header > .ion, .box .box-header .box-title{padding: 7px 0px 7px 10px;}
.box .box-body{padding: 3px;}
.box .box-footer{padding:3px 12px;}
.box.box-primary.box-primary-home{text-align:center!important;color:#007aaf;margin-bottom:14px;}
.box.box-primary.box-primary-home p{margin: 14px auto 14px auto;}
/*.box.box-primary.box-primary-home{transition:0.1s;-webkit-transition:0.1s;-moz-transition:0.1s;}*/
.box.box-primary.box-primary-home:hover{-webkit-transform: scale(1.1,1.1);transform: scale(1.1,1.1);box-shadow:1px 1px 10px #999;}
.breadcrumb{margin-bottom:0px;}
/*.btn:hover, .btn:focus{color:#000;}*/
.btn-detail-search{height: 30px;padding: 5px 7px 7px 7px;border: 0;font-size: 1em;color: rgb(0, 122, 175); margin: -7px 0 0 0;background: transparent;}
.btn-detail-alert {height:30px;padding: 5px 7px 7px 7px;border: 0;font-size: 1.4em;color: rgb(0, 122, 175);cursor:pointer;}
.btn-detail-pendencia{height:30px;padding: 5px 7px 7px 7px;border: 0;font-size: 1.4em;color:#f56954;cursor:pointer;}
.btn.btn-danger.btn-grid.btn-sm, .btn.btn-primary.btn-grid.btn-sm, .btn.btn-default.btn-grid.btn-sm{padding: 1px 5px !important; margin: 3px auto 0 auto !important;font-size: 1.0em;display:block;max-width:24px;}
.camposAlertas{font-size: 11px;}

.content.settlement-term p{font-size: 0.9em;}
.dropdown-menu{background:#fff !important;}
.form-box{box-shadow: -3px 3px 7px #ccc;}
.form-box.form-box-message{box-shadow:none;text-align:center;margin-top:21px;}
.form-box .header{background: #007aaf !important;}
.form-control{border-top:1px solid #ededed;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ededed;}
.form-control:focus{border-color:#ccc !important;box-shadow:0px 0px 5px #aaa;background:#fafafa;}
.form-group{margin-bottom: 3px;margin-top:3px;}
/*.form-group .fa-search{color: #fff; }*/
    /*CAMPO OBRIGATÓRIO*/
        .form-group.has-warning label{color:#000;width:100%;}
        .form-group.has-warning .form-control{border:2px solid #EACBA1 !important;}
        .form-group.has-warning .form-control:focus{box-shadow:0px 0px 5px orange; background:#faebcc;}
        /*.form-group.has-warning .fa-asterisk{color:#EACBA1;}*/
    /*FIM CAMPO OBIGATÓRIO*/
    /*CAMPO ESCONDIDO*/
    .form-group.form-group-open .form-control{}
.form-search label{background: #007AAF;width: 100%;padding: 4px 3px 0px 3px;margin: 3px 0 0 0;border-radius: 3px 3px 0 0;color: #fff !important;}
.gridStyle {border: 1px solid rgb(212,212,212);}
.gridStyle .ngViewport {overflow-x: hidden;}
.gridStyle button.btn.btn-danger{padding:2px !important;margin:2px !important;}
.grid-align-right{text-align: right !important;}
.grid-align-center{text-align: center !important;}
.gridTotais {border: 1px solid rgb(212,212,212);min-height: 85px!important;}
.ngTopPanel{background:#fff;}
.ngFooterPanel{background:#fff;}
.ngPagerContainer.ngNoMultiSelect{  float: right !important;margin: 5px 0px 0 0px !important;}
 .ngFooterPanel span{text-indent:-9999px}
 .ngFooterPanel select{margin: 0;padding: 0;width: 43px !important;margin-left: 7px;border: 1px solid #ccc;border-radius: 4px;background:#fafafa;}
 .ngRowCountPicker{margin-right:3px !important;}
 .ngHeaderContainer{border-bottom:1px solid #ccc;font-weight:600; text-align:center; }
 input.ngPagerCurrent{border: 1px solid #ccc;border-radius: 4px;background: #fafafa;width: 57px !important;}
 .ngPagerButton{height: 25px;min-width: 26px;border: 1px solid #ccc;background-color: #fafafa; border-radius:4px;}
.ngTotalSelectContainer{  margin: 0px;width: 100%;background: #fafafa;font-size: 0.7em;font-weight: bold;border-radius: 4px;padding: 0px 3px;text-align:right;}
.info-graphic{min-height:435px;border:none;}
.left-side{top:50px !important;}
.login-holder{position:relative;-webkit-animation: login-animate 1s; /* Chrome, Safari, Opera */animation: login-animate 1s;}
.navbar.navbar-footer p small{height:24px;padding:3px 0 3px 80px;text-transform: uppercase;font-size: 0.65em;letter-spacing: 1pt;background:url(../images/logotipo-footer.svg)no-repeat left center;}
.modal-dialog{width:70% !important;margin: 10% auto;}
.modal-sm{width:340px !important;}
.modal-header .close{color:#fff;}
.modal-footer{text-align:inherit;padding:3px 7px;}
.modal-body{padding:3px 7px;}
.modal-header{padding:3px 7px;background: #2980b9; color:#fff;}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer{background-color:#007aaf!important;border-top: 1px solid #0E87BB !important;}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p{font-size:14px;}
body > .header .navbar{min-width:320px;height:50px;background:#007AAF;}
.ngHeaderText {white-space: normal !important;}
.panel{margin-bottom:0 !important;background-image:none;}
.panel-body{padding:7px;}
.panel-default > .panel-heading{transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;background:#F2F6F7;}
.panel-default > .panel-heading:hover{background-color:#fafafa}
.panel.panel-default{border-top:0;border-left:0;border-right:0;border-bottom:1px solid #ddd;}
.panel-default > .panel-heading + .panel-collapse > .panel-body{background:#ECF0F1;border-left:4px solid #007AAF;}
.panel-default > .panel-heading + .panel-collapse > .panel-body a{padding: 7px 0px 7px 0;width:100%;display:block;text-indent: 7px;margin: 1px 0 0 0;/*border-bottom: 1px dotted #ccc;*/transition:0.3;-webkit-transition:0.3s;-moz-transition:0.3s;-ms-transition:0.3s;}

.panel-group .panel + .panel{margin-top:0px;}
.panel-heading{padding:3px 15px;}
.panel-heading h3{margin-top:7px;}
.panel-title > a{display:block;width:100%;padding:10px 7px;cursor:pointer;font-size:0.85em;}
.panel-titleAlerta {margin: 0 !important; font-size: 12px !important; color: inherit !important;}
.popover{width:200px;text-align:center;}
.red {color: red;}
.right-side{background-color: #ecf0f1;}
/*.right-side, .left-side{transition:0.2s;-moz-transition:0.2s;}*/
.right-side > .content-header{padding:14px 3px 14px 7px;}
.row{margin-left: -12px;margin-right: -12px;}
span.ui-select-match-item.btn.btn-default.btn-xs{white-space:pre;padding:0 7px;height:auto;font-size:0.65em;text-transform:uppercase;font-weight:bold;}
.sidebar-menu .treeview .treeview-menu li a {margin-left: 10px !important;}

.skin-blue .navbar.navbar-footer{background:#f4f4f4 !important; min-height:28px !important;/*box-shadow:10px -20px 30px #fff;*/color:#999;}
.skin-blue .sidebar{border-bottom:0;}
.table-responsive{overflow-x:auto;}
.tamanhoFixoTabelaAlerta{min-width: 120px; font-weight: bold;}
.tituloTabela{font-weight: bold;}
.transition{transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;}
.user-name{font-size:0.8em;letter-spacing:0.5pt;}
.user-panel{padding: 7px 0 0 0;}

/*CAMPOS MENORES*/
    /*.minion .form-group{margin-bottom:0px;}*/
    .row-small .form-group label{font-size:0.9em;letter-spacing:0.5pt;color:#000;font-weight:bold;  }
    /* .row-small .form-group label .fa{font-size:0.8em;} */
    .row-small .form-group label .fa.fa-sm{font-size:1.0em !important;}
    .row-small .form-group .form-control{height:24px;font-size:0.9em;color:#000;letter-spacing:0.5pt;padding:1px 7px !important;}
    .row-small .form-group textarea{height:auto !important;}
    .row-small .form-group.form-group-primary label{color:#fff;padding-bottom:3px;}
    .row-small .form-group.form-group-primary label .fa{margin-top:3px;font-size:1.0em;}
    .row-small .form-group .btn{height: 24px;padding: 0px 7px 0 7px;font-weight:400;transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;}
/*FIM CAMPOS MENORES*/

/*MEDIA QUERIES*/
    @media (max-width: 560px) {
        .right-side, .left-side{transition:0.2s;}
         .form-group .btn.btn-primary{width:100%; text-align:left; margin-bottom:3px;} 
        .box-footer .btn{width:100%;margin-top:7px;text-transform:uppercase;text-align:left;}
         .form-group .btn.btn-primary, .form-group .btn.btn-danger, .form-group .btn.btn-default, .form-group .btn.btn-success, .form-group .btn.btn-info {width:100%; text-align:left; margin-bottom:3px;} 
        }
    @media (max-width:767px) {
        .modal-lg{width:97% !important;}

        }
    @media (max-width: 992px){
        .left-side {top: 0px !important;}
        .navbar-nav > li > a{color:#fff;padding: 7px;}
        .navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a:visited, .navbar-nav > li > a:active{background:none !important;}
        body > .header .navbar .sidebar-toggle{display:none;}
        .app-name{display:none !important;}
        body{padding-top:53px !important;}
        }
    @media print{
    	a{
    	    display:none;
    	    }
    	body{
    	    visibility:hidden;margin:0; padding:0;height:800px;
    	    }
    	#ad{
    	    display:none;
    	    }
    	#leftbar{
    	    display:none;
    	    }
    	#contentarea{
    	    width:100%;
    	    }
    	#printArea{
            visibility:visible;
            }
    	.btn{
    	    visibility:hidden;
            }
    	.modal{
    	    display:table;width:100% important!;margin:0;padding:0;position:absolute;
    	    }
        }

/*MENU MOBILE*/
    .bkg-menu-mobile .menuMobile{width:320px;min-height:768px;Height:100%;position:absolute;background:#007AAF ; z-index:1004; box-shadow:15px -15px 35px #ccc;top:0px;}
    .bkg-menu-mobile{position: absolute;min-height: 1280px;height:100%; width: 100%;background: url(../images/bkg-menu-mobile.png);z-index: 1000;-webkit-trasition: 1s;top:0px;}
    .logo-mobile{width:320px;height:100px;margin:0 auto; padding:0; background:#007AAF url(../images/logo-mobile.png) no-repeat center center;   }
    .opened {transition:0.3s;-webkit-transition:0.3s;-webkit-animation: animeMenuMobile 0.5s;animation: animeMenuMobile 0.5s;top:-50px;}
    .closed {left:-320px;transition:0.3s;-webkit-transition:0.3s;-webkit-animation: fechaAnimado 0.5s;animation: fechaAnimado 0.5s;box-shadow:none !important;top:-50px;}
    .btn-toothlet{float:right;margin-top:3px;margin-right: -37px;border-radius: 0 4px 4px 0;border-color: transparent !important;background-color: #007aaf !important;color:#fff;}
    .btn-toothlet:hover, .btn-toothlet:focus{color:#fff;}
    .bkg-menu-mobile.aparecer{}
    .bkg-menu-mobile.desaparecer{min-height:1px !important;height:1px !important;background:none;}
/*FIM MENU MOBILE*/

/*ANIMAÇÕES*/
    @-webkit-keyframes animeMenuMobile {
        0%   {left:-225px;top:0px;}
        100% {left:0px; top:0px;}
        }
    @-webkit-keyframes fechaAnimado {
        0%   {left:0px;top:0px;}
        100% {left:-320px; top:0px;}
        }
    @-webkit-keyframes login-animate {
        0%   {top: -9999px; left:0px;}
        90%  {top:30px; left:0px;}
        100%  {top:0px; left:0px;}
        }
    @keyframes login-animate {
        0%   {top: -9999px; left:0;}
        90%  {top:30px; left:0px;}
        100%  {top:0px; left:0px;}
        }
    @keyframes shake {
        0% {transform: translateX(0);}
        12.5% {transform: translateX(-6px) rotateY(-5deg)}
        37.5% {transform: translateX(5px) rotateY(4deg)}
        62.5% {transform: translateX(-3px) rotateY(-2deg)}
        87.5% {transform: translateX(2px) rotateY(1deg)}
        100% {transform: translateX(0)}
        }
    .shake {
        animation: shake 500ms ease-in-out;
        }
    @-webkit-keyframes animate-content {
        0%   {left:9999px; top:2px;}
        100% {left:0px; top:2px;}
        }
    @keyframes animate-content {
        0%   {left:9999px; top:2px;}
        100% {left:0px; top:2px;}
        }
/*MOZ*/
    @-moz-document url-prefix() {fieldset { display: table-cell; }}

/*class campo obrigatorio forms*/
label.label-required:after{content:" * ";}

/*tab*/
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{border-top:2px solid #00acd6 !important;border-right:1px solid #ededed  !important;border-left:1px solid #ededed !important;}
    .nav-tabs > li > a{cursor:pointer  !important;}
    ul.nav.nav-tabs{margin-top:7px;/*background: linear-gradient(to top, #ededed , #f9f9f9);*/}
    .nav > li > a{padding:3px 15px;background-color: #fafafa;border-top: 2px solid #ddd;color: #ccc;-webkit-transition:0.3s;-moz-transition:0.3s;transition:0.3s;}
    .nav-tabs > li > a:hover{border-color: transparent;border-top: 2px solid #ccc;color: #999;}
    .nav-tabs-custom > .nav-tabs > li.active{border-top-color: #3c8dbc  !important;}
    .nav-tabs-custom > .tab-content{padding:10px;border-right:1px solid #ededed;border-bottom:1px solid #ededed;border-left:1px solid #ededed;}
    .nav-tabs-custom{margin-bottom:7px;}


.right-side > .content-header > .breadcrumb{top:-1px;}
.box.box-default{border-color:transparent;}
a.btn.btn-primary.btn-detail {padding: 1px 5px 1px 5px;margin: 1px 0px 0px 3px;}
.app-name{display:block; width:100%;background:transparent;color:#fff;padding:14px 7px;font-weight: 300;margin:0 auto;text-align:center;font-size:1.2em;  line-height: 1.2em;}
.browsehappy{margin:7px auto 0 auto;width:50%;background:#fafafa;border:1px solid #bce8f1;padding:7px;  color: #31708f;background-color: #d9edf7; text-align:center;}
.block-ui-message{text-indent:9999px; background:url(../imagens/load.gif); width:16px; height:11px;padding:0;}
.block-ui-overlay{opacity:0.9;}
.ngViewport.ng-scope {
    height: auto !important;
    overflow-y: hidden;
}
a.dropdown-toggle{padding:14px !important;}
.list-group{margin-bottom:7px;}
/*.block-ui-message{background:#d9edf7;border:1px solid #bce8f1; color:#31708f !important;font-family:'Source Sans Pro';}*/
.block-ui-message{text-indent:9999px; background:url(../images/load.gif); width:16px; height:11px;padding:0;}
.block-ui-overlay{opacity:0.9;}


/*usado com angucomplete-alt*/
.highlight {color: #3c8dbc;}

/*.angucomplete-dropdown{top:5px !important;border-radius:0px 0px 0px 0px;background:#fff;position:relative;max-height:170px !important;}*/

.mt7{margin-top:7px;}
.mt30{margin-top:30px;}
.pdr-7{padding-right:7px;}
.pdl-7{padding-left:7px;}

.alert-default{color:#ccc;background-color:#fafafa;border-color:#ededed;margin-bottom:4px;}


section.content .panel-default > .panel-heading{ border:1px solid #ededed;border-bottom:2px solid #ccc;margin-top: 3px;}
section.content .panel-default > .panel-heading:hover{color:#ccc;}
section.content .panel-default > .panel-heading + .panel-collapse > .panel-body{background:#fff;border:1px solid #ededed;}
.panel-group{margin-bottom:0px;}
label.btn.btn-default.ng-pristine.ng-valid.active, label.btn.btn-default.ng-valid.ng-dirty.active, label.btn.btn-default.ng-valid.ng-dirty.active:focus:hover, label.btn.btn-default.ng-valid.ng-dirty.active:hover{background:#00acd6 !important;color:#fff;}
span.btn.btn-default.ng-pristine.ng-valid.active, span.btn.btn-default.ng-valid.ng-dirty.active, span.btn.btn-default.ng-valid.ng-dirty.active:focus:hover, span.btn.btn-default.ng-valid.ng-dirty.active:hover{background:#00acd6 !important;color:#fff;}

.box-text{padding: 15px;width: 80%;margin: 20px auto 35px auto;border-radius: 4px;font-weight: 300;font-size: 1.3em;}
.box-text p{margin-bottom:21px; }
.box-text a{font-weight: bold;border-bottom: 1px dotted #007AAF;text-transform: lowercase;}

.right-side > .content-header > h1{font-weight:300;}

.skin-blue .right-side > .content-header{box-shadow:none;border-bottom:1px solid #ededed;}
.skin-blue .left-side{background:#007AAF;border-right:1px solid #e5e5e5;}
.skin-blue .right-side > .content-header{background: #F2F6F7;}



/* BTN GRID */
.btn-grid-pdf, .btn-grid-edit, .btn-grid-search, .btn-grid-remove{font-size: 1.2em !important; display: block;max-width:22px;margin:0 auto;padding:3px !important;}
.btn-grid-pdf, .btn-grid-remove{color:#e74c3c;}
.btn-grid-pdf:hover, .btn-grid-remove:hover{color:#c0392b;background:none !important;}
.btn-grid-search{color:#e67e22;}
.btn-grid-search:hover{color:#d35400;}

.field-import span{height:24px;border:1px solid #ededed;padding: 3px 7px; font-size: 0.65em;  font-weight: bold;  letter-spacing: 0.7pt;width:100%;display: block;text-transform:uppercase;}

h4.modal-title{font-weight:300;letter-spacing: 0.5pt}



.content{
    padding:7px 9px;
    position: relative;
    min-height:568px;
    background:#ecf0f1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    z-index: 100;}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        transform: translateX(40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
body > .header .navbar .nav > li.user > a{background:transparent !important;border-top:transparent;}

.menu .panel{margin-bottom:0 !important;background-image:none;box-shadow:none;}
.menu .panel-body{padding:7px;}
.menu .panel-default > .panel-heading{transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;background-color:#0483BA; border-radius:0px; border-bottom: 1px solid #007aaf;}
.menu .panel-default > .panel-heading:hover{background-color:#037CB0;}
.menu .panel.panel-default{border-top:0;border-left:0;border-right:0;border-bottom:0;}
.menu .panel-default > .panel-heading + .panel-collapse > .panel-body{background:#007AAF;border:0;border-left:3px solid cyan;}
.menu .panel-default > .panel-heading + .panel-collapse > .panel-body a{padding: 3px 0px 7px 7px;width:100%;display:block;margin: 1px 0 0 0;/*border-bottom: 1px dotted #ccc;*/transition:0.3s;-webkit-transition:0.3s;-moz-transition:0.3s;-ms-transition:0.3s;color:#ccc;}
.menu .panel-default > .panel-heading + .panel-collapse > .panel-body a:hover{/*-ms-transform: scale(1.1,1.1); *//* IE 9 *//*-webkit-transform: scale(1.1,1.1); *//* Chrome, Safari, Opera *//*transform: scale(1.1,1.1);*/color:#fff;}
.menu .panel-default > .panel-heading + .panel-collapse > .panel-body a:focus{border-radius:4px;color:#fff; font-weight:bold;}
.menu .panel-group .panel + .panel{margin-top:0px;}
.menu .panel-heading{padding:3px 15px;}
.menu .panel-heading h3{margin-top:7px;}
.menu .panel-title > a{display:block;width:100%;padding:10px 7px;cursor:pointer;color:#fff !important;letter-spacing:0.1em;font-weight:300;font-size:0.8em;}

.btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default.hover{background:#ddd !important;}