body.waiting-for-angular div#content-outer {
  display: none;
}
/** background: url(../images/loading.gif) center center no-repeat; **/
body.waiting-for-angular div#initializing-panel {
  display: block;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
a.logo-control{text-indent:-9999px; color: #fff;float: left;font-family: 'Marcellus SC', serif; font-size: 1.1em; margin: 14px 0 0 11;text-shadow: 1px 1px 5px #666;}
.skin-blue  a.logo, .skin-blue  a.logo:hover{text-indent:-9999px; background:#007aaf url(../images/logotipo.svg) no-repeat center center;}
.skin-blue .navbar.navbar-footer{background:#f4f4f4 !important; min-height:20px !important;box-shadow:10px -20px 30px #fff;color:#999;}
.navbar.navbar-footer p small{height:24px;padding:3px 0 3px 80px;text-transform: uppercase;font-size: 0.65em;letter-spacing: 1pt;background:url(../images/logotipo-footer.svg)no-repeat left center;}
.logo-control span{font-size: 2em;}
.row{margin-left: -12px;margin-right: -12px;}
.info-graphic{min-height:435px;border:none;}
/* adminlte */
.content{padding:7px 7px 0 7px;}
.box{margin-bottom: 7px;}
.box .box-header{padding-bottom: 3px;}
.box .box-body{padding: 3px;}
.box .box-header > .fa, .box .box-header > .glyphicon, .box .box-header > .ion, .box .box-header .box-title{padding: 7px 0px 7px 10px;}
body{padding-bottom:40px;}
body > .header .navbar{min-width:320px;height:50px;background:#007AAF;}
.form-group{margin-bottom: 3px;}
.gridStyle {border: 1px solid rgb(212,212,212);min-height: 390px;}
.gridStyle .ngViewport {overflow-x: hidden;}
.gridStyle button.btn.btn-danger{padding:2px !important;margin:2px !important;}
.gridStyle.gridStyle-half{margin-top:3px !important;display:table;min-height:140px !important;}
.btn.btn-default.btn-grid{float:none;margin:auto;display:block;}
header{background:#007aaf;width:100%;}
.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
    width: 100%;
}
.alert {
    padding-left: 20px !important;
    margin-left: 0px !important;
    position: relative !important;
}
.btn.btn-default{height:34px;}
/*.sidebar .sidebar-menu > li > a, .skin-blue .treeview-menu > li > a{color:#007aaf !important;}*/
/* CAMPOS OBRIGATÓRIOS */
/* WARNING */
.form-group.has-warning .form-control{border:1px solid #fbe9e7 !important;border-bottom:1px solid #f39c12 !important;}
.form-group.has-warning .form-control:focus, .form-group.has-warning-plus .form-control:focus {border:1px solid #f39c12 !important; }
.form-group.has-warning .button.btn.btn-default.btn-sm
/* WARNING PLUS */
.form-group.has-warning.has-warning-plus label{padding:2px 3px 0px 3px;margin: 3px 0 0 0;width:100%;  background: #f39c12;border-radius:3px 3px 0 0;color:#fff !important;border-color:transparent !important; }
/* WARNING BRIGHTNESS */
.form-group.has-warning.has-warning-brightness label{border-color:transparent !important;}
.form-group.has-warning.has-warning-brightness input{border-color:#ddd !important; background-color:#f7ead5 !important;}
.form-group.has-warning.has-warning-brightness input:focus{box-shadow: 1px 1px 10px #f39c12 !important;border:none !important; }
/* WARNING SIMPLIFIED */
.form-group.has-warning.has-warning-simplified .form-control{border:1px solid orange}
.form-group.has-warning.has-warning-simplified label{border-color:#f7ead5 !important;}
/* WARNING STONED */
.form-group.has-warning.has-warning-stoned .form-control{background:#f39c12;box-shadow:1px 1px 5px #666 inset !important;}
.form-group.has-warning.has-warning-stoned label{border-color: transparent !important;}
/* WARNING CLEAN*/
.form-group.has-warning.has-warning-clean .form-control{background:#fff;color:#666;box-shadow:1px 1px 15px #f7ead5 !important;}
.form-group.has-warning.has-warning-clean .form-control:focus{border-color:#f7ead5 !important;}
.form-group.has-warning.has-warning-clean label{border:transparent !important;color:#f39c12 !important;}

.form-group label{padding:2px 3px 0px 3px;margin: 3px 0 0 0;width:100%;}
.form-group label .fa.fa-search{color:#ddd !important;}
.form-group.has-warning label{color:#000;padding:2px 3px 0px 3px;margin: 3px 0 0 0;width:100%; /* background: #f39c12;border-radius:3px 3px 0 0;color:#fff !important;*/ }
.modal-lg{width:75% !important; }
a.btn-detail{ padding:3px 7px;margin:3px 0 0 7px; }
.form-search label{background: #007AAF;width: 100%;padding: 2px 3px 0px 3px;margin: 3px 0 0 0;border-radius: 3px 3px 0 0;color: #fff !important;}
.form-group.form-search .fa-search{color: #fff;}

.form-control{border-top:1px solid #ededed;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-left:1px solid #ededed;}
.form-control:focus{border-color:#ccc !important;}
.popover{color:#000;}

.form-group.form-group-primary label{width:100%;padding: 0px 3px 0px 3px;margin: 3px 0 0 0;background:#337ab7;border-top:1px solid #ededed;border-right:1px solid #ccc;border-left:1px solid #ededed;border-radius:4px 4px 0 0;color:#fff;}
.form-group.form-group-primary input{box-shadow:1px 0 3px #ccc inset;}
.form-group.form-group-primary-clean label{}
.form-group.form-group-primary-clean input{border-top:2px solid #337ab7;}
.form-group.form-group-primary-clean .fa-search{color:#337ab7!important;}
.list-group{margin-bottom:0px;margin-top:1px;}
.list-group-item{padding:5px 10px !important;font-size:0.65em;letter-spacing:1.0px;}

label.btn.btn-default.active, label.btn.btn-default.ng-untouched.ng-valid.ng-dirty.active.ng-valid-parse, label.btn.btn-default.ng-untouched.ng-valid.ng-dirty:hover{background:#007aaf !important;color:#fff;}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{border-top:1px solid #ededed !important;border-right:1px solid #ededed  !important;border-left:1px solid #ededed !important;}
.nav-tabs > li > a{cursor:pointer  !important;}
/*.nav > li > a{padding:3px 15px;}*/
.nav-tabs-custom > .nav-tabs > li.active{border-top-color: #3c8dbc  !important;}

/* SLIDE CONTENT */
.content{ position: relative;top:2px;-ms-animation:animate-content o.5s;-moz-animation:animate-content o.5s; -webkit-animation: animate-content 0.5s; /* Chrome, Safari, Opera */animation: animate-content 0.5s;}


@-ms-keyframes animate-content {
    0%   {left:9999px; top:2px;}
    100% {left:0px; top:2px;}
}
@-webkit-keyframes animate-content {
    0%   {left:9999px; top:2px;}
    100% {left:0px; top:2px;}
}
@keyframes animate-content {
    0%   {left:9999px; top:2px;}
    100% {left:0px; top:2px;}
}
@-moz-keyframes animate-content{
    0%   {left:9999px; top:2px;}
    100% {left:0px; top:2px;}
}