<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
    <parent>
        <groupId>${project.group}</groupId>
        <artifactId>${project.name}</artifactId>
        <version>1.0-SNAPSHOT</version>
    </parent>
    <modelVersion>4.0.0</modelVersion>

    <artifactId>${project.name}-api</artifactId>
    <packaging>war</packaging>

    <properties>
        <start-class>${project.group}.Application</start-class>
        <java.version>1.8</java.version>
        <sonar.java.coveragePlugin>cobertura</sonar.java.coveragePlugin>
        <sonar.junit.reportsPath>${project.build.directory}/surefire-reports/</sonar.junit.reportsPath>
    </properties>


    <dependencies>

        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-actuator</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-data-jpa</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-security</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-cache</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-test</artifactId>
            <scope>test</scope>
        </dependency>
        <!-- development dependency only ... TODO profiles...
        <dependency>
            <groupId>org.springframework.data</groupId>
            <artifactId>spring-data-rest-hal-browser</artifactId>
        </dependency>
<!--
        <dependency>
            <groupId>org.springframework.security.oauth</groupId>
            <artifactId>spring-security-oauth2</artifactId>
            <version>2.0.5.RELEASE</version>
        </dependency>
-->
#if( ${project.config.useWorkflow} == true )
        <dependency>
            <groupId>org.activiti</groupId>
            <artifactId>spring-boot-starter-basic</artifactId>
            <version>5.17.0</version>
        </dependency>
<!--
        <dependency>
            <groupId>org.activiti</groupId>
            <artifactId>spring-boot-starter-rest-api</artifactId>
            <version>5.17.0</version>
        </dependency>
-->
#end

        <dependency>
            <groupId>org.hibernate</groupId>
            <artifactId>hibernate-ehcache</artifactId>
            <version>4.3.8.Final</version>
        </dependency>
        <dependency>
            <groupId>commons-io</groupId>
            <artifactId>commons-io</artifactId>
            <version>2.4</version>
        </dependency>
        <dependency>
            <artifactId>commons-lang3</artifactId>
            <groupId>org.apache.commons</groupId>
            <version>3.2.1</version>
        </dependency>
        <dependency>
        	<groupId>org.mybatis</groupId>
        	<artifactId>mybatis</artifactId>
        	<version>3.2.8</version>
        </dependency>
        <dependency>
            <groupId>org.mybatis</groupId>
            <artifactId>mybatis-spring</artifactId>
            <version>1.2.2</version>
        </dependency>
        <dependency>
            <groupId>commons-lang</groupId>
            <artifactId>commons-lang</artifactId>
            <version>2.6</version>
        </dependency>
        <dependency>
            <groupId>org.apache.commons</groupId>
            <artifactId>commons-lang3</artifactId>
            <version>3.2.1</version>
        </dependency>
        <dependency>
            <groupId>com.voodoodyne.jackson.jsog</groupId>
            <artifactId>jackson-jsog</artifactId>
            <version>1.0.1</version>
        </dependency>

#if( ${project.config.guickConnectionInfo.dialect} == 'org.hibernate.dialect.PostgreSQLDialect')
        <dependency>
            <groupId>postgresql</groupId>
            <artifactId>postgresql</artifactId>
            <version>9.1-901-1.jdbc4</version>
        </dependency>
#else
        <dependency>
            <groupId>com.oracle</groupId>
            <artifactId>ojdbc7</artifactId>
            <version>12.2.0.1</version>
        </dependency>
#end

        <dependency>
            <groupId>org.aspectj</groupId>
            <artifactId>aspectjrt</artifactId>
            <version>1.7.4</version>
        </dependency>
        <dependency>
            <groupId>org.aspectj</groupId>
            <artifactId>aspectjweaver</artifactId>
            <version>1.7.4</version>
        </dependency>
        <dependency>
            <groupId>org.springframework</groupId>
            <artifactId>spring-context-support</artifactId>
            <version>4.0.7.RELEASE</version>
        </dependency>
        <dependency>
        	<groupId>joda-time</groupId>
        	<artifactId>joda-time</artifactId>
        	<version>2.5</version>
        </dependency>
        <dependency>
            <groupId>com.google.guava</groupId>
            <artifactId>guava</artifactId>
            <version>18.0</version>
        </dependency>
        <dependency>
            <groupId>org.codehaus.groovy</groupId>
            <artifactId>groovy-all</artifactId>
            <version>2.4.4</version>
        </dependency>

     </dependencies>

##    <profiles>
##        <profile>
##            <id>local</id>
##            <activation>
##                <activeByDefault>true</activeByDefault>
##            </activation>
##            <dependencies>
##                <dependency>
##                    <groupId>org.springframework.boot</groupId>
##                    <artifactId>spring-boot-starter-web</artifactId>
##                </dependency>
##            </dependencies>
##            <build>
##                <plugins>
##                    <plugin>
##                        <groupId>org.flywaydb</groupId>
##                        <artifactId>flyway-maven-plugin</artifactId>
##                        <version>3.0</version>
##                        <executions>
##                            <execution>
##                                <id>update-database-integration-test</id>
##                                <phase>test-compile</phase>
##                                <goals>
##                                    <goal>clean</goal>
##                                    <goal>migrate</goal>
##                                </goals>
##                                <configuration>
##                                    <driver>oracle.jdbc.OracleDriver</driver>
##                                    <url>jdbc:oracle:thin:@localhost:1521:xe</url>
##                                    <user>MGP2</user>
##                                    <schemas>
##                                        <schema>MGP2</schema>
##                                    </schemas>
##                                    <password>MGP2</password>
##                                    <locations>
##                                        <location>filesystem:${project.basedir}/src/main/resources/db/migration</location>
##                                    </locations>
##                                    <table>SCHEMA_VERSION</table>
##                                </configuration>
##                            </execution>
##                        </executions>
##                        <dependencies>
##                            <dependency>
##                                <groupId>com.oracle</groupId>
##                                <artifactId>ojdbc6</artifactId>
##                                <version>11.2.0.3</version>
##                            </dependency>
##                        </dependencies>
##                    </plugin>
##                </plugins>
##            </build>
##        </profile>
##        <!--
##        <profile>
##            <id>integracao-continua</id>
##            <properties>
##                <test.database.url>jdbc:oracle:thin:@d-dbora11gic01:1521:dbmpic</test.database.url>
##                <test.database.user>INTG</test.database.user>
##                <test.database.password>INTG</test.database.password>
##                <spring.profiles.active>ci</spring.profiles.active>
##            </properties>
##        </profile>
##        -->
##    </profiles>

##    <build>
##        <finalName>${project.name}</finalName>
##        <plugins>
##            <plugin>
##                <groupId>org.apache.maven.plugins</groupId>
##                <artifactId>maven-compiler-plugin</artifactId>
##                <version>3.8.0</version>
##                <configuration>
##                    <release>11</release>
##                </configuration>
##            </plugin>
##            <plugin>
##                <groupId>org.codehaus.mojo</groupId>
##                <artifactId>cobertura-maven-plugin</artifactId>
##                <version>2.7</version>
##            </plugin>
##            <plugin>
##                <groupId>org.apache.maven.plugins</groupId>
##                <artifactId>maven-surefire-plugin</artifactId>
##                <version>2.22.0</version>
##                <configuration>
##                    <argLine>
##                        --illegal-access=permit
##                    </argLine>
##                </configuration>
##            </plugin>
##            <plugin>
##                <groupId>org.apache.maven.plugins</groupId>
##                <artifactId>maven-failsafe-plugin</artifactId>
##                <version>2.22.0</version>
##               <configuration>
##                    <argLine>
##                        --illegal-access=permit
##                    </argLine>
##                </configuration>
##            </plugin>
##        </plugins>
##    </build>


</project>
