<h4 class="title">
    Resultado da Busca
</h4>
<div class="row-form">
    <div ng-repeat="${entity.beanName} in resultPage.content">
        <div class="col-md-4 card bounceIn" ng-class="{'stash': !modoCards}">
            <h4 class="status {{vm.cssClassByStatus(card.status)}}">
                 &nbsp;{{${entity.beanName}.${entity.getDistinctedProperties()[0]}}}
            </h4>
            <div class="card-content">
#set($counter = 0)
#set($size = ${entity.getDistinctedProperties().size()})
#foreach( ${property} in ${entity.getDistinctedProperties()})
#if( ${size} < 3 || (${property.column.length} > 30 && ${property.column.length} < 500)) ## case too many fields prefer long string
#if($counter > 0)
                <h4>
                    {{${entity.beanName}.${property}}}#if($counter < ($size - 1))
#{end}
                </h4>
#{end}
#set($counter = $counter+1)
#if($counter == 6)
    <!--
#end
#end
#end

#if($counter > 5)
    -->
#end
            </div>
            <div class="card-footer">
                <a href="">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
        </div>
    </div>
</div>