#set( $js  = "$")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
#set( $rowSize = 0)
#set( $idAgragation = '' )
#foreach( ${property} in ${entity.properties})
#if(${property.column.length} >= 50)
#parse( "stage/frontend/crud/modules/entity/components/showProperty.html.vm" )
#end
#end

#foreach( ${property} in ${entity.parent.getProperties()})
#if(${property.column.length} >= 50)
#parse( "stage/frontend/crud/modules/entity/components/showProperty.html.vm" )
#end
#end

#foreach( ${property} in ${entity.id.getProperties()})
#set( $idAgragation = 'id.' )
#if(${property.column.length} >= 50)
#parse( "stage/frontend/crud/modules/entity/components/showProperty.html.vm" )
#end
#end

#set( $idAgragation = '' )

#foreach( ${property} in ${entity.properties})
#if(${property.column.length} < 50)
#parse( "stage/frontend/crud/modules/entity/components/showProperty.html.vm" )
#end
#end

#foreach( ${property} in ${entity.parent.getProperties()})
#if(${property.column.length} < 50)
#parse( "stage/frontend/crud/modules/entity/components/showProperty.html.vm" )
#end
#end

#foreach( ${property} in ${entity.id.getProperties()})
#set( $idAgragation = 'id.' )
#if(${property.column.length} < 50)
#parse( "stage/frontend/crud/modules/entity/components/showProperty.html.vm" )
#end
#end