<div class="row">
    <div class="col-md-12">
        <div class="row-form">
            <div class="col-md-3 form-group">
                <div class="inputMaterialGroup">
                    <input class="inputMaterial" type="text" ng-model="vm.entity.foto"  id="foto" />
                    <span class="bar"></span>
                    <span class="highlight"></span>
                    <label for="foto">
                        Foto
                    </label>
                </div>
            </div>







<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="descricao" ng-model="vm.entity.descricao" type="text"  />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="descricao">
            Descrição        </label>
    </div>
</div>






</div>
</div>
</div>