<div class="row">
    <div class="col-md-12">
        <div class="row-form">


    <div class="col-md-3 form-group" show-errors>
        <div class="inputMaterialGroup">
            <div class="input-group">
                <img ng-src="data:image/*;base64,{{vm.entity.arquivo}}" ng-show="vm.entity.arquivo" width="80px" />
                <input class="inputMaterial" type="file" fileread="vm.entity.arquivo" filetype="vm.entity.arquivoType" id="arquivo"/>
                <span class="bar"></span>
                <span class="highlight"></span>
            </div>
            <label for="arquivo">
                Arquivo            </label>
        </div>
    </div>

    <div class="col-md-3" show-errors>
        <div class="form-group has-warning">
            <label >Eleicao</label>
            <div angucomplete-alt id="eleicaoAutoComplete"
                input-name="eleicaoAutoComplete"
                initial-value="{{entity.eleicao.nome}}"
                placeholder="Busca por Nome ou Descrição ou Descrição Orientacao ou Criterio Desempate ou Email Convite ou "
                name="eleicao"
                pause="400"
                remote-url="/sev/api/Eleicao/searchText?text="
                selected-object="vm.searchSelects.eleicao"
                remote-url-data-field="content"
                title-field="nome,descricao,descricaoOrientacao,natureza,criterioDesempate,textoEmailConvite,statusApuracao"
                      minlength="2"
                input-class="form-control"
                field-required="true"
                text-no-results="Nenhum registro encontrado"
                text-searching="Buscando"
                auto-match="true"/>
    </div>
</div>
    <div class="col-md-3" show-errors>
        <div class="form-group">
            <label >Evento</label>
            <div angucomplete-alt id="eventoAutoComplete"
                input-name="eventoAutoComplete"
                initial-value="{{entity.evento.ocorrencia}}"
                placeholder="Busca por Ocorrencia ou Justificativa ou Login"
                name="evento"
                pause="400"
                remote-url="/sev/api/Evento/searchText?text="
                selected-object="vm.searchSelects.evento"
                remote-url-data-field="content"
                title-field="ocorrencia,justificativa,login"
                      minlength="2"
                input-class="form-control"
                field-required="true"
                text-no-results="Nenhum registro encontrado"
                text-searching="Buscando"
                auto-match="true"/>
    </div>
</div>
    <div class="col-md-3">
        <div class="form-group has-warning">
            <label >Tipo Relatorio
            </label>
            <div tipoRelatorio-select></div>
        </div>
    </div>

    <div class="col-md-3 form-group" ng-controller="DefaultDatepickerController" show-errors>
        <div class="inputMaterialGroup col-md-10">
            <input type="text" class="inputMaterial" datepicker-popup="{{format}}" is-open="opened" date-disabled="disabled(date, mode)" close-text="Close"
                ng-model="vm.entity.dataCriacao" current-text="Hoje" clear-text="Limpar" required id="dataCriacao" />
            <span class="bar"></span>
            <span class="highlight"></span>
            <label for="dataCriacao">Data Criacao <i class="fa fa-asterisk fa-sm" popover-trigger="mouseenter" popover-placement="up" popover="Campo obrigatório"/></label>
        </div>
        <div class="col-md-2">
            <button type="button" class="bt bt-river bt-circle" ng-click="vm.open($event)"><i class="mdi mdi-calendar"></i></button>
        </div>
    </div>

        </div>
    </div>
</div>