
<div class="box box-primary">
    <div class="box-body">
                                <div class="col-md-3" ng-if="vm.entity.tipoEvento.descricao">
                                    <div class="form-group">
                                        <label class="control-label">Descrição</label>
                                        <div ng-if="vm.entity.tipoEvento.descricao"> {{vm.entity.tipoEvento.descricao}}</div>
                                    </div>
                                </div>






    </div>
</div>

