                                <div class="box-body table-responsive no-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover">
                                                <tr>
#set($counter = 0)
#set($size = ${entity.getDistinctedAllComplexProperties().size()})
#foreach( ${property} in ${entity.getDistinctedAllComplexProperties()})
#if(${property.isManyToOne()} && ${property.referedEntity.name} != ${entity.name})
#if( ${property.referedEntity.getAllImageProperties().size()} > 0 )
                                                    <th>${property.referedEntity.getAllImageProperties()[0].title}</th>
#end
#if( ${size} < 3 || (${property.referedEntity.getMostDescritiveProperties()[0].column.length} > 30 && ${property.referedEntity.getMostDescritiveProperties()[0].column.length} < 500) )
                                                    <th>${property.Title}</th>
#set($counter = $counter+1)
#if($counter == 6)
    <!--
#end
#end
#end
#end
#if($counter > 5)
    -->
#end
############################################
#set($counter = 0)
#set($size = ${entity.getDistinctedProperties().size()})
#foreach( ${property} in ${entity.getDistinctedProperties()})
#if( ${size} < 3 || (${property.column.length} > 30 && ${property.column.length} < 500) ) ## case too many fields prefer long string
                                                    <th>${property.Title}</th>
#set($counter = $counter+1)
#if($counter == 6)
    <!--
#end
#{end}
#end
#if($counter > 5)
    -->
#end
                                                </tr>
                                                <tr dir-paginate="${entity.beanName} in resultPage.content | itemsPerPage: pagination.pageSize" total-items="resultPage.totalElements" ng-click="select(${entity.beanName})" pagination-id="${entity.beanName}" ng-class="{selected: ${entity.beanName}}">
#set($counter = 0)
#set($size = ${entity.getDistinctedAllComplexProperties().size()})
#foreach( ${property} in ${entity.getDistinctedAllComplexProperties()})
#if(${property.isManyToOne()} && ${property.referedEntity.name} != ${entity.name})
#if( ${property.referedEntity.getAllImageProperties().size()} > 0 )
                                                    <td><img ng-src="data:image/*;base64,{{${entity.beanName}.${property.referedEntity.beanName}.${property.referedEntity.getAllImageProperties()[0]}}}" width="80px" /></td>
#end
#if( ${size} < 3 || (${property.referedEntity.getMostDescritiveProperties()[0].column.length} > 30 && ${property.referedEntity.getMostDescritiveProperties()[0].column.length} < 500) )
                                                    <td><p>{{${entity.beanName}.${property.referedEntity.beanName}.${property.referedEntity.getMostDescritiveProperties()[0]}}}<p></td>
#set($counter = $counter+1)
#if($counter == 6)
    <!--
#end
#end
#{end}
#end
#if($counter > 5)
    -->
#end
############################################
#set($counter = 0)
#set($size = ${entity.getDistinctedProperties().size()})
#foreach( ${property} in ${entity.getDistinctedProperties()})
#if( ${size} < 3 || (${property.column.length} > 30 && ${property.column.length} < 500)) ## case too many fields prefer long string
                                                    <td><p>{{${entity.beanName}.${property}}}<p></td>
#set($counter = $counter+1)
#if($counter == 6)
    <!--
#end
#end
#end
#if($counter > 5)
    -->
#end
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <dir-pagination-controls
                                        on-page-change="${entity.beanName}PaginationChanged(newPageNumber)"
                                        boundary-links="true"
                                        template-url="components/directives/dirPagination.tpl.html"
                                        pagination-id="${entity.beanName}"></dir-pagination-controls>
                                </div>