#set( $js  = "$")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )

#set( $idAgragation = '' )
#foreach( ${property} in ${entity.properties})
#if(${property.column.length} >= 50)
#parse( "stage/crud/html/property.html.vm" )
#end
#end

#foreach( ${property} in ${entity.parent.getProperties()})
#if(${property.column.length} >= 50)
#parse( "stage/crud/html/property.html.vm" )
#end
#end

#foreach( ${property} in ${entity.id.getProperties()})
#set( $idAgragation = 'id.' )
#if(${property.column.length} >= 50)
#parse( "stage/crud/html/property.html.vm" )
#end
#end

#foreach( ${complexProperty} in ${entity.getManyToOneProperties()})
#set( $beanName = ${util.uncapitalize($complexProperty.name)} )
#if(${complexProperty.referedEntity.table.count} > 200)
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">${complexProperty.title}</label>
                                        <angucomplete-alt id="${idAgragation}${beanName}AutoComplete"
                                              placeholder="Busca por #set($size = ${complexProperty.referedEntity.properties.size()} )#set($counter = 0)#foreach( ${prop} in ${complexProperty.referedEntity.properties})#set($counter = $counter + 1)#if(${prop.type} == 'String')${prop.title}#if($counter < $size) ou #{end}#{end}#{end}"
                                              name="${beanName}"
                                              pause="400"
                                              selected-object="autoComplete${complexProperty.referedEntity.name}"
                                              remote-url="http://localhost:8080/${complexProperty.referedEntity.name}/searchText?text="
                                              title-field="#set($size = ${complexProperty.referedEntity.properties.size()} )#set($counter = 0)#foreach( ${prop} in ${complexProperty.referedEntity.properties})#set($counter = $counter + 1)#if(${prop.type} == 'String')${prop}#if($counter < $size),#{end}#{end}#{end}"
                                              input-class="form-control"
                                              field-required="true"
                                              auto-match="true"
                                              remote-url-response-formatter="formata${complexProperty}Array"/>
                                    </div>
                                </div>
#else
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <${beanName}-select></${beanName}-select>
                                    </div>
                                </div>
#end
#end


#foreach( ${property} in ${entity.properties})
#if(${property.column.length} < 50)
#parse( "stage/crud/html/property.html.vm" )
#end
#end
