#set( $js  = "$")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
#set( $bigFieldSize = 100)
#set( $isFilter = false )
#set( $idAgragation = '' )
#if(${entity.id.type} != 'Long' && !(${entity.table.pk.size()} == 1 && ${entity.table.pk[0].useUUID}) && !(${entity.table.getFieldThatPointsParentPk().size()} == 1))
#set( $property = ${entity.id} )
#parse( "stage/crud/html/property.html.vm" )
#end
#foreach( ${property} in ${entity.properties})
#if(${property.column.length} >= ${bigFieldSize})
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">${property.title}</label>
                                                    <div>{{entity.${property}}}</div>
                                                </div>
                                            </div>
#end
#end
#########
#foreach( ${property} in ${entity.id.getProperties()})
#set( $idAgragation = 'id.' )
#if(${property.column.length} >= ${bigFieldSize})
                                            <div class="col-xs-12 col-sm-6 col-md-2">
                                                <div class="form-group">
                                                    <label class="control-label">${property.title}</label>
                                                    <div>{{entity.${property}}}</div>
                                                </div>
                                            </div>
#end
#end
