                                <div class="col-md-4" ng-if="vm.entity.ocorrencia">
                                    <div class="form-group">
                                        <label class="control-label">Ocorrencia</label>
                                        <div ng-if="vm.entity.ocorrencia"> {{entity.ocorrencia}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.justificativa">
                                    <div class="form-group">
                                        <label class="control-label">Justificativa</label>
                                        <div ng-if="vm.entity.justificativa"> {{entity.justificativa}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.login">
                                    <div class="form-group">
                                        <label class="control-label">Login</label>
                                        <div ng-if="vm.entity.login"> {{entity.login}}</div>
                                    </div>
                                </div>




                                <div class="col-md-3" ng-if="vm.entity.dataRegistro">
                                    <div class="form-group">
                                        <label class="control-label">Data Registro</label>
                                        <div ng-if="vm.entity.dataRegistro"> {{entity.dataRegistro}}</div>
                                    </div>
                                </div>


