                                <div class="box-body table-responsive no-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover">
                                                <tr>
                                                    <th>Eleicao</th>
                                                    <th>Tipo Evento</th>
                                                     <th>Ocorrencia</th>
                                                     <th>Justificativa</th>
                                                     <th>Login</th>
                                                </tr>
                                                <tr dir-paginate="evento in resultPage.content | itemsPerPage: pagination.pageSize" total-items="resultPage.totalElements" ng-click="select(evento)" pagination-id="evento" ng-class="{selected: evento}">
                                                    <td><p>{{evento.eleicao.nome}}<p></td>
                                                    <td><p>{{evento.tipoEvento.descricao}}<p></td>
                                                     <td><p>{{evento.ocorrencia}}<p></td>
                                                     <td><p>{{evento.justificativa}}<p></td>
                                                     <td><p>{{evento.login}}<p></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <dir-pagination-controls
                                        on-page-change="eventoPaginationChanged(newPageNumber)"
                                        boundary-links="true"
                                        template-url="layout/dir-pagination.html"
                                        pagination-id="evento"></dir-pagination-controls>
                                </div>