<div class="row">
    <div class="col-md-12">
        <div class="row-form">
            <div class="col-md-3 form-group">
                <div class="inputMaterialGroup">
                    <input class="inputMaterial" type="text" ng-model="vm.entity.ocorrencia" ng-required="true" required  id="ocorrencia" />
                    <span class="bar"></span>
                    <span class="highlight"></span>
                    <label for="ocorrencia">
                        Ocorrencia
                    </label>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <div class="inputMaterialGroup">
                    <input class="inputMaterial" type="text" ng-model="vm.entity.justificativa"  id="justificativa" />
                    <span class="bar"></span>
                    <span class="highlight"></span>
                    <label for="justificativa">
                        Justificativa
                    </label>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <div class="inputMaterialGroup">
                    <input class="inputMaterial" type="text" ng-model="vm.entity.login" ng-required="true" required  id="login" />
                    <span class="bar"></span>
                    <span class="highlight"></span>
                    <label for="login">
                        Login
                    </label>
                </div>
            </div>



    <div class="col-md-3 form-group ">
        <label>Eleicao
            <a class="btn-detail" ng-show="vm.searchSelects.eleicao.id != null" ng-click="$event.stopPropagation(); view('lg','Eleicao');"><i class="fa fa-fw fa-search-plus"></i></a>
        </label>
        <div angucomplete-alt id="eleicaoAutoComplete"
              placeholder="Busca por Nome ou Descrição ou Descrição Orientacao ou Criterio Desempate ou Email Convite ou "
              name="eleicao"
              pause="500"
              remote-url="/sev/api/eleicao/searchText?text="
              selected-object="vm.searchSelects.eleicao"
              remote-url-data-field="content"
              title-field="nome,descricao,descricaoOrientacao,criterioDesempate,textoEmailConvite,"
              input-class="form-control"
              field-required="true"
              text-no-results="Nenhum registro encontrado"
              text-searching="Buscando"
              auto-match="true"/>
    </div>
    <div class="col-md-3 form-group ">
        <label>Tipo Evento
        </label>
        <div tipoEvento-select></div>
    </div>




    <div class="col-md-3 form-group" ng-controller="DefaultDatepickerController" show-errors>
        <label for="dataRegistro">Data Registro </label>
        <div class="input-group">
            <input type="text" class="inputMaterial input-sm" datepicker-popup="{{format}}" is-open="opened" date-disabled="disabled(date, mode)" close-text="Close"
                ng-model="vm.entity.dataRegistro" current-text="Hoje" clear-text="Limpar" required id="dataRegistro" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
    </div>






</div>
</div>
</div>