<div class="row">
    <div class="col-md-12">
        <div class="row-form">

<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="ocorrencia" type="text" required />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="ocorrencia">
            Ocorrencia*        </label>
    </div>
</div>
<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="justificativa" type="text"  />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="justificativa">
            Justificativa        </label>
    </div>
</div>
<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="login" type="text" required />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="login">
            Login*        </label>
    </div>
</div>
    <div class="col-md-3" show-errors>
        <div class="form-group has-warning">
            <label >Eleicao</label>
            <div angucomplete-alt id="eleicaoAutoComplete"
                input-name="eleicaoAutoComplete"
                initial-value="{{entity.eleicao.nome}}"
                placeholder="Busca por Nome ou Descrição ou Descrição Orientacao ou Criterio Desempate ou Email Convite ou "
                name="eleicao"
                pause="400"
                remote-url="/sev/api/Eleicao/searchText?text="
                selected-object="vm.searchSelects.eleicao"
                remote-url-data-field="content"
                title-field="nome,descricao,descricaoOrientacao,natureza,criterioDesempate,textoEmailConvite,statusApuracao"
                      minlength="2"
                input-class="form-control"
                field-required="true"
                text-no-results="Nenhum registro encontrado"
                text-searching="Buscando"
                auto-match="true"/>
    </div>
</div>
    <div class="col-md-3">
        <div class="form-group has-warning">
            <label >Tipo Evento
            </label>
            <div tipoEvento-select></div>
        </div>
    </div>

    <div class="col-md-3 form-group" ng-controller="DefaultDatepickerController" show-errors>
        <label for="dataRegistro">Data Registro <i class="fa fa-asterisk fa-sm" popover-trigger="mouseenter" popover-placement="up" popover="Campo obrigatório"/></label>
        <div class="input-group">
            <input type="text" class="inputMaterial input-sm" datepicker-popup="{{format}}" is-open="opened" date-disabled="disabled(date, mode)" close-text="Close"
                ng-model="vm.entity.dataRegistro" current-text="Hoje" clear-text="Limpar" required id="dataRegistro" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm" ng-click="vm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
    </div>

        </div>
    </div>
</div>