<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

<head>
    <title>WDN Consultancy and Solution Developer</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Guick Generated Example" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" />
</head>
<body>

<div class="container">

    <div th:include="common/header :: top" />

    <div class="hero-unit">
        <h1>WDN</h1>

        <h2> Consultancy and Solution Developer</h2>
        <p>Acting with software development since 1994 and with solid experience in developing solutions. Working within the most different architectures, languages
            and tools. Specialized in the development of corporate services, frameworks, critical applications and with high performance requirements.
            With more than 11 years of experience in software architecture on the Java/Groovy platform and its plethora of tools and many other languages like Python and Ruby and C++.</p>

        <p>With a multidisciplinary partnerships, WDN is ready to provide the very best breed of software development and design for your company with the most efficient way.</p>

        <p><a class="btn btn-primary btn-large" href="/about.do">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="span4">
            <h2>Architecture</h2>
            <p>Working with Architecture and Development consultancy for Petrobras, a huge Brazilian Oil Company, over seven years.
                There I've helped on creation critical comparative tools, components and webservices. Created of code patterns, standardized development architectures and much more.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Generated Entities</h2>
#foreach( ${entity} in ${project.metadata.entities})
            <p><a th:href="@{/${entity.name}/filter.do}" href="#">${entity.name}</a></p>
#end
        </div>
        <div class="span4">
            <h2>Social</h2>
            <p>Developed an Social Sponsorship Petrobras Program. A web application for analysis social projects for Petrobras Sponsorship. Based on 2 phases.
                Inscription and an workflow of evaluation and approval.  </p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
    </div>

    <hr />

    <div th:substituteby="common/footer :: copy"></div>

</div>

</body>
</html>