
<div class="box-header"><h3 class="box-title"></h3></div>
    <div class="box-body">
        <div class="row">

        </div>
    </div>
    <div class="box-footer hidden-sm hidden-xs">
        <div class="row">
            <div class="col-md-12">
                <button type="button" back class="bt bt-metal"><i class="mdi mdi-content-save"></i> {{"add" | translate}}</button>
                <button type="button" class="bt bt-asphalt" ng-click="vm.saveContinue()" ng-disabled="userForm.$invalid"><i class="mdi mdi-content-save"></i> {{"associate" | translate}}</button>
            </div>
        </div>
    </div>
    <div class="box-footer hidden-md hidden-lg">
        <div class="row">
            <div class="col-md-12">
                <button type="button" back class="bt bt-metal"><i class="mdi mdi-content-save"></i> </button>
                <button type="button" class="bt bt-asphalt" ng-click="vm.saveContinue()" ng-disabled="userForm.$invalid"><i class="mdi mdi-content-save"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="box box-primary">
    <div class="box-body">
                                <div class="col-md-4" ng-if="vm.entity.nome">
                                    <div class="form-group">
                                        <label class="control-label">Nome</label>
                                        <div ng-if="vm.entity.nome"> {{entity.nome}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.email">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <div ng-if="vm.entity.email"> {{entity.email}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.login">
                                    <div class="form-group">
                                        <label class="control-label">Login</label>
                                        <div ng-if="vm.entity.login"> {{entity.login}}</div>
                                    </div>
                                </div>




                                <div class="col-md-3" ng-if="vm.entity.cdmatricula">
                                    <div class="form-group">
                                        <label class="control-label">Códigomatricula</label>
                                        <div ng-if="vm.entity.cdmatricula"> {{entity.cdmatricula}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="vm.entity.dataValidacao">
                                    <div class="form-group">
                                        <label class="control-label">Data Validacao</label>
                                        <div ng-if="vm.entity.dataValidacao"> {{entity.dataValidacao}}</div>
                                    </div>
                                </div>


    </div>
</div>