
<div class="box box-primary">
    <div class="box-body">
                                <div class="col-md-4" ng-if="vm.entity.integranteComissao.nome">
                                    <div class="form-group">
                                        <label class="control-label">Nome</label>
                                        <div ng-if="vm.entity.integranteComissao.nome"> {{vm.entity.integranteComissao.nome}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.integranteComissao.email">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <div ng-if="vm.entity.integranteComissao.email"> {{vm.entity.integranteComissao.email}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.integranteComissao.login">
                                    <div class="form-group">
                                        <label class="control-label">Login</label>
                                        <div ng-if="vm.entity.integranteComissao.login"> {{vm.entity.integranteComissao.login}}</div>
                                    </div>
                                </div>




                                <div class="col-md-3" ng-if="vm.entity.integranteComissao.cdmatricula">
                                    <div class="form-group">
                                        <label class="control-label">Códigomatricula</label>
                                        <div ng-if="vm.entity.integranteComissao.cdmatricula"> {{vm.entity.integranteComissao.cdmatricula}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="vm.entity.integranteComissao.dataValidacao">
                                    <div class="form-group">
                                        <label class="control-label">Data Validacao</label>
                                        <div ng-if="vm.entity.integranteComissao.dataValidacao"> {{vm.entity.integranteComissao.dataValidacao}}</div>
                                    </div>
                                </div>


    </div>
</div>

