<tabset class="menu-security">
    <tab>
        <div tab-heading>
            <i class="mdi mdi-account-key"></i>
        </div>

        <accordion  class="menu">
            <div class="panel panel-default ng-scope">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#/dashboard" class="ng-binding"> <span>{{"menu.painelInicial" | translate}}</span></a>
                    </h4>
                </div>
            </div>

            <accordion-group is-open="status.open" close-others="oneAtATime" ng-if="isAuthenticated || true" scope>
                <accordion-heading>
                    <span> {{"menu.principal" | translate}} </span>
                    <i class="pull-right mdi mdi-chevron-right" ng-class="{'mdi-chevron-down': status.open, 'mdi-chevron-right': !status.open}"></i>
                </accordion-heading>
                <a href="#/candidato" title="Candidato">
                    <i class="mdi mdi-file-document-box"></i> {{"menu.candidato" | translate}}
                </a>
                <a href="#/cedula" title="Cedula">
                    <i class="mdi mdi-file-document-box"></i> {{"menu.cedula" | translate}}
                </a>
                <a href="#/eleicao" title="Eleicao">
                    <i class="mdi mdi-file-document-box"></i> {{"menu.eleicao" | translate}}
                </a>
                <a href="#/eleitor" title="Eleitor">
                    <i class="mdi mdi-file-document-box"></i> {{"menu.eleitor" | translate}}
                </a>
                <a href="#/evento" title="Evento">
                    <i class="mdi mdi-file-document-box"></i> {{"menu.evento" | translate}}
                </a>
                <a href="#/integranteComissao" title="Integrante Comissao">
                    <i class="mdi mdi-file-document-box"></i> {{"menu.integranteComissao" | translate}}
                </a>

            </accordion-group>
            <accordion-group is-open="status.open" ng-if="isAuthenticated || true">
                <accordion-heading>
                    <span>
                        {{"menu.administracao" | translate}}
                    </span>
                    <i class="pull-right mdi mdi-chevron-right" ng-class="{'mdi-chevron-down': status.open, 'mdi-chevron-right': !status.open}"></i>
                </accordion-heading>
                <a href="#/arquivoRelatorio" title="Arquivo Relatorio">
                    <i class="mdi mdi-file-document"></i> {{"menu.arquivoRelatorio" | translate}}
                </a>
                <a href="#/candidatoPadrao" title="Candidato Padrao">
                    <i class="mdi mdi-file-document"></i> {{"menu.candidatoPadrao" | translate}}
                </a>
                <a href="#/eleicaoParametro" title="Eleicao Parametro">
                    <i class="mdi mdi-file-document"></i> {{"menu.eleicaoParametro" | translate}}
                </a>
                <a href="#/parametro" title="Parametro">
                    <i class="mdi mdi-file-document"></i> {{"menu.parametro" | translate}}
                </a>
                <a href="#/resultadoApuracao" title="Resultado Apuracao">
                    <i class="mdi mdi-file-document"></i> {{"menu.resultadoApuracao" | translate}}
                </a>
                <a href="#/urna" title="Urna">
                    <i class="mdi mdi-file-document"></i> {{"menu.urna" | translate}}
                </a>
            </accordion-group>

        </accordion>
    </tab>
    <tab>
        <tab-heading>
            <i class="mdi mdi-account"></i>
        </tab-heading>
        <accordion  class="menu">
            <accordion-group close-others="oneAtATime"  is-open="status.open" ng-if="isAuthenticated || true">
                <accordion-heading>
                    <span>
                        {{"menu.tipos" | translate}}
                    </span>
                    <i class="pull-right mdi mdi-chevron-right" ng-class="{'mdi-chevron-down': status.open, 'mdi-chevron-right': !status.open}"></i>
                </accordion-heading>
                <a href="#/situacaoEleicao" title="Situacao Eleicao">
                    <i class="mdi mdi-file-document"></i> {{"menu.situacaoEleicao" | translate}}
                </a>
                <a href="#/tipoEvento" title="Tipo Evento">
                    <i class="mdi mdi-file-document"></i> {{"menu.tipoEvento" | translate}}
                </a>
                <a href="#/tipoFiltroPessoa" title="Tipo Filtro Pessoa">
                    <i class="mdi mdi-file-document"></i> {{"menu.tipoFiltroPessoa" | translate}}
                </a>
                <a href="#/tipoIntegranteComissao" title="Tipo Integrante Comissao">
                    <i class="mdi mdi-file-document"></i> {{"menu.tipoIntegranteComissao" | translate}}
                </a>
                <a href="#/tipoParametro" title="Tipo Parametro">
                    <i class="mdi mdi-file-document"></i> {{"menu.tipoParametro" | translate}}
                </a>
                <a href="#/tipoRelatorio" title="Tipo Relatorio">
                    <i class="mdi mdi-file-document"></i> {{"menu.tipoRelatorio" | translate}}
                </a>
            </accordion-group>

            <accordion-group is-open="status.open" ng-if="isAuthenticated || true">
                <accordion-heading>
                    <span> {{"menu.prototipos" | translate}} </span>
                     <i class="pull-right mdi mdi-chevron-right" ng-class="{'mdi-chevron-down': status.open, 'mdi-chevron-right': !status.open}"></i>
                </accordion-heading>
                <accordion>
                    <accordion-group is-open="status.isSubmenuOpen" ng-if="isAuthenticated || true">
                        <accordion-heading>
                            <span>
                                <i class=""></i>
                                Ui Kit
                                <i class="pull-right mdi mdi-chevron-right" ng-class="{'mdi-chevron-down': status.isSubmenuOpen, 'mdi-chevron-right': !status.isSubmenuOpen}"></i>
                            </span>
                        </accordion-heading>
                        <a href="#/alertas" class="ng-binding"><i class="mdi mdi-alert"></i> alertas</a>
                        <a href="#/botoes" class="ng-binding"><i class="mdi mdi-check-circle"></i> Botoes</a>
                        <a href="#/boxes" class="ng-binding"><i class="mdi mdi-checkbox-blank"></i> Boxes</a>
                        <a href="#/dropdown" class="ng-binding"><i class="mdi mdi-check-circle"></i> dropdown</a>

                    </accordion-group>
                </accordion>
                <a href="#/cards" class="ng-binding"><i class="mdi mdi-view-grid"></i> Cards</a>
                <!--<a href="#/book" class="ng-binding"><i class="mdi mdi-book-open-variant"></i> Book</a>-->
                <a href="#/slick" class="ng-binding"><i class="mdi mdi-view-carousel"></i> Slick</a>
                <a href="#/pagination" class="ng-binding"><i class="mdi mdi-view-module"></i> paginação</a>
                <a href="#/progressbar" class="ng-binding"><i class="mdi mdi-timelapse"></i> progressbar</a>
                <a href="#/treeview" class="ng-binding"><i class="mdi mdi-sitemap sitemap90"></i> Treeview</a>
                <a href="#/modal" class="ng-binding"><i class="mdi mdi-open-in-new"></i>Modal</a>
                <a href="#/graficos" class="ng-binding"><i class="mdi mdi-chart-line"></i>Gráficos</a>
                <a href="#/mailbox" class="ng-binding"><i class="mdi mdi-email"></i>Caixa de Mensagem</a>
                <a href="#/widgets" class="ng-binding"><i class="mdi mdi-wrench"></i>Widgets</a>
                <a href="#/form" class="ng-binding"><i class="mdi mdi-pencil-box-outline"></i>Formulários</a>
                <a href="#/wizard" class="ng-binding"><i class="mdi mdi-code-greater-than"></i>Wizard</a>

            </accordion-group>

            <accordion-group is-open="status.open" ng-if="isAuthenticated || true">
                <accordion-heading>
                    <span>{{"menu.sistema" | translate}}</span>
                    <i class="pull-right mdi mdi-chevron-right" ng-class="{'mdi-chevron-down': status.open, 'mdi-chevron-right': !status.open}"></i>
                </accordion-heading>
                <a href="#/sobre"><i class="mdi mdi-apps"></i>{{"menu.sobre" | translate}}</a>
                <a href="/swagger-ui" target="_blank"><i class="mdi mdi-apps"></i>{{"menu.restapi" | translate}}</a>
            </accordion-group>
        </accordion>

    </tab>

</tabset>




