                                <div class="box-body table-responsive no-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover">
                                                <tr>
                                                    <th>Tipo Parametro</th>
                                                     <th>Descrição</th>
                                                </tr>
                                                <tr dir-paginate="parametro in resultPage.content | itemsPerPage: pagination.pageSize" total-items="resultPage.totalElements" ng-click="select(parametro)" pagination-id="parametro" ng-class="{selected: parametro}">
                                                    <td><p>{{parametro.tipoParametro.descricao}}<p></td>
                                                     <td><p>{{parametro.descricao}}<p></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <dir-pagination-controls
                                        on-page-change="parametroPaginationChanged(newPageNumber)"
                                        boundary-links="true"
                                        template-url="layout/dir-pagination.html"
                                        pagination-id="parametro"></dir-pagination-controls>
                                </div>