import { Component, OnInit } from '@angular/core';
import { MatDialog } from '@angular/material';
import { Location } from '@angular/common';
import { ActivatedRoute, Router } from '@angular/router';
import { FormGroup, Validators, FormBuilder } from '@angular/forms';
import { ToastrService } from 'ngx-toastr';
import { ${entity.name} } from '@core/services/domain/${entity.dashedName}';
import { ${entity.name}Service } from '../${entity.dashedName}.service';

@Component({
  selector: 'app-${entity.dashedName}-form',
  templateUrl: './${entity.dashedName}-form.component.html',
})
export class ${entity.name}FormComponent implements OnInit {
  reactiveForm: FormGroup;
  public id: number;
  public tabSelected = '${entity.name}';
  ${entity.beanName}: ${entity.name} = new ${entity.name}();

#foreach( ${complexProperty} in ${entity.getManyToOneProperties()})
#set( $beanName = ${util.uncapitalize($complexProperty.name)} )
  public ${complexProperty.beanName}List: [];
#end
#foreach( ${complexProperty} in ${entity.parent.getManyToOneProperties()})
#set( $beanName = ${util.uncapitalize($complexProperty.name)} )
  public ${complexProperty.beanName}List: [];
#end

  constructor(
    private service: ${entity.name}Service,
    private route: ActivatedRoute,
    private router: Router,
    private location: Location,
    private dialog: MatDialog,
    private fb: FormBuilder) {
    // Create empty formgroup already to prevent error before init component
    this.createFormGroup();
    // Subescribe on :id init/changes
    this.route.params.subscribe(params => {
      if (params['id']) {
        this.id = params['id'];
        this.initTemplate(this.id);
      }
    });
  }

  ngOnInit() {
  }

  initTemplate(id: number) {
    console.log(id);
    this.get(id);
  }

  get(id: any): void {
    this.service.get(id).subscribe(result => {
      this.${entity.beanName} = result;
      this.createFormGroup();
    });
  }

  backClicked() {
    this.location.back();
  }
  createFormGroup() {
    this.reactiveForm = this.fb.group({
#foreach( ${property} in ${entity.properties})
      ${property}: [this.${entity.beanName}.${property}, [#if(!${property.column.nullable})Validators.required#{end} ]],
#end
#foreach( ${property} in ${entity.parent.getProperties()})
      ${property}: [this.${entity.beanName}.${property}, [#if(!${property.column.nullable})Validators.required#{end} ]],
#end
#foreach( ${property} in ${entity.id.getProperties()})
      id_${property}: [this.${entity.beanName}.id.${property}, [#if(!${property.column.nullable})Validators.required#{end} ]],
#end
#set ($stringField = "id")
#foreach( ${complexProperty} in ${entity.getManyToOneProperties()})
#set( $beanName = ${util.uncapitalize($complexProperty.name)} )
      ${complexProperty.beanName}: [this.${entity.beanName}.${complexProperty.beanName}, []],
      ${complexProperty.beanName}Select: ['', []],
#end
#foreach( ${complexProperty} in ${entity.parent.getManyToOneProperties()})
#set( $beanName = ${util.uncapitalize($complexProperty.name)} )
      ${complexProperty.beanName}: [this.${entity.beanName}.${complexProperty.beanName}, []],
      ${complexProperty.beanName}Select: ['', []],
#end
    });
  }
}
