<div class="row">
    <div class="col-md-12 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="nome" ng-model="vm.entity.nome" type="text" required />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="nome">
            Nome        </label>
    </div>
</div>
    <div class="col-md-12 form-group" show-errors>
            <img ng-src="data:image/*;base64,{{vm.entity.foto}}" ng-show="vm.entity.foto" width="80px" />
            <input class="inputMaterial" type="file" fileread="vm.entity.foto" filetype="vm.entity.fotoType" id="foto"/>
    </div>
    <div class="col-md-6 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" type="email" ng-maxlength="200" ng-model="vm.entity.email" id="email" required >
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="email">
            Email        </label>
    </div>
</div>
    <div class="col-md-6 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="nomeCompleto" ng-model="vm.entity.nomeCompleto" type="text" required />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="nomeCompleto">
            Nome Completo        </label>
    </div>
</div>
    <div class="col-md-6 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="login" ng-model="vm.entity.login" type="text" required />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="login">
            Login        </label>
    </div>
</div>
    <div class="col-md-6">
        <div class="form-group">
            <div candidatoPadrao-select></div>
        </div>
    </div>
    <div class="col-md-6" show-errors>
        <div class="form-group ">
            <label >Eleicao</label>
            <div angucomplete-alt id="eleicaoAutoComplete"
                input-name="eleicaoAutoComplete"
                initial-value="{{entity.eleicao.nome}}"
                placeholder="Busca por Nome ou Descrição ou Descrição Orientacao ou Criterio Desempate ou Email Convite ou "
                name="eleicao"
                pause="400"
                remote-url="/sev/api/Eleicao/searchText?text="
                selected-object="vm.searchSelects.eleicao"
                remote-url-data-field="content"
                title-field="nome,descricao,descricaoOrientacao,natureza,criterioDesempate,textoEmailConvite,statusApuracao"
                      minlength="2"
                input-class="form-control"
                field-required="true"
                text-no-results="Nenhum registro encontrado"
                text-searching="Buscando"
                auto-match="true"/>
    </div>
</div>
    <div class="col-md-6 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="cdmatricula" ng-model="vm.entity.cdmatricula" type="text" required />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="cdmatricula">
            Códigomatricula        </label>
    </div>
</div>
    <div class="col-md-6 form-group" ng-controller="DefaultDatepickerController" show-errors>
        <div class="col-md-10 inputMaterialGroup">
            <input type="text" class="inputMaterial" datepicker-popup="{{format}}" is-open="opened" date-disabled="disabled(date, mode)" close-text="Close"
                   ng-model="vm.entity.dataNascimento" current-text="Hoje" clear-text="Limpar"  id="dataNascimento" required />
            <span class="bar"></span>
            <span class="highlight"></span>
            <label for="dataNascimento">Data Nascimento </label>
        </div>
        <div class="col-md-2">
            <button type="button" class="bt bt-river bt-circle" ng-click="vm.open($event)"><i class="mdi mdi-calendar"></i></button>
        </div>
    </div>
    <div class="col-md-6 form-group" show-errors>
        <div class="inputMaterialGroup">
            <input class="inputMaterial" id="criterioDesempate" ng-model="vm.entity.criterioDesempate" type="text" required />
            <span class="bar"></span>
            <span class="highlight"></span>
            <label for="criterioDesempate">
                Criterio Desempate
            </label>
        </div>
    </div>
</div>
