                                <div class="box-body table-responsive no-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover">
                                                <tr>
                                                    <th>Foto</th>
                                                    <th>Candidato Padrao</th>
                                                    <th>Eleicao</th>
                                                     <th>Nome</th>
                                                     <th>Email</th>
                                                     <th>Nome Completo</th>
                                                     <th>Login</th>
                                                </tr>
                                                <tr dir-paginate="candidato in resultPage.content | itemsPerPage: pagination.pageSize" total-items="resultPage.totalElements" ng-click="select(candidato)" pagination-id="candidato" ng-class="{selected: candidato}">
                                                    <td><img ng-src="data:image/*;base64,{{candidato.candidatoPadrao.foto}}" width="80px" /></td>
                                                    <td><p>{{candidato.candidatoPadrao.descricao}}<p></td>
                                                    <td><p>{{candidato.eleicao.nome}}<p></td>
                                                     <td><p>{{candidato.nome}}<p></td>
                                                     <td><p>{{candidato.email}}<p></td>
                                                     <td><p>{{candidato.nomeCompleto}}<p></td>
                                                     <td><p>{{candidato.login}}<p></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <dir-pagination-controls
                                        on-page-change="candidatoPaginationChanged(newPageNumber)"
                                        boundar y-links="true"
                                        template-url="layout/dir-pagination.html"
                                        pagination-id="candidato"></dir-pagination-controls>
                                </div>