<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:concordion="http://www.concordion.org/2007/concordion">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="concordion.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>

        <h1>Documentação do Sistema - </h1>

        <p>
            Página inicial contendo o link para as funcionalidades do projeto, a partir da página inicial é
            possível navegar entre as histórias do usuário, critérios de aceitação e seus respectivos testes de aceitação
        </p>

        <h3>Lista das Estórias do Usuário </h3>
        <ul>
            <li><a concordion:run="concordion" href="#">Exemplo 1</a></li>
        </ul>

        <h3>Tabeas de domínio</h3>
        <ul>
#foreach( ${entity} in ${project.metadata.entities})
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
            <li><a concordion:run="concordion" href="specs/${entity.name}/${entity.name}AcceptanceSuite.html">Manter ${entity.name}</a></li>
#end
        </ul>
    </body>

</html>