
<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <textarea class="inputMaterial" rows="3" ng-maxlength="4000" ng-model="vm.entity.msgCriptografada" required   id="msgCriptografada" ></textarea>
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="msgCriptografada">
            Msg Criptografada*        </label>
    </div>
</div>
    <div class="col-md-3 form-group" show-errors>
        <label>Urna  <i class="fa fa-asterisk fa-sm" popover-trigger="mouseenter"  popover-placement="up" popover="Campo obrigatório"/>            </label>
            <div urna-select></div>

        </div>

<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="calculada" ng-model="vm.entity.calculada" type="text" required />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="calculada">
            Calculada*        </label>
    </div>
</div>
<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="versao" ng-model="vm.entity.versao" type="text" required />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="versao">
            Versao*        </label>
    </div>
</div>

