<section class="content-header">
    <h1>
        <i class="mdi mdi-alert"></i>
        alertas
    </h1>
    <ol class="breadcrumb">
        <li>
            Alertas
        </li>
    </ol>
</section>

<section class="content bounceInRight">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h4 class="status color-river">
                    default
                </h4>
                <div class="card-content-ha">
                    <div class="alarm alarm-river">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet, consequuntur deleniti dolores eius eum explicabo fuga illum laboriosam magnam nam odio odit, possimus quasi quo totam velit voluptas voluptatem!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h4 class="status color-alizarin">
                    erro
                </h4>
                <div class="card-content-ha">
                    <div class="alarm alarm-alizarin">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi consequuntur cumque illo impedit, laudantium magni maiores mollitia nobis odio pariatur quos? Accusamus debitis harum in itaque qui quos voluptatem?
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h4 class="status color-emerald">
                    sucesso
                </h4>
                <div class="card-content-ha">
                    <div class="alarm alarm-emerald">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti deserunt est id impedit nostrum perferendis quaerat ratione reiciendis repellat vero.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h4 class="status color-carrot">
                    atenção
                </h4>
                <div class="card-content-ha">
                    <div class="alarm alarm-carrot">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta ipsa mollitia perferendis ullam? Aliquam asperiores dolor fugiat inventore, maiores nobis omnis quia similique ullam? Dignissimos fugiat id maxime reprehenderit.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>