<section class="content-header">
    <h1>
        <i class="mdi mdi-checkbox-blank"></i>
        Box
    </h1>
    <ol class="breadcrumb">
        <li>
            Box
        </li>
    </ol>
</section>

<section class="content bounceInLeft">
    <div class="row-form h-100">
        <div class="col-md-12">
            <h4 class="title">
                Box simples
            </h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header">
                            <h4>
                                Titulo Box
                            </h4>
                            <p>
                                texto complementar
                            </p>
                        </div>
                        <div class="box-body">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio, repudiandae. Eligendi explicabo inventore iste laborum minima provident sequi ullam? Accusamus blanditiis necessitatibus quam voluptatem? Assumenda consequuntur molestias optio perspiciatis!
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header bkg-cloud">
                            <h4>
                                Titulo Box
                            </h4>
                            <p>
                                texto complementar
                            </p>
                        </div>
                        <div class="box-body">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio, repudiandae. Eligendi explicabo inventore iste laborum minima provident sequi ullam? Accusamus blanditiis necessitatibus quam voluptatem? Assumenda consequuntur molestias optio perspiciatis!
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-14">
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-header bkg-asphalt color-cloud">
                            <h4>
                                Titulo Box
                            </h4>
                            <p class="color-cloud">
                                texto complementar
                            </p>
                        </div>
                        <div class="box-body">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio, repudiandae. Eligendi explicabo inventore iste laborum minima provident sequi ullam? Accusamus blanditiis necessitatibus quam voluptatem? Assumenda consequuntur molestias optio perspiciatis!
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-header bkg-river color-cloud">
                            <h4>
                                Titulo Box
                            </h4>
                            <p class="color-cloud">
                                texto complementar
                            </p>
                        </div>
                        <div class="box-body">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio, repudiandae. Eligendi explicabo inventore iste laborum minima provident sequi ullam? Accusamus blanditiis necessitatibus quam voluptatem? Assumenda consequuntur molestias optio perspiciatis!
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-header bkg-amethyst color-cloud">
                            <h4>
                                Titulo Box
                            </h4>
                            <p class="color-cloud">
                                texto complementar
                            </p>
                        </div>
                        <div class="box-body">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio, repudiandae. Eligendi explicabo inventore iste laborum minima provident sequi ullam? Accusamus blanditiis necessitatibus quam voluptatem? Assumenda consequuntur molestias optio perspiciatis!
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-14">
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-header bkg-emerald color-cloud">
                            <h4>
                                Titulo Box
                            </h4>
                            <p class="color-cloud">
                                texto complementar
                            </p>
                        </div>
                        <div class="box-body">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio, repudiandae. Eligendi explicabo inventore iste laborum minima provident sequi ullam? Accusamus blanditiis necessitatibus quam voluptatem? Assumenda consequuntur molestias optio perspiciatis!
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-header bkg-sky color-cloud">
                            <h4>
                                Titulo Box
                            </h4>
                            <p class="color-cloud">
                                texto complementar
                            </p>
                        </div>
                        <div class="box-body">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio, repudiandae. Eligendi explicabo inventore iste laborum minima provident sequi ullam? Accusamus blanditiis necessitatibus quam voluptatem? Assumenda consequuntur molestias optio perspiciatis!
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="box-header bkg-alizarin color-cloud">
                            <h4>
                                Titulo Box
                            </h4>
                            <p class="color-cloud">
                                texto complementar
                            </p>
                        </div>
                        <div class="box-body">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio, repudiandae. Eligendi explicabo inventore iste laborum minima provident sequi ullam? Accusamus blanditiis necessitatibus quam voluptatem? Assumenda consequuntur molestias optio perspiciatis!
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-14">
                <div class="col-md-4">
                    <div class="box box-asphalt">
                        <div class="box-header ">
                            <h4>
                                Titulo Box
                            </h4>
                            <p class="color-cloud">
                                texto complementar
                            </p>
                        </div>
                        <div class="box-body">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio, repudiandae. Eligendi explicabo inventore iste laborum minima provident sequi ullam? Accusamus blanditiis necessitatibus quam voluptatem? Assumenda consequuntur molestias optio perspiciatis!
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-river">
                        <div class="box-header ">
                            <h4>
                                Titulo Box
                            </h4>
                            <p class="color-cloud">
                                texto complementar
                            </p>
                        </div>
                        <div class="box-body">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio, repudiandae. Eligendi explicabo inventore iste laborum minima provident sequi ullam? Accusamus blanditiis necessitatibus quam voluptatem? Assumenda consequuntur molestias optio perspiciatis!
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-amethyst">
                        <div class="box-header">
                            <h4>
                                Titulo Box
                            </h4>
                            <p class="color-cloud">
                                texto complementar
                            </p>
                        </div>
                        <div class="box-body">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio, repudiandae. Eligendi explicabo inventore iste laborum minima provident sequi ullam? Accusamus blanditiis necessitatibus quam voluptatem? Assumenda consequuntur molestias optio perspiciatis!
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-14">
                <div class="col-md-4">
                    <div class="box box-emerald">
                        <div class="box-header ">
                            <h4>
                                Titulo Box
                            </h4>
                            <p class="color-cloud">
                                texto complementar
                            </p>
                        </div>
                        <div class="box-body">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio, repudiandae. Eligendi explicabo inventore iste laborum minima provident sequi ullam? Accusamus blanditiis necessitatibus quam voluptatem? Assumenda consequuntur molestias optio perspiciatis!
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-sky">
                        <div class="box-header ">
                            <h4>
                                Titulo Box
                            </h4>
                            <p class="color-cloud">
                                texto complementar
                            </p>
                        </div>
                        <div class="box-body">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio, repudiandae. Eligendi explicabo inventore iste laborum minima provident sequi ullam? Accusamus blanditiis necessitatibus quam voluptatem? Assumenda consequuntur molestias optio perspiciatis!
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-alizarin">
                        <div class="box-header">
                            <h4>
                                Titulo Box
                            </h4>
                            <p class="color-cloud">
                                texto complementar
                            </p>
                        </div>
                        <div class="box-body">
                            <h5>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, distinctio, repudiandae. Eligendi explicabo inventore iste laborum minima provident sequi ullam? Accusamus blanditiis necessitatibus quam voluptatem? Assumenda consequuntur molestias optio perspiciatis!
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>