<section class="content-header">
    <h1>
        <i class="mdi mdi-timelapse"></i>
        Progressbar
    </h1>
    <ul class="breadcrumb">
        <li>
            Progressbar
        </li>
    </ul>
</section>

<section class="content bounceInLeft">
    <div class="h-100">
        <div class="row-form">
            <div class="col-md-12">
                <div class="card">
                    <h4 class="status color-river">
                        Progressbar Default
                    </h4>
                    <div class="card-content-ha">
                        <progressbar value="55"></progressbar>
                        <progressbar class="progress-striped" value="55"></progressbar>
                        <progressbar class="progress-striped active" value="55"></progressbar>
                    </div>
                </div>
            </div>

        </div>
        <div class="row-form">
            <div class="col-md-4">
                <div class="card">
                    <h4 class="status color-carrot">
                        Progressbar warninng
                    </h4>
                    <div class="card-content-ha">
                        <progressbar value="55" type="warning"></progressbar>
                        <progressbar class="progress-striped" value="55" type="warning"></progressbar>
                        <progressbar class="progress-striped active" value="55" type="warning"></progressbar>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h4 class="status color-alizarin">
                        Progressbar danger
                    </h4>
                    <div class="card-content-ha">
                        <progressbar value="55" type="danger"></progressbar>
                        <progressbar class="progress-striped" value="55" type="danger"><i></i></progressbar>
                        <progressbar class="progress-striped active" value="55" type="danger"><i></i></progressbar>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h4 class="status color-emerald">
                        Progressbar Success
                    </h4>
                    <div class="card-content-ha">
                        <progressbar value="55" type="success"></progressbar>
                        <progressbar class="progress-striped" value="55" type="success"></progressbar>
                        <progressbar class="progress-striped active" value="55" type="success"></progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>