<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <a class="color-sunflower" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
                class="mdi"
                ng-class="{
          'mdi-folder-plus': collapsed,
          'mdi-folder': !collapsed
        }"></span></a>
        {{node.title}}
        <!-- <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span
                 class="glyphicon glyphicon-remove"></span></a>
         <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span
                 class="glyphicon glyphicon-plus"></span></a>-->
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>


<section class="content-header">
    <h1>
        <i class="mdi mdi-sitemap sitemap90"></i>
        Treeview
    </h1>
    <ol class="breadcrumb">
        <li>
            Treeview
        </li>
    </ol>
</section>

<section class="content bounceInLeft">
    <div class="row">
        <div class="col-md-12">
            <div ui-tree id="tree-root">
                <ol ui-tree-nodes ng-model="vm.list">
                    <li ng-repeat="node in vm.list" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </div>
    </div>
</section>