/*MEDIA QUERIES*/
/*height - 564*/
@media (max-width: 564px)
    {
        totalContentWrapper
            {

            }
        footer
            {
                font-size:0.65em;
            }
    }






@media (max-width: 1091px)
    {
    }
@media (max-width: 1024px){

    }
/*MEDIA 992*/
@media (max-width: 991px)
    {
    .right-side
        {
        width:90% !important;
        }
    .left-bar
        {
        margin-left: 0 !important;
        margin-top: 0 !important;
        height: 100% !important;
        position: relative !important;
        width: 10% !important ;
        float: left !important;
        background: #0277BD;
        }
        .search-filter-bottom a
                    {
                        display:none !important;
                    }
                .rg-right
                    {
                        display:none !important;
                    }
                .search-filter
                    {
                        height:20% !important;
                        transform:translate(0, 0) !important;
                    }
                    js-tree#tree.hide-show
                        {
                            height:76% !important;
                            transform:translate(-100%, 24%) !important;
                        }
                    .search-filter-content.stash.hide-show
                        {
                            height:76% !important;
                            transform:translate(0, 24%) !important;
                        }
                    js-tree#tree
                        {
                            height:76% !important;
                            transform:translate(0, 24%) !important;
                        }
                    .search-filter-content.stash
                        {
                            height:76% !important;
                            transform:translate(0, 24%) !important;
                        }
                .search-filter-content.stash
                    {
                        height:76% !important;
                        transform:translate(-100%, 24%) !important;
                    }

    }
/**/
/*MEDIA 767*/
@media (max-width:768px)
    {
        .title
            {
                font-size:1.0em;
            }
        footer p
            {
                font-size:0.75em;
            }
        .content-header h1
            {
                font-size:0.8em !important;
            }
        .breadcrumb > li
            {
                font-size:0.5em !important;
            }
        js-tree#tree
            {
                height:55% !important;
                transform: translate(0, 80%) !important;
            }
        js-tree#tree.hide-show
            {
                transform:translate(-100%, 80%) !important;
            }
    }
/**/
/*600*/
@media (max-height:599px)
    {
    .content-header{min-height:15%;}
    .content{max-height:85%;
    }
/**/
}
/*560*/
@media (max-width: 560px) {
    }
/**/

/*448*/
@media (max-width:448px)
    {
    .left-bar
        {
        width:15% !important;
        }
        .right-side
        {
        width:85% !important;
        }
        .navbar.navbar-footer p small
        {
        font-size:0.65em !important;
        }
    .title
        {
            font-size:0.9em !important;
        }
    .card-content
        {
            height:auto;
            min-height:auto !important;
            max-height:100% !important;
        }
    .card h4
        {
            font-size:0.9em;
        }
         js-tree#tree
            {
                height:75% !important;
                transform: translate(0, 32%) !important;
            }
        js-tree#tree.hide-show
            {
                transform:translate(-100%, 32%) !important;
            }
    }

@media (max-width:1370px)
    {
        js-tree#tree.stash
            {
                transform: translate(0px, 28%) !important;
                height:78% !important;
            }
        js-tree#tree.stash.hide-show
            {
                transform: translate(-100%, 28%) !important;
                height:78%;
            }
    }








    /*MEDIA PRINT*/
    @media print{
        a{
            display:none;
        }
        body{
            visibility:hidden;margin:0; padding:0;height:800px;
        }
        #ad{
            display:none;
            }
        #leftbar{
            display:none;
        }
        #contentarea{
            width:100%;
        }
        #printArea{
            visibility:visible;
            }
        .btn{
            visibility:hidden;
            }
        .modal{
            display:table;width:100% important!;margin:0;padding:0;position:absolute;
            }
        }
        /**/