/*CAMPOS MENORES*/
    .row-small .form-group label{font-size:0.9em;letter-spacing:0.5pt;color:#000;font-weight:bold;width:100%;  }
    .row-small .form-group label .fa{font-size:0.8em;}
    .row-small .form-group label .fa.fa-sm{font-size:1.0em !important;}
    .row-small .form-group .form-control{height:24px;font-size:0.9em;color:#000;letter-spacing:0.5pt;padding:1px 7px !important;}
    .row-small .form-group.form-group-primary label{color:#fff;padding-bottom:3px;}
    .row-small .form-group.form-group-primary label .fa{margin-top:3px;font-size:1.0em;}
    .row-small .form-group .btn{height: 24px;padding: 0px 7px 0 7px;font-weight:400;margin-top:10px;}
    .row0small .form-group textarea{height: 100px;}
/*FIM CAMPOS MENORES*/