
<div class="box box-primary">
    <div class="box-body">
                                <div class="col-md-4" ng-if="vm.entity.tipoIntegranteComissao.nomeTipoIntegrante">
                                    <div class="form-group">
                                        <label class="control-label">Nome Tipo Integrante</label>
                                        <div ng-if="vm.entity.tipoIntegranteComissao.nomeTipoIntegrante"> {{vm.entity.tipoIntegranteComissao.nomeTipoIntegrante}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.tipoIntegranteComissao.descricaoTipoIntegrante">
                                    <div class="form-group">
                                        <label class="control-label">Descrição Tipo Integrante</label>
                                        <div ng-if="vm.entity.tipoIntegranteComissao.descricaoTipoIntegrante"> {{vm.entity.tipoIntegranteComissao.descricaoTipoIntegrante}}</div>
                                    </div>
                                </div>






    </div>
</div>

