                                <div class="col-md-4" ng-if="vm.entity.nome">
                                    <div class="form-group">
                                        <label class="control-label">Nome</label>
                                        <div ng-if="vm.entity.nome"> {{entity.nome}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.email">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <div ng-if="vm.entity.email"> {{entity.email}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.login">
                                    <div class="form-group">
                                        <label class="control-label">Login</label>
                                        <div ng-if="vm.entity.login"> {{entity.login}}</div>
                                    </div>
                                </div>




                                <div class="col-md-3" ng-if="vm.entity.cdmatricula">
                                    <div class="form-group">
                                        <label class="control-label">Códigomatricula</label>
                                        <div ng-if="vm.entity.cdmatricula"> {{entity.cdmatricula}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="vm.entity.dataValidacao">
                                    <div class="form-group">
                                        <label class="control-label">Data Validacao</label>
                                        <div ng-if="vm.entity.dataValidacao"> {{entity.dataValidacao}}</div>
                                    </div>
                                </div>


