                                <div class="box-body table-responsive no-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover">
                                                <tr>
                                                    <th>Eleicao</th>
                                                    <th>Tipo Integrante Comissao</th>
                                                     <th>Nome</th>
                                                     <th>Email</th>
                                                     <th>Login</th>
                                                </tr>
                                                <tr dir-paginate="integranteComissao in resultPage.content | itemsPerPage: pagination.pageSize" total-items="resultPage.totalElements" ng-click="select(integranteComissao)" pagination-id="integranteComissao" ng-class="{selected: integranteComissao}">
                                                    <td><p>{{integranteComissao.eleicao.nome}}<p></td>
                                                    <td><p>{{integranteComissao.tipoIntegranteComissao.nomeTipoIntegrante}}<p></td>
                                                     <td><p>{{integranteComissao.nome}}<p></td>
                                                     <td><p>{{integranteComissao.email}}<p></td>
                                                     <td><p>{{integranteComissao.login}}<p></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <dir-pagination-controls
                                        on-page-change="integranteComissaoPaginationChanged(newPageNumber)"
                                        boundary-links="true"
                                        template-url="layout/dir-pagination.html"
                                        pagination-id="integranteComissao"></dir-pagination-controls>
                                </div>