<div class="row">
    <div class="col-md-12">
        <div class="row-form">
            <div class="col-md-3 form-group">
                <div class="inputMaterialGroup">
                    <input class="inputMaterial" type="text" ng-model="vm.entity.msgCriptografada" ng-required="true" required  id="msgCriptografada" />
                    <span class="bar"></span>
                    <span class="highlight"></span>
                    <label for="msgCriptografada">
                        Msg Criptografada
                    </label>
                </div>
            </div>



    <div class="col-md-3 form-group ">
        <label>Urna
        </label>
        <div urna-select></div>
    </div>




<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="versao" type="text"  />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="versao">
            Versao        </label>
    </div>
</div>




<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="calculada" type="text"  />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="calculada">
            Calculada        </label>
    </div>
</div>


</div>
</div>
</div>