                                <div class="box-body table-responsive no-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover">
                                                <tr>
                                                    <th>Urna</th>
                                                </tr>
                                                <tr dir-paginate="cedula in resultPage.content | itemsPerPage: pagination.pageSize" total-items="resultPage.totalElements" ng-click="select(cedula)" pagination-id="cedula" ng-class="{selected: cedula}">
                                                    <td><p>{{cedula.urna.msgComposta}}<p></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <dir-pagination-controls
                                        on-page-change="cedulaPaginationChanged(newPageNumber)"
                                        boundary-links="true"
                                        template-url="layout/dir-pagination.html"
                                        pagination-id="cedula"></dir-pagination-controls>
                                </div>