                                <div class="col-md-4" ng-if="vm.entity.msgCriptografada">
                                    <div class="form-group">
                                        <label class="control-label">Msg Criptografada</label>
                                        <div ng-if="vm.entity.msgCriptografada"> {{entity.msgCriptografada}}</div>
                                    </div>
                                </div>




                                <div class="col-md-2" ng-if="vm.entity.calculada">
                                    <div class="form-group">
                                        <label class="control-label">Calculada</label>
                                        <div ng-if="vm.entity.calculada"> {{entity.calculada}}</div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="vm.entity.versao">
                                    <div class="form-group">
                                        <label class="control-label">Versao</label>
                                        <div ng-if="vm.entity.versao"> {{entity.versao}}</div>
                                    </div>
                                </div>


