package ${project.group}.${project.name}.persistence;

import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.repository.NoRepositoryBean;

import java.io.Serializable;

@NoRepositoryBean
public interface ICoreRepository<T, ID extends Serializable>
        extends JpaRepository<T, ID> {
    /**
     * Find By Example
     *
     * @param entity
     * @param pageable
     * @return
     */
    public Page<T> find(T entity, Pageable pageable);
}
