#set( $js  = '$')
#set( $open  = '${')
#set( $close = '}')
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
'use strict';

/**
 *  Guick Generate class: https://github.com/wdavilaneto/guick
 *  Author: service-wdavilaneto@redhat.com
 *  This source is free under The Apache Software License, Version 2.0
 *  license url http://www.apache.org/licenses/LICENSE-2.0.txt
 *
 * @ngdoc function
 * @name ${projectBeanName}App.controller:activitiController
 * @description
 * # activitiController
 * Controller of the ${projectBeanName}App
 */
angular.module('${projectBeanName}App').controller('activitiController', ['${js}scope', '$routeParams', '$modal', '$location', 'jsog', 'activitiService',   function (${js}scope, $routeParams , $modal, $location, jsog, activitiService  ) {

    // For select boxes on screen TODO ...
    $scope.entity = {};

    activitiService.findAllDeployments( {} , function (data) {
        $scope.deployments = data.data;
    });

   // Search de todos os elementos incial ( quando entra na tela )
    activitiService.findAllResources( {id:1}, function (data) {
        $scope.processes = data;
    });

    $scope.findResources = function() {
        activitiService.findAllResources( {id:1} , function (data) {
            $scope.processes = data;
        });
    };

    $scope.formatResourceUrl = function (url) {
        var splitted = url.split('/');
        return splitted[splitted.length-1];
    };

    $scope.$watch('entitySelected', function (newVal, oldVal) {
        if (newVal !== oldVal) {
            $scope.findResources();
        }
    }, true);

}]);
