#set( $js  = "$")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
'use strict';

/**
 * @ngdoc overview
 * @name ${projectBeanName}App
 * @description
 * # ${projectBeanName}App
 *
 * Main module of the application.
 */
var app = angular.module('${project.name}App', [
    'pascalprecht.translate',
    'http-auth-interceptor',
    'ngAnimate',
    'ngCookies',
    'ngResource',
    'ngRoute',
    'ngSanitize',
    'ngTouch',
    'ckeditor',
    'ui.select',
    'ui.bootstrap',
    'ui.date',
    'ui.utils',
##    'ui.chart',
    'ngGrid',
    'toaster',
    'angucomplete-alt',
    'nvd3',
    'angularUtils.directives.dirPagination',
    '${project.name}Services'
  ])
  .config(function ($routeProvider) {
    $routeProvider
      .when('/', {templateUrl: 'views/main.html'})
      .when('/activiti/deployment', {templateUrl: 'views/activiti/deployment.html'})
      .when('/dashboard', {templateUrl: 'views/dashboards/dashboard.html'})
##TODO REVMOVER!
#if (${project.name} == 'msm')
      .when('/templatePage', {templateUrl: 'views/templatePage/templatePage.html'})
      .when('/manterPesquisarPaciente', {templateUrl: 'views/paciente/pesquisarPaciente.html'})
      .when('/manterPaciente', {templateUrl: 'views/paciente/paciente.html'})
      .when('/manterInstituicao', {templateUrl: 'views/instituicao/instituicao.html'})
#end
#foreach( ${entity} in ${project.metadata.entities})
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
      .when('/${entity.name}', {templateUrl: 'views/crud/${entity.name}/${entity.name}.html'})
      .when('/${entity.name}/:id', {templateUrl: 'views/crud/${entity.name}/${entity.name}Edit.html'})
#foreach( ${ent} in ${entity.getDistinctedAllComplexProperties()})
#if( ${ent.isOneToMany()} || ${ent.isManyToMany()})
      .when('/${entity.name}/:id/:child/:${ent.referedEntity.beanName}Id', {templateUrl: 'views/crud/${entity.name}/${entity.name}Edit.html'})
#end
#end
#end
      .when('/monitor/health', {templateUrl: 'views/monitor/health.html'})
      .when('/monitor/metrics', {templateUrl: 'views/monitor/metrics.html'})
      .when('/monitor/audits', {templateUrl: 'views/monitor/audits.html'})
      .otherwise({redirectTo: '/'});
  });

angular.module('${projectBeanName}Services', ['ngResource']);

//Tratamento global de excecoes
app.config(['${js}httpProvider', function(${js}httpProvider) {

    var nomeApp = '${project.name}';

    ${js}httpProvider.interceptors.push(
        ['${js}q', 'toaster', '${js}window', function(${js}q, toaster, ${js}window) {

                return {
                    'response': function(response) {

                        var title = response.headers('title');
                        var message = response.headers('message');

                        switch (response.status) {
                            case 200: break;
                            default: toaster.pop('success', title, message);
                        }

                        return response;
                    },

                    'responseError': function (errorResponse) {

                        switch (errorResponse.status) {
                            case 0:
                                toaster.pop('error', 'Desculpe', 'Nossos servidores encontram-se indisponíveis no momento.');
                                break;
                            case 400:
                                angular.forEach(errorResponse.data.violations, function(value) {
                                    toaster.pop('warning', nomeApp, value.message);
                                });
                                toaster.pop('warning', nomeApp, errorResponse.data.error);
                                break;
##                            case 401: // 401-Unauthorized - Falta autenticacao
##                                ${js}window.location.href = '/index.html';
##                                break;
                            case 403: // 403-Forbidden - Tem autenticacao, mas, o acesso é proibido para este usuario.
                                toaster.pop('warning', nomeApp, 'Você não tem permissão para acessar este conteúdo, ou partes, do conteudo, que foi requisitado.');
                                break;
                            case 404:
                                toaster.pop('info', nomeApp, 'Nenhum registro encontrado');
                                break;
                            case 409:
                                angular.forEach(errorResponse.data.violations, function(value) {
                                    toaster.pop('warning', nomeApp, value);
                                });
                                break;
                            case 500:
                                //Neste caso o melhor é
                                toaster.pop('error', nomeApp, errorResponse.data.error +
                                    ' ticket[' + errorResponse.data.ticket + ']',9000,'');
                                break;
                        }

                        return ${js}q.reject(errorResponse);
                    }
                };
            }]);
}]);

app.directive('back', [ function() {
    return {
        restrict: 'A',
        link: function (scope, elem, attrs) {
            elem.bind('click', function () {
                $window.history.back();
            });
        }
    };
}]);

app.factory('jsog', function () {
        return JSOG;
    }
);
