#set( $js  = "$")
#set( $open  = "${")
#set( $close = "}")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
'use strict';

/**
 *  Guick Generate class: https://github.com/wdavilaneto/guick
 *  Author: service-wdavilaneto@redhat.com
 *  This source is free under The Apache Software License, Version 2.0
 *  license url http://www.apache.org/licenses/LICENSE-2.0.txt
 *
 * @ngdoc function
 * @name ${projectBeanName}App.controller:${entityBeanName}ExtController
 * @description
 * # ${entityBeanName}ExtController
 * Extended Controller pr Master Detail and other specific operations of the ${projectBeanName}App
 */
angular.module('${projectBeanName}App').controller('${entityBeanName}ExtController', ['${js}scope', '${js}routeParams', '${js}modal', '${js}location', 'jsog', '${entityBeanName}Service', #foreach( ${ent} in ${entity.getDistinctedAllComplexProperties()})#set( $beanName = ${util.uncapitalize($ent.referedEntity.name)} )#if(${beanName} != ${entityBeanName})'${beanName}Service', #{end}#{end}  function (${js}scope, ${js}routeParams , ${js}modal, ${js}location, jsog, ${entityBeanName}Service #foreach( ${ent} in ${entity.getDistinctedAllComplexProperties()})#set( $beanName = ${util.uncapitalize($ent.referedEntity.name)} )#if(${beanName} != ${entityBeanName}), ${beanName}Service#{end}#{end} ) {

    ${js}scope.select = function ( obj ) {
        ${js}scope.selected = obj;
    };

    ${js}scope.create = function ( parent ) {
        ${js}scope.selected = null;
        ${js}scope.selected = {
            ${entityBeanName}:parent
        };
    };

    // ******************************************************************************************
    // Master Details: Operations for Search and  editing of OneToMany/ManyToMany
    // ******************************************************************************************
#if( ${entity.looksLikeMainEntity()} )
#foreach( ${ent} in ${entity.getDistinctedAllComplexProperties()})
#if( ${ent.isOneToMany()} || ${ent.isManyToMany()})
#set( $beanName = ${util.uncapitalize(${ent.referedEntity.name})} )
    ${js}scope.grid${ent.referedEntity.name}Options = ${beanName}Service.createGridOptions(true);
    ${js}scope.${beanName}Pagination = ${js}scope.grid${ent.referedEntity.name}Options.getPagination();
    ${js}scope.find${ent.referedEntity.name} = function() {
        console.log('Realizando busca de 1 x N( ${beanName}.${entityBeanName}.id):' + ${js}scope.entity.id);
        ${js}scope.resultPage = {};
        ${beanName}Service.search( {'content':{ '${entityBeanName}':${js}scope.entity },'pagination':${js}scope.grid${ent.referedEntity.name}Options.getPageRequest()}  , function (data) {
            ${js}scope.resultPage = data;
            ${js}scope.resultPage.content = jsog.decode(data.content);
        });
    };
    ${js}scope.search${ent.referedEntity.name} = function() {
        // TODO Implement query search with fields
        console.log('Realizando busca de 1 x N( ${beanName}.${entityBeanName}.id):' + ${js}scope.entity.id);
        ${js}scope.resultPage = {};
        ${beanName}Service.search( {'content':{ '${entityBeanName}':${js}scope.entity },'pagination':${js}scope.grid${ent.referedEntity.name}Options.getPageRequest()}  , function (data) {
            ${js}scope.resultPage = data;
            ${js}scope.resultPage.content = jsog.decode(data.content);
        });
    };
    $scope.remove${ent.referedEntity.name} = function (obj){
        console.log('Deleting ${beanName} with id:' + obj.id);
        ${beanName}Service.remove( obj , function ( successResult) {
            console.log(successResult);
            ${js}scope.entity = {};
        });
    };
    ${js}scope.edit${ent.referedEntity.name} = function (obj) {
        if (!obj) {
            obj = {
                ${entityBeanName}:parent
            };
        }
        var modalInstance = ${js}modal.open({
            templateUrl: 'create${ent.referedEntity.name}Modal.html', controller: 'Modal${ent.referedEntity.name}Controller', size: 'lg',
            resolve: {
                data: function () {return obj;}
            }
        });
        modalInstance.result.then(function (selectedItem) {
            ${js}scope.selected = selectedItem;
            // Refreshing Result List
            ${beanName}Service.search( {'content':{ '${entityBeanName}':${js}scope.entity },'pagination':${js}scope.grid${ent.referedEntity.name}Options.getPageRequest()}  , function (data) {
                ${js}scope.resultPage = data;
                ${js}scope.resultPage.content = jsog.decode(data.content);
            });
        }, function () {
            //dismiss
        });
    };

    $scope.${ent.referedEntity.beanName}PaginationChanged = function(newPage) {
        $scope.${ent.referedEntity.beanName}Pagination.currentPage = newPage;
        ${js}scope.find${ent.referedEntity.name}();
    };

#{end}
#{end}
#end

    ${js}scope.clear = function () {
        ${js}scope.selected = null;
    };

}]);
