#set( $js  = "$")
#set( $open  = "${")
#set( $close = "}")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
'use strict';

angular.module('${project.acronym}App')
    .directive('authenticatedApplication', [ '$rootScope', 'loginService', function($rootScope, loginService) {
        return {
            restrict: 'C', link: function(scope, elem, attrs) {
                //once Angular is started, remove class:

                var login = elem.find('#login-holder');
                var main = elem.find('#content');
                var menu = elem.find('#menu');
                var userArea = elem.find('#user-area');
                var menuIcones = elem.find('#menu-icones');

                if ( loginService.getCurrentUser() === null || loginService.getCurrentUser().username === null || loginService.getCurrentUser().username === '') {
                    main.hide();
                    menu.hide();
                    menuIcones.hide();
                    userArea.hide();
                    login.hide();
                    loginService.authenticate( {} , function (data) {
                        main.show();
                        menu.show();
                        userArea.show();
                        menuIcones.show();
                    }, function (data) {
                        login.show();
                    });
                } else {
                    login.hide();
                }

                elem.removeClass('waiting-for-angular');

                scope.$on('event:auth-loginRequired', function() {
                    login.slideDown('slow', function() {
                        main.hide();
                        menu.hide();
                        userArea.hide();
                        menuIcones.hide();
                    });
                });
                scope.$on('event:auth-loginConfirmed', function() {
                    main.show();
                    menu.show();
                    menuIcones.show();
                    userArea.show();
                    login.slideUp();
                });
            }
        }
    }])
;
