#set( $js  = "$")
#set( $open  = "${")
#set( $close = "}")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
'use strict';

angular.module('${project.acronym}App')
    .directive('showErrors', function() {
        return {
            restrict: 'A',
            require:  '^form',
            link: function (scope, el, attrs, formCtrl) {
                // find the text box element, which has the 'name' attribute
                var inputEl   = el[0].querySelector('[name]');
                // convert the native text box element to an angular element
                var inputNgEl = angular.element(inputEl);
                // get the name on the text box so we know the property to check
                // on the form controller
                var inputName = inputNgEl.attr('name');

                // only apply the has-error class after the user leaves the text box
                inputNgEl.bind('blur', function() {
                    el.toggleClass('has-error', formCtrl[inputName].$invalid);
                })

                // inside the directive's link function from the previous example
                scope.$on('show-errors-check-validity', function() {
                    el.toggleClass('has-error', formCtrl[inputName].$invalid);
                });

                scope.$on('show-errors-reset', function() {
                    $timeout(function() {
                        el.removeClass('has-error');
                    }, 0, false);
                });

            }
        }
      })
    .directive('authenticatedApplication', [ '$rootScope', 'loginService', function($rootScope, loginService) {
        return {
            restrict: 'C', link: function(scope, elem, attrs) {
                //once Angular is started, remove class:

                var login = elem.find('#login-holder');
                var main = elem.find('#content');
                var menu = elem.find('#menu');
                var userArea = elem.find('#user-area');

                if ( loginService.getCurrentUser() === null || loginService.getCurrentUser().username === null || loginService.getCurrentUser().username === '') {
                    main.hide();
                    menu.hide();
                    userArea.hide();
                    login.hide();
                    loginService.authenticate( {} , function (data) {
                        main.show();
                        menu.show();
                        userArea.show();
                    }, function (data) {
                        login.show();
                    });
                } else {
                    login.hide();
                }

                elem.removeClass('waiting-for-angular');

                scope.$on('event:auth-loginRequired', function() {
                    login.slideDown('slow', function() {
                        main.hide();
                        menu.hide();
                        userArea.hide();
                    });
                });
                scope.$on('event:auth-loginConfirmed', function() {
                    main.show();
                    menu.show();                    userArea.show();
                    login.slideUp();
                });
            }
        }
    }])
    .directive('back', ['$window', function($window) {
        return {
            restrict: 'A',
            link: function (scope, elem, attrs) {
                elem.bind('click', function () {
                    $window.history.back();
                });
            }
        };
    }])
    .directive('fileread', [function () {
        return {
            scope: {
                fileread: '=',
                filetype: '='
            },
            link: function (scope, element, attributes) {
                element.bind('change', function (changeEvent) {
                    var reader = new FileReader();
                    reader.onload = function (loadEvent) {
                        scope.$apply(function () {
                            var info = loadEvent.target.result;
                            //console.log(info);
                            // now we get ony the base64 info
                            scope.fileread = info.split(',');//.shift().join();
                            scope.filetype = scope.fileread[0]; // get filetype before remove ot from base64
                            scope.fileread.shift();
                            scope.fileread = scope.fileread.join();
                        });
                    }
                    reader.readAsDataURL(changeEvent.target.files[0]);
                });
            }
        }
    }])
;
