#set( $js  = "$")
#set( $open  = "${")
#set( $close = "}")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
'use strict';

/**
 * @ngdoc service
 * @name ${projectBeanName}App.${projectBeanName}Service
 * @description
 * # myService
 * Factory in the ${projectBeanName}App.
 */

var ${projectBeanName}Services = angular.module('${projectBeanName}Services');

${projectBeanName}Services.factory('${entityBeanName}Service', ['$resource',
    function ($resource) {
        var service = $resource('/${projectBeanName}/api/${entity.name}/:id', {}, {
            'findAll': { method: 'GET', url: '/${projectBeanName}/api/${entity.name}', isArray: false},
            'search': { method: 'POST', url: '/${projectBeanName}/api/${entity.name}/search', isArray: false},
            'searchText': { method: 'POST', url: '/${projectBeanName}/api/${entity.name}/searchText', isArray: false},
            'findAllOverdue':{ method: 'GET', url: '/${projectBeanName}/api/${entity.name}/overdue', isArray: false},
            'get': { method: 'GET'},
            'save': { method: 'POST'},
            'remove': { method: 'DELETE'}
        });

        var entity = {};

        service.getCurrentEntity = function (){
            return entity;
        };

        service.setCurrentEntity = function (obj){
            entity = obj;
        };

        service.create = function (){
            var e = {
#set($size = ${entity.getManyToOneProperties().size()} )
#set($counter = 0)
#foreach( ${ent} in ${entity.getManyToOneProperties()})
#set($counter = $counter + 1)
                ${util.uncapitalize($ent.name)}:{}#if($counter < $size),
#end
#end

            };
            return e;
        };

        var baseOptions = {
            data: 'resultPage.content',
            enablePaging: true,
            showFooter: true,
            multiSelect: false,
            enableColumnResize: true,
            totalServerItems: 'resultPage.totalElements',
            i18n: 'pt-br'
        };

        service.factorySearchSelect = function (){
            // Factory SearchSelect Object for all "search text properties"
            var searchSelects = {
#set($searchedEntitys = [])
#foreach( ${complexProperty} in ${entity.getDistinctedAllComplexProperties()} )
##if( !${complexProperty.referedEntity.looksLikeEnum()} && ${complexProperty.referedEntity.table.count} >= 200 )
#if(${complexProperty.referedEntity.table.count} > 200 || ${complexProperty.referedEntity.looksLikeMainEntity()})
#set( $foo = ${searchedEntitys.add( $complexProperty )} )
#end
#end
#set($size = ${searchedEntitys.size()} )
#set($counter = 0)
#foreach( ${complexProperty} in ${searchedEntitys} )
#set($counter = $counter + 1)
                ${complexProperty.referedEntity.beanName}:{}#if($counter < $size),
#end
#end

            };
            // utility method to copy selected object to entity ( reference
            searchSelects.toEntity = function (ref) {
                console.log(ref);
#foreach( ${complexProperty} in ${searchedEntitys} )
                if (ref && ref.${complexProperty.referedEntity.beanName}  && searchSelects.${complexProperty.referedEntity.beanName}.originalObject) {
                    ref.${complexProperty.referedEntity.beanName} = searchSelects.${complexProperty.referedEntity.beanName}.originalObject;
                } else {
                    ref.${complexProperty.referedEntity.beanName} = null;
                }
#end
            };
            searchSelects.fromEntity = function (ref) {
                console.log(ref);
#foreach( ${complexProperty} in ${searchedEntitys} )
                if (ref && ref.${complexProperty.referedEntity.beanName} ) {
                    searchSelects.${complexProperty.referedEntity.beanName}.originalObject = ref.${complexProperty.referedEntity.beanName};
                }
#end
            };
            searchSelects.clear = function() {
#foreach( ${complexProperty} in ${searchedEntitys} )
                searchSelects.${complexProperty.referedEntity.beanName} = {};
#end
            };
            return searchSelects;
        };

        service.factoryGridOptions = function (pagingOptions , entitySelected, isEditMode){
            if (!isEditMode) {
                isEditMode = false;
            }
            var options = baseOptions;
            options.selectedItems = entitySelected;
            options.pagingOptions = pagingOptions;
            options.columnDefs = [
                {field:'', displayName: '', cellTemplate: '<a class="btn-detail" ng-click="$event.stopPropagation(); detalhar(row.entity);"><i class="fa fa-search"></i></a>', width : '35', resizable: false},
#set($properties = [])
#if (${entity.parent.properties.size()} < 3 )
#set($properties =  ${entity.parent.properties})
#else
#foreach( ${property} in ${entity.parent.properties})
#if( ${property.column.length} > 3 )
#set( $foo = ${properties.add( $property )} )
#end
#end
#end

#if (${entity.properties.size()} <5)
#set( $foo = ${properties.addAll( ${entity.properties} )} )
#else
#foreach( ${property} in ${entity.properties})
#if( ${property.column.length} > 3 )
#set( $foo = ${properties.add( $property )} )
#end
#end
#end

#set($size = ${properties.size()} )
#set($counter = 0)
#foreach( ${property} in ${properties})
#set($counter = $counter + 1)
## Caso seja uma Long ( pode ser foreing key ) e eh uma constriaint, portanto para uma entidade nao mapeada ( oculta-se a chave )
#if( ${property.type} != 'Long' || !${property.column.constraint} )
                {field: '${property}', displayName: '${property.title}', sortable: false#if (${property.name.length()} < 5 && ${property.column.length} < 5), width: 30#{end}}#if(($counter < $size) || (${entity.looksLikeDomain()} && ${entity.getManyToOneProperties().size()} >=1 )),
#end
#end
#end

#if (${entity.looksLikeDomain()} && ${entity.getManyToOneProperties().size()} >=1 )
#set( $toOneProperty = ${entity.getManyToOneProperties()[0]} )
### find first StringField
#set ( $stringField = 'id' )
#foreach( ${prop} in ${toOneProperty.referedEntity.properties})
#if(${prop.type} == 'String' && $stringField == 'id' )
#set ($stringField = ${prop})
#end
#end
                {field: '${toOneProperty.name}.${stringField}', displayName: '${toOneProperty.referedEntity.title}', sortable: false#if (${stringField.name.length()} < 5 && ${stringField.column.length} < 5), width: 30#{end}}
#end

            ];
            if (isEditMode) {
                //options.columnDefs.shift(); //
                options.columnDefs.push({field:'', displayName: '', cellTemplate: '<a class="btn-detail" ng-click="$event.stopPropagation(); edit${entity.name}(row.entity);"><i class="fa fa-edit"></i></a>', width : '35', resizable: false});
                options.columnDefs.push({field:'', displayName: '', cellTemplate: '<a class="btn-detail" ng-click="$event.stopPropagation(); remove${entity.name}(row.entity);"><i class="fa fa-remove"></i></a>', width : '35', resizable: false});
            }
            return options;

        };
        return service;
    }
]);
