#set( $js  = "$")
#set( $open  = "${")
#set( $close = "}")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
'use strict';

/**
 * @ngdoc service
 * @name ${projectBeanName}App.${projectBeanName}Service
 * @description
 * # myService
 * Factory in the ${projectBeanName}App.
 */

var ${projectBeanName}Services = angular.module('${projectBeanName}Services');

${projectBeanName}Services.factory('${entityBeanName}Service', ['$resource',
    function ($resource) {
        return $resource('http://localhost:8080/${entity.name}/:id', {}, {
            'findAll': { method: 'GET', url: 'http://localhost:8080/${entity.name}', isArray: false},
            'search': { method: 'POST', url: 'http://localhost:8080/${entity.name}/search', isArray: false},
            'searchText': { method: 'POST', url: 'http://localhost:8080/${entity.name}/searchText', isArray: false},
            'get': { method: 'GET'},
            'save': { method: 'POST'},
            'remove': { method: 'DELETE'}
        });
    }
]);
