<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${project.group}.${project.name}.api.persistence.mybatis.DashboardRepository">

    <resultMap id="histogramDto" type="${project.group}.${project.name}.domain.dto.HistogramDto">
        <result column="label" property="label"/>
        <result column="value" property="value"/>
    </resultMap>

	<select id="allCount" resultMap="histogramDto">
#set( $mainEntities = ${project.getAllMainEntities()} )
#set( $size = ${mainEntities.size()} )
#set( $counter = 0)
        select * from (
#foreach( ${entity} in ${mainEntities} )
#set($counter = $counter + 1)
            (select '${entity.title}' as label, count(*) as value from ${entity.table.name})#if($counter < $size) union
#end
#end

        ) allCount
	</select>

#foreach( ${entity} in ${mainEntities} )
#foreach( ${e} in ${entity.getOneToManyProperties()} )
#set($numericProperties = ${e.referedEntity.getAllNumericProperties()} )
#if( !${e.referedEntity.looksLikeEnum()} && ${numericProperties.size()} > 0 && !${entity.getId().isEmbeddable()} && !${e.referedEntity.id.isEmbeddable()})
#set($collectionProperty = $util.capitalize( ${e.mappedBy} ) )
#set($capitalizedName = $util.capitalize( ${e.name} ) )
#set($capitalizedProp = $util.capitalize( ${numericProperties[0].name} ) )
    <select id="get${capitalizedName}WithSum${collectionProperty}${capitalizedProp}" resultMap="histogramDto">
        select * from (
            select
#if( ${entity.getMostDescritiveProperties().size()} > 0 )
                ${entity.name}.${entity.table.pk[0].name} ,
                ${entity.name}.${entity.getMostDescritiveProperties()[0].column.name} as label,
#else
                ${entity.name}.${entity.table.pk[0].name} || ' ${entity.name}' as label,
#end
                NVL( sum(o${e.mappedBy}.${numericProperties[0].column.name}), 0) as value
            from ${entity.table.name} ${entity}
            inner join ${e.referedEntity.table.name} o on o.${e.referedEntity.table.pk[0].name} = ${entity.name}.${entity.table.pk[0].name}
#if( ${entity.getMostDescritiveProperties().size()} > 0 )
            group by ${entity.name}.${entity.table.pk[0].name}, ${entity.name}.${entity.getMostDescritiveProperties()[0].column.name}
#else
            group by ${entity.name}.${entity.table.pk[0].name}
#end
            order by sum(o${e.mappedBy}.${numericProperties[0].column.name}) desc
        ) where rownum <![CDATA[ < ]]> 11
    </select>
#end
#if( !${e.referedEntity.looksLikeEnum()} && ${numericProperties.size()} > 1 && !${entity.getId().isEmbeddable()} && !${e.referedEntity.id.isEmbeddable()})
#set($capitalizedProp = $util.uncapitalize( ${numericProperties[1].name} ) )
    <select id="get${capitalizedName}WithSum${collectionProperty}${capitalizedProp}" resultMap="histogramDto">
        select * from (
            select
#if(${entity.getMostDescritiveProperties().size()} > 0  )
                ${entity.name}.${entity.table.pk[0].name},
                ${entity.name}.${entity.getMostDescritiveProperties()[0].column.name} as label,
#else
                ${entity.name}.${entity.table.pk[0].name} || ' ${entity.name}' as label,
#end
                NVL(sum(o${e.mappedBy}.${numericProperties[1].column.name}) ,0 ) as value
            from ${entity.table.name} ${entity}
            inner join ${e.referedEntity.table.name} o${e.mappedBy} on o${e.mappedBy}.${e.referedEntity.table.pk[0].name} = ${entity.name}.${entity.table.pk[0].name}
#if( ${entity.getMostDescritiveProperties().size()} > 0 )
            group by ${entity.name}.${entity.table.pk[0].name}, ${entity.name}.${entity.getMostDescritiveProperties()[0].column.name}
#else
            group by ${entity.name}.${entity.table.pk[0].name}
#end
            order by sum(o${e.mappedBy}.${numericProperties[1].column.name}) desc
        ) where rownum <![CDATA[ < ]]> 11
    </select>
#end
#if( !${e.referedEntity.looksLikeEnum()} && ${numericProperties.size()} > 2 && !${entity.getId().isEmbeddable()} && !${e.referedEntity.id.isEmbeddable()})
#set($capitalizedProp = $util.uncapitalize( ${numericProperties[2].name} ) )
    <select id="get${capitalizedName}WithSum${collectionProperty}${capitalizedProp}" resultMap="histogramDto">
        select * from (
            select
#if(${entity.getMostDescritiveProperties().size()} > 0  )
                ${entity.name}.${entity.table.pk[0].name},
                ${entity.name}.${entity.getMostDescritiveProperties()[0].column.name} as label,
#else
                ${entity.name}.${entity.table.pk[0].name} || ' ${entity.name}' as label,
#end
                NVL(sum(o${e.mappedBy}.${numericProperties[2].column.name}),0 )as value
            from ${entity.table.name} ${entity}
            inner join ${e.referedEntity.table.name} o${e.mappedBy} on o${e.mappedBy}.${e.referedEntity.table.pk[0].name} = ${entity.name}.${entity.table.pk[0].name}
#if( ${entity.getMostDescritiveProperties().size()} > 0 )
            group by ${entity.name}.${entity.table.pk[0].name}, ${entity.name}.${entity.getMostDescritiveProperties()[0].column.name}
#else
            group by ${entity.name}.${entity.table.pk[0].name}
#end
            order by sum(o${e.mappedBy}.${numericProperties[2].column.name}) desc
        ) where rownum <![CDATA[ < ]]>  11
    </select>
#end
#end
#end


</mapper>
