/**
 *  Guick Generate class: https://github.com/wdavilaneto/guick
 *  Author: service-wdavilaneto@redhat.com
 *  This source is free under The Apache Software License, Version 2.0
 *  license url http://www.apache.org/licenses/LICENSE-2.0.txt
 */
package ${project.group}.${project.name}.api.persistence.support;

import org.hibernate.Criteria;
import org.hibernate.criterion.CriteriaSpecification;
import org.hibernate.criterion.Projections;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageImpl;
import org.springframework.data.domain.PageRequest;
import org.springframework.data.domain.Pageable;

import java.util.List;


/**
 * Created by walter.davila on 09/12/2014.
 */
public class PageableHelper {

    private static PageRequest DEFAULT_PAGEABLE = new PageRequest(0, 10);

    public static Page<?> getPage(Criteria criteria, Pageable pageable){
        // Count
        Long totalItems = (Long) criteria.setProjection(Projections.rowCount()).uniqueResult();

        // Pageable result Result
        criteria.setProjection(null).setResultTransformer(CriteriaSpecification.ROOT_ENTITY);
        List<?> result = criteria.setFirstResult(pageable.getPageNumber() * pageable.getPageSize()).setMaxResults(pageable.getPageSize()).list();
        return (Page<?>) new PageImpl<>(result, pageable, totalItems);
    }

    public static Pageable deafultPageable(){
        return DEFAULT_PAGEABLE;
    }

}
