#set( $js  = "$")
(function() {
    'use strict';

    angular.module('${project.name}App').controller('MenuController', ['${js}rootScope', '${js}scope', '${js}http', '${js}interval', 'jsog',
        function(${js}rootScope, ${js}scope, ${js}http, ${js}interval, jsog ) {
            ${js}scope.toothlet = function(){
                ${js}(".content-header.content-header-processo, .left-side, .right-side, .left-bar, nav.navbar.navbar-default.navbar-fixed-top, .bt-group-controller, .panel-page-pdf-content, .mh-mid, .content, footer, .totalContentWrapper").toggleClass("stash");
                ${js}(".content-document").toggleClass("stash-index");
                ${js}(".content-notification-detail, .content-notification, .content-notification-page").removeClass("stash");
            };
            ${js}scope.openLogout = function(){
                ${js}(".content-logout, .content-logout-page").toggleClass("stash");
                ${js}(".change-profile").removeClass("stash");
            };
            ${js}scope.changeColection = function(){
                ${js}(".card-collection, .table-collection, .bt-card-list").toggleClass("stash");
            };
            ${js}scope.openContentExpand = function(){
                ${js}(".content-expand, .bt-expand .mdi.mdi-chevron-down").toggleClass("stash");
            };
            ${js}scope.openCloseFilter = function(){
                ${js}(".search-filter-control, .bt-oc-filter .mdi.mdi-chevron-down").toggleClass("stash");
            };
            ${js}scope.openChangeProfile = function(){
                ${js}(".change-profile").toggleClass("stash");
            };
            ${js}scope.openNotification = function(){
                ${js}(".content-notification").toggleClass("stash");
                ${js}(".content-notification-detail").removeClass("stash");
                ${js}(".content-notification-page").removeClass("stash") ;
            };
            ${js}scope.openNotificationDetail = function(){
                ${js}(".content-notification-detail").toggleClass("stash");
                ${js}(".content-notification-page").removeClass("stash");
                ${js}(".content-notification").removeClass("stash");
            };
            ${js}scope.openNotificationPage = function(){
                ${js}(".content-notification-page").toggleClass("stash");
                ${js}(".content-notification-detail").removeClass("stash");
                ${js}(".content-notification").removeClass("stash");
            };
    }]);
})();