<div class="menu-bar">
    <a ng-click="toothlet()" ><i class="mdi mdi-menu"></i></a>
#if( ${project.config.useWorkflow} == true )
    <a href="#/${entity.beanName}" title="{{"menu.${entity.beanName}" | translate}"><i class="mdi mdi-home"></i></a>
#end
#if (${project.getAllMainEntities().size()} > 0)
#foreach( ${entity} in ${project.getAllMainEntities()})
#if (!${entity.isEmbeddable()})
    <a href="#/${entity.beanName}" title="{{"menu.${entity.beanName}" | translate}"><i class="mdi mdi-home"></i></a>
#end
#end
#end
#if (${project.getAllDomainEntities().size()} > 0 || ${project.getAllEnumLikeEntities().size()} > 0)
#if (${project.getAllDomainEntities().size()} > 0)

#foreach( ${entity} in ${project.getAllDomainEntities()})
#if (!${entity.isEmbeddable()})
    <a href="#/${entity.beanName}" title="{{"menu.${entity.beanName}" | translate}"><i class="mdi mdi-home"></i></a>
#end
#end
#end
#if (${project.getAllEnumLikeEntities().size()} > 0)

#foreach( ${entity} in ${project.getAllEnumLikeEntities()})
    <a href="#/${entity.beanName}" title="{{"menu.${entity.beanName}" | translate}"><i class="mdi mdi-home"></i></a>
#end
#end
#end
    <a href="">
        <i class="mdi mdi-logout"></i>
    </a>
</div>