<div class="navbar-right navbar-right-mgpe" ng-controller="loginController" ng-show="isAuthenticated">
    <!--<ul class="nav navbar-nav" ng-controller="AlertasTopoController as alertasTopoCtrl">-->
        <!--<li class="dropdown user user-menu">-->
            <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" title="Intimações não respondidas e com perda de prazo">-->
                <!--<i class="mdi mdi-flag"><small class="label label-header label-danger">{{alertasTopoCtrl.gridIntimacoesVencidas.data.length}}</small></i>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu bkg-cloud-white color-river pd7 ding">-->
                <!--<span class="ding-arrow"></span>-->
                <!--<h3 class="pd7 color-cloud bkg-river brdb-cloud fs1 text-center">Intimações não respondidas e com perda de prazo</h3>-->
                <!--<li class="mb-7" ng-repeat="alerta in alertasTopoCtrl.gridIntimacoesVencidas.data">-->
                    <!--<a class="color-river pd14 brdb-cloud" ng-href="#/avisos/{{alerta.idAviso}}/processos/{{alerta.numeroProcesso}}">{{alerta.dataRecebimento}} - {{alerta.numeroProcesso | mask:'#######-##.####.#.##.####'}}</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown user user-menu">-->
            <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" title="Intimações com prazo de resposta próximo do término">-->
                <!--<i class="mdi mdi-bell"><small class="label label-header label-danger">{{alertasTopoCtrl.gridIntimacoesComVencimentoProximo.data.length}}</small></i>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu bkg-cloud-white color-river pd7 ding">-->
                <!--<span class="ding-arrow"></span>-->
                <!--<h3 class="pd7 color-cloud bkg-river brdb-cloud fs1 text-center">Intimações com prazo de resposta próximo do término</h3>-->
                <!--<li class="pd7 " ng-repeat="alerta in alertasTopoCtrl.gridIntimacoesComVencimentoProximo.data">-->
                    <!--<a class="color-river pd14 brdb-cloud" ng-href="#/avisos/{{alerta.idAviso}}/processos/{{alerta.numeroProcesso}}">{{alerta.dataRecebimento}} - {{alerta.numeroProcesso | mask:'#######-##.####.#.##.####'}}</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown user user-menu">-->
            <!--<a href class="dropdown-toggle" data-toggle="dropdown" title="Novas intimações não visualizadas">-->
                <!--<i class="mdi mdi-email-outline"><small class="label label-header label-danger">{{alertasTopoCtrl.gridIntimacoesNaoVisualizadas.data.length}}</small></i>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu bkg-cloud-white color-river pd7 ding">-->
                <!--<span class="ding-arrow"></span>-->
                <!--<h3 class="pd7 color-cloud bkg-river brdb-cloud fs1 text-center ">Novas intimações não visualizadas</h3>-->
                <!--<li class="pd7 " ng-repeat="alerta in alertasTopoCtrl.gridIntimacoesNaoVisualizadas.data">-->
                    <!--<a class="color-river pd14 brdb-cloud" ng-href="#/avisos/{{alerta.idAviso}}/processos/{{alerta.numeroProcesso}}">{{alerta.dataRecebimento}} - {{alerta.numeroProcesso | mask:'#######-##.####.#.##.####'}}</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown user user-menu">-->
            <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" title="Usuário conectado">-->
                <!--<i class="mdi mdi-account"></i>-->
                <!--<span class="user-name" ng-bind="user.login"></span>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li class="user-header bg-light-blue" style="height: auto;">-->
                    <!--<h4>Perfil:</h4>-->
                    <!--<h3>{{user.login}}</h3>-->
                    <!--<small ng-repeat="perfil in user.perfil">{{perfil | translate}}</small>-->
                <!--</li>-->
                <!--<li class="user-footer"><div class="pull-right"><a href="" ng-click="logout()" class="bt bt-alizarin" style="color:white;"><i class="mdi mdi-logout"></i> Sair</a></div></li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->
</div>
