<div class="menu" accordion>
        <accordion>
            <accordion-group>
                <accordion-heading>
                    <span>
                        <i class="mdi mdi-projector-screen"></i>
                        Prototipo
                    </span>
                     <i class="pull-right mdi mdi-chevron-right"></i>
                </accordion-heading>
                <a href="#/cards" class="ng-binding"><i class="mdi mdi-view-grid"></i> Cards</a>
                <a href="#/book" class="ng-binding"><i class="mdi mdi-book"></i>Book</a>
                <a href="#/slick" class="ng-binding"><i class="mdi mdi-book"></i>Slick</a>
            </accordion-group>
        </accordion>
        <div class="panel panel-default ng-scope">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#/dashboard" class="ng-binding"><i class="mdi mdi-home"></i> pagina padrao</a>
                    </h4>
                </div>
            </div>
## FIXME remove all || true for auth
#if( ${project.config.useWorkflow} == true )
            <div class="panel panel-default ng-scope">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#/dashboard" class="ng-binding"><i class="fa fa-bar-chart-o"></i> Painel de Controle</a>
                    </h4>
                </div>
            </div>
#end
#if (${project.getAllMainEntities().size()} > 0)
            <div accordion-group ng-if="isAuthenticated || true" scope>
                <div accordion-heading>
                    <span>
                        {{"menu.principal" | translate}}
                    </span>
                    <i class="pull-right glyphicon glyphicon-chevron-right"></i>
                </div>
#foreach( ${entity} in ${project.getAllMainEntities()})
#if (!${entity.isEmbeddable()})
                <a href="#/${entity.beanName}" title="${entity.title}">
                    <i class="mdi mdi-file-document"></i> {{"menu.${entity.beanName}" | translate}}
                </a>
#end
#end
            </div>
#end
#if (${project.getAllDomainEntities().size()} > 0 || ${project.getAllEnumLikeEntities().size()} > 0)
#if (${project.getAllDomainEntities().size()} > 0)
                <div accordion-group ng-if="isAuthenticated || true">
                    <div accordion-heading>
                        <span>
                            {{"menu.administracao" | translate}}
                        </span>
                        <i class="pull-right glyphicon glyphicon-chevron-right"></i>
                    </div>
#foreach( ${entity} in ${project.getAllDomainEntities()})
#if (!${entity.isEmbeddable()})
                    <a href="#/${entity.beanName}" title="${entity.title}">
                        <i class="mdi mdi-file-document"></i> {{"menu.${entity.beanName}" | translate}}
                    </a>
#end
#end
                </div>
#end
#if (${project.getAllEnumLikeEntities().size()} > 0)
                <div accordion-group ng-if="isAuthenticated || true">
                    <div accordion-heading>
                        <span>
                            {{"menu.tipos" | translate}}
                        </span>
                        <i class="pull-right glyphicon glyphicon-chevron-right"></i>
                    </div>
#foreach( ${entity} in ${project.getAllEnumLikeEntities()})
                    <a href="#/${entity.beanName}" title="${entity.title}">
                        <i class="mdi mdi-file-document"></i> {{"menu.${entity.beanName}" | translate}}
                    </a>
#end
                </div>
#end
#end
        <div accordion-group>
            <div accordion-heading>
                <span>{{"menu.sistema" | translate}}</span>
                <i class="pull-right mdi"></i>
            </div>
            <a href="#/sobre"><i class="mdi mdi-apps"></i>{{"menu.sobre" | translate}}</a>
            <a href="/swagger-ui" target="_blank"><i class="mdi mdi-apps"></i>{{"menu.restapi" | translate}}</a>
        </div>

    </div>
</div>
