<div class="navbar-right navbar-right-user" >
    <button popover="Notificações" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="openNotification()" class="bt-notification" href="">
        <i class="mdi mdi-bell"></i>
        <span class="count-notification">3</span>
    </button>
    <div class="content-notification">
        <span class="arrow"></span>
        <ul>
            <li>
                Últimas Notificações
                <a popover="Ver todas" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="openNotificationDetail()" class="bt-view-all pull-right" href="">
                    <i class="mdi mdi-eye"></i>
                </a>
            </li>
            <li class="notification-alert">
                <a  ng-click="openNotificationPage()" href="">
                    <span>
                        <i class="mdi mdi-alert"></i>
                    </span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </a>
            </li>
            <li class="notification-message">
                <a href="">
                    <span>
                        <i class="mdi mdi-email"></i>
                    </span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </a>
            </li>
            <li>
                <a href="">
                    <span>
                        <i class="mdi mdi-bell"></i>
                    </span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </a>
            </li>
            <li class="notification-document">
                <a href="">
                    <span>
                        <i class="mdi mdi-file-document"></i>
                    </span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </a>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
    <div class="content-notification-detail">
        <section class="content-header">
            <h1>
                <i class="mdi mdi-bell"></i>
                Notificações
                <a ng-click="openNotification()" class="bt bt-alizarin bt-circle bt-sm pull-right" href="">
                    <i class="mdi mdi-close"></i>
                </a>
            </h1>
            <ol class="breadcrumb">
                <li>
                    Notificações
                </li>
            </ol>
        </section>
        <section class="content">
            <div class="row-form">
                <div class="col-md-4">
                    <div class="card card-carrot">
                        <div class="card-content-ha">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="fs5_4">
                                        03
                                    </h4>
                                    <h4>
                                        Quantidade de notificações.
                                    </h4>
                                </div>
                                <div class="col-md-6">
                                    <i class="mdi mdi-alert fs5_4 pull-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-emerald">
                        <div class="card-content-ha">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="fs5_4">
                                        03
                                    </h4>
                                    <h4>
                                        Quantidade de notificações
                                    </h4>
                                </div>
                                <div class="col-md-6">
                                    <i class="mdi mdi-email pull-right fs5_4">

                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-river">
                        <div class="card-content-ha">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="fs5_4">
                                        03
                                    </h4>
                                    <h4>
                                        Quantidade de Notificações
                                    </h4>
                                </div>
                                <div class="col-md-6">
                                    <h4>
                                        <i class="mdi mdi-file-document pull-right fs5_4"></i>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <tabset>
                <tab>
                    <tab-heading>
                        Novas Notificações
                    </tab-heading>
                    <div class="row-form">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-notification-alert">
                                        <h4 class="status">
                                            Nome da notificação
                                        </h4>
                                        <div class="card-content-ha">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis est facilis itaque molestias nobis? Aperiam blanditiis cum esse est, expedita hic iusto libero magni natus nisi provident quaerat temporibus tenetur?
                                        </div>
                                        <div class="card-footer">
                                            <a ng-click="openNotificationPage()" href="">
                                                <i class="mdi mdi-magnify"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-notification-alert">
                                        <h4 class="status">
                                            Nome da notificação
                                        </h4>
                                        <div class="card-content-ha">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis est facilis itaque molestias nobis? Aperiam blanditiis cum esse est, expedita hic iusto libero magni natus nisi provident quaerat temporibus tenetur?
                                        </div>
                                        <div class="card-footer">
                                            <a href="">
                                                <i class="mdi mdi-magnify"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-notification-document">
                                        <h4 class="status">
                                            Nome da notificação
                                        </h4>
                                        <div class="card-content-ha">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis est facilis itaque molestias nobis? Aperiam blanditiis cum esse est, expedita hic iusto libero magni natus nisi provident quaerat temporibus tenetur?
                                        </div>
                                        <div class="card-footer">
                                            <a href="">
                                                <i class="mdi mdi-magnify"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-notification-message">
                                        <h4 class="status">
                                            Nome da notificação
                                        </h4>
                                        <div class="card-content-ha">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis est facilis itaque molestias nobis? Aperiam blanditiis cum esse est, expedita hic iusto libero magni natus nisi provident quaerat temporibus tenetur?
                                        </div>
                                        <div class="card-footer">
                                            <a href="">
                                                <i class="mdi mdi-magnify"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-notification-message">
                                        <h4 class="status">
                                            Nome da notificação
                                        </h4>
                                        <div class="card-content-ha">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis est facilis itaque molestias nobis? Aperiam blanditiis cum esse est, expedita hic iusto libero magni natus nisi provident quaerat temporibus tenetur?
                                        </div>
                                        <div class="card-footer">
                                            <a href="">
                                                <i class="mdi mdi-magnify"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab>
                    <tab-heading>
                        Todas
                    </tab-heading>
                </tab>
            </tabset>
        </section>
    </div>
    <div class="content-notification-page">
        <section class="content-header">
            <h1>
                <i class="mdi mdi-bell"></i>
                Nome da Notificação
                <a class="bt bt-alizarin bt-circle pull-right" ng-click="openNotificationPage()" href="">
                    <i class="mdi mdi-close"></i>
                </a>
            </h1>
            <ol class="breadcrumb">
                <li>
                    Notificação de alerta
                </li>
            </ol>
        </section>
        <section class="content">
            <div class="row-form">
                <div class="col-md-12">
                    <div class="card">
                        <h4 class="status color-river"></h4>
                        <div class="card-content-ha">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolore ea eum facilis illo minus nam neque nulla quaerat, recusandae reprehenderit soluta ullam vel velit voluptatum! In, provident voluptates? Odit.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorum eveniet ex fugiat illum, incidunt laboriosam laborum libero, nam pariatur unde, velit veniam! Dolores ducimus nulla officia reprehenderit tenetur. Tenetur?
                            </p>
                        </div>
                        <div class="card-footer">
                            <a class="color-emerald" href="">
                                <i class="mdi mdi-check"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <button class="toothlet" ng-click="toothlet()" popover="Reduzir Menu" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true">
        <i class="mdi mdi-menu"></i>
    </button>
    <button popover="Perfil" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true" class="bt-logout pull-left" ng-click="openLogout()">
        <i class="mdi mdi-account-circle"></i>
    </button>
    <div class="content-logout">
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive img-circle" src="../layout/images/avatar5.png" alt=""/>
            </div>
            <div class="col-md-9 pd7">
                <h4 class="color-river">
                    olá, Gustavo Carvalho
                </h4>
                <p class="color-river">
                    Administrador
                </p>
                <a class="" ng-click="openChangeProfile()" href="">
                    <i class="mdi mdi-account-convert"></i>
                </a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <button  popover="Sair" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true" class="bt bt-alizarin bt-circle pull-right" >
                    <i class="mdi mdi-logout"></i>
                </button>
                <button popover="Voltar" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true" class="bt bt-river bt-circle pull-right" ng-click="openLogout()">
                    <i class="mdi mdi-chevron-left"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="change-profile">
        <section class="content-header">
            <h1>
                <i class="mdi mdi-account"></i>
                Trocar Perfil
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="alarm alarm-river">
                        Caso queira mudar seu perfil, preencha com um novo login e senha de acesso.
                    </div>
                </div>
            </div>
            <div class="change-profile-content">
                <div class="row-form">
                    <div class="col-md-6 form-group">
                        <label for="">
                            Login
                        </label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="">
                            Senha
                        </label>
                        <input type="text" class="form-control"/>
                    </div>
                </div>
                <hr/>
                <div class="row-form">
                    <a ng-click="openChangeProfile()" class="bt bt-carrot" href="">
                        <i class="mdi mdi-block-helper"></i>
                        Cancelar
                    </a>
                    <a class="bt bt-emerald" href="">
                        <i class="mdi mdi-check"></i>
                        Confirmar
                    </a>
                </div>
            </div>

        </section>
    </div>
</div>