<div class="row">
    <div class="col-md-12">
        <div class="row-form">

    <div class="col-md-3" show-errors>
        <div class="form-group has-warning">
            <label >Candidato</label>
            <div angucomplete-alt id="candidatoAutoComplete"
                input-name="candidatoAutoComplete"
                initial-value="{{entity.candidato.nome}}"
                placeholder="Busca por Códigomatricula ou Nome ou Email ou Nome Completo ou Login"
                name="candidato"
                pause="400"
                remote-url="/sev/api/Candidato/searchText?text="
                selected-object="vm.searchSelects.candidato"
                remote-url-data-field="content"
                title-field="nome,nomeCompleto,cdmatricula,email,login"
                      minlength="2"
                input-class="form-control"
                field-required="true"
                text-no-results="Nenhum registro encontrado"
                text-searching="Buscando"
                auto-match="true"/>
    </div>
</div>

<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="qtVotos" type="text" required />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="qtVotos">
            Qt Votos*        </label>
    </div>
</div>

        </div>
    </div>
</div>