<div class="row">
    <div class="col-md-12">
        <div class="row-form">



    <div class="col-md-3 form-group ">
        <label>Candidato
            <a class="btn-detail" ng-show="vm.searchSelects.candidato.id != null" ng-click="$event.stopPropagation(); view('lg','Candidato');"><i class="fa fa-fw fa-search-plus"></i></a>
        </label>
        <div angucomplete-alt id="candidatoAutoComplete"
              placeholder="Busca por Códigomatricula ou Nome ou Email ou Nome Completo ou Login"
              name="candidato"
              pause="500"
              remote-url="/sev/api/candidato/searchText?text="
              selected-object="vm.searchSelects.candidato"
              remote-url-data-field="content"
              title-field="cdmatricula,nome,email,nomeCompleto,login"
              input-class="form-control"
              field-required="true"
              text-no-results="Nenhum registro encontrado"
              text-searching="Buscando"
              auto-match="true"/>
    </div>




<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="qtVotos" type="text"  />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="qtVotos">
            Qt Votos        </label>
    </div>
</div>






</div>
</div>
</div>