        <script type="text/ng-template" id="createArquivoRelatorioModal.html">
            <form name="createArquivoRelatorioModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Arquivo Relatorio</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/ArquivoRelatorio/ArquivoRelatorioFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewArquivoRelatorioModal.html">
            <div class="modal-header">
                <h4 class="modal-title">ArquivoRelatorio</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/ArquivoRelatorio/ArquivoRelatorioShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveArquivoRelatorioModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/ArquivoRelatorio/ArquivoRelatorioShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createCandidatoModal.html">
            <form name="createCandidatoModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Candidato</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/Candidato/CandidatoFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewCandidatoModal.html">
            <div class="modal-header">
                <h4 class="modal-title">Candidato</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/Candidato/CandidatoShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveCandidatoModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/Candidato/CandidatoShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createCandidatoPadraoModal.html">
            <form name="createCandidatoPadraoModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Candidato Padrao</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/CandidatoPadrao/CandidatoPadraoFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewCandidatoPadraoModal.html">
            <div class="modal-header">
                <h4 class="modal-title">CandidatoPadrao</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/CandidatoPadrao/CandidatoPadraoShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveCandidatoPadraoModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/CandidatoPadrao/CandidatoPadraoShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createCedulaModal.html">
            <form name="createCedulaModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Cedula</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/Cedula/CedulaFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewCedulaModal.html">
            <div class="modal-header">
                <h4 class="modal-title">Cedula</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/Cedula/CedulaShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveCedulaModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/Cedula/CedulaShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createEleicaoModal.html">
            <form name="createEleicaoModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Eleicao</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/Eleicao/EleicaoFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewEleicaoModal.html">
            <div class="modal-header">
                <h4 class="modal-title">Eleicao</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/Eleicao/EleicaoShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveEleicaoModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/Eleicao/EleicaoShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createEleicaoParametroModal.html">
            <form name="createEleicaoParametroModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Eleicao Parametro</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/EleicaoParametro/EleicaoParametroFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewEleicaoParametroModal.html">
            <div class="modal-header">
                <h4 class="modal-title">EleicaoParametro</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/EleicaoParametro/EleicaoParametroShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveEleicaoParametroModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/EleicaoParametro/EleicaoParametroShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createEleitorModal.html">
            <form name="createEleitorModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Eleitor</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/Eleitor/EleitorFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewEleitorModal.html">
            <div class="modal-header">
                <h4 class="modal-title">Eleitor</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/Eleitor/EleitorShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveEleitorModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/Eleitor/EleitorShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createEventoModal.html">
            <form name="createEventoModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Evento</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/Evento/EventoFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewEventoModal.html">
            <div class="modal-header">
                <h4 class="modal-title">Evento</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/Evento/EventoShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveEventoModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/Evento/EventoShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createIntegranteComissaoModal.html">
            <form name="createIntegranteComissaoModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Integrante Comissao</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/IntegranteComissao/IntegranteComissaoFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewIntegranteComissaoModal.html">
            <div class="modal-header">
                <h4 class="modal-title">IntegranteComissao</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/IntegranteComissao/IntegranteComissaoShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveIntegranteComissaoModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/IntegranteComissao/IntegranteComissaoShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createParametroModal.html">
            <form name="createParametroModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Parametro</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/Parametro/ParametroFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewParametroModal.html">
            <div class="modal-header">
                <h4 class="modal-title">Parametro</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/Parametro/ParametroShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveParametroModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/Parametro/ParametroShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createResultadoApuracaoModal.html">
            <form name="createResultadoApuracaoModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Resultado Apuracao</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/ResultadoApuracao/ResultadoApuracaoFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewResultadoApuracaoModal.html">
            <div class="modal-header">
                <h4 class="modal-title">ResultadoApuracao</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/ResultadoApuracao/ResultadoApuracaoShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveResultadoApuracaoModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/ResultadoApuracao/ResultadoApuracaoShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createSituacaoEleicaoModal.html">
            <form name="createSituacaoEleicaoModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Situacao Eleicao</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/SituacaoEleicao/SituacaoEleicaoFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewSituacaoEleicaoModal.html">
            <div class="modal-header">
                <h4 class="modal-title">SituacaoEleicao</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/SituacaoEleicao/SituacaoEleicaoShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveSituacaoEleicaoModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/SituacaoEleicao/SituacaoEleicaoShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createTipoEventoModal.html">
            <form name="createTipoEventoModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Tipo Evento</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/TipoEvento/TipoEventoFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewTipoEventoModal.html">
            <div class="modal-header">
                <h4 class="modal-title">TipoEvento</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/TipoEvento/TipoEventoShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveTipoEventoModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/TipoEvento/TipoEventoShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createTipoFiltroPessoaModal.html">
            <form name="createTipoFiltroPessoaModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Tipo Filtro Pessoa</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/TipoFiltroPessoa/TipoFiltroPessoaFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewTipoFiltroPessoaModal.html">
            <div class="modal-header">
                <h4 class="modal-title">TipoFiltroPessoa</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/TipoFiltroPessoa/TipoFiltroPessoaShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveTipoFiltroPessoaModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/TipoFiltroPessoa/TipoFiltroPessoaShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createTipoIntegranteComissaoModal.html">
            <form name="createTipoIntegranteComissaoModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Tipo Integrante Comissao</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/TipoIntegranteComissao/TipoIntegranteComissaoFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewTipoIntegranteComissaoModal.html">
            <div class="modal-header">
                <h4 class="modal-title">TipoIntegranteComissao</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/TipoIntegranteComissao/TipoIntegranteComissaoShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveTipoIntegranteComissaoModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/TipoIntegranteComissao/TipoIntegranteComissaoShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createTipoParametroModal.html">
            <form name="createTipoParametroModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Tipo Parametro</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/TipoParametro/TipoParametroFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewTipoParametroModal.html">
            <div class="modal-header">
                <h4 class="modal-title">TipoParametro</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/TipoParametro/TipoParametroShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveTipoParametroModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/TipoParametro/TipoParametroShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createTipoRelatorioModal.html">
            <form name="createTipoRelatorioModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Tipo Relatorio</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/TipoRelatorio/TipoRelatorioFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewTipoRelatorioModal.html">
            <div class="modal-header">
                <h4 class="modal-title">TipoRelatorio</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/TipoRelatorio/TipoRelatorioShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveTipoRelatorioModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/TipoRelatorio/TipoRelatorioShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

        <script type="text/ng-template" id="createUrnaModal.html">
            <form name="createUrnaModalForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$event.stopPropagation(); cancel()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Urna</h4>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                                <div ng-include src="'views/crud/Urna/UrnaFieldset.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar </button>
                    <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="fa fa-save"></i> Gravar </button>
                </div>
            </form>
        </script>

        <script type="text/ng-template" id="viewUrnaModal.html">
            <div class="modal-header">
                <h4 class="modal-title">Urna</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/Urna/UrnaShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
        <script type="text/ng-template" id="confirmRemoveUrnaModal.html">
            <div class="modal-header">
                <h4 class="modal-title has-warning">Atenção: Deseja excluir o registro ?</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                     <div class="box-header"></div>
                     <div class="box-body">
                         <div class="row">
                            <div ng-include src="'views/crud/Urna/UrnaShowFieldset.html'"></div>
                         </div>
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" ng-click="$event.stopPropagation(); cancel()"><i class="fa-chevron-circle-left"></i> Cancelar</button>
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); remove()"><i class="fa fa-ban"></i> Remover </button>
            </div>
        </script>

