<!-- sessões -->
<section class="content-header">
    <h1 class="color-asphalt"><i class="mdi mdi-file-find"></i> Parametro</h1>
    <ol class="breadcrumb">
        <li><a href="#/"> <i class="mdi mdi-magnify"></i> {{"menu.inicial" | translate}} </a></li>
        <li class="active"><a href="#/parametro"> {{"filtro" | translate}} {{"menu.parametro" | translate}} </a></li>
    </ol>
</section>

<section class="content fadeInRight">
    <div class="box box-primary">
        <form name="parametroForm" novalidate ng-submit="vm.newSearch()">
            <div tabset>
                <div tab ng-click="vm.setTextSearchActive(true)">
                    <div tab-heading><i class="mdi mdi-filter"></i> {{"filtro_busca" | translate}}</div>
                    <div class="nav-tabs-custom">
                        <div class="tab-content">
                            <div class="box-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="searchField.text"> Busca por texto
                                        </label>
                                            <input class="form-control" type="text" ng-model="vm.searchField.text" placeholder="busca por texto.." id="searchField.text"/>
                                    </div>
                                </div>

                            </div>

                            <div class="box-footer hidden-sm hidden-xs">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="bt bt-sky" href="" ng-click="vm.clearForm()"><i class="mdi mdi-eraser"></i> Limpar Filtro</a>
                                        <a class="bt bt-emerald" href="" ng-click="vm.newSearch()"><i class="mdi mdi-magnify"></i> Buscar</a>
                                        <a class="bt bt-asphalt" href="" ng-click="vm.open('lg')"><i class="mdi mdi-open-in-new"></i> Novo </a>
                                        <a class="bt bt-asphalt" href="" ui-sref="parametroEdit.main()"><i class="mdi mdi-plus"></i> Novo </a>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer hidden-md hidden-lg">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="bt bt-sky" href="" ng-click="vm.clearForm()"><i class="mdi mdi-eraser"></i> </a>
                                        <a class="bt bt-emerald" href="" ng-click="vm.newSearch()"><i class="mdi mdi-magnify"></i> </a>
                                        <a class="bt bt-asphalt" href="" ng-click="vm.open('lg')"><i class="mdi mdi-open-in-new"></i> </a>
                                        <a class="bt bt-asphalt" href="" ui-sref="parametroEdit.main()"><i class="mdi mdi-plus"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div tab ng-click="vm.setTextSearchActive(false)">
                    <tab-heading><i class="mdi mdi-file-find"></i> {{"busca_avancada" | translate}}</tab-heading>
                    <div class="nav-tabs-custom">
                        <div class="tab-content">
                            <div class="box-body">
                                <div class="row">
                                    <div ng-include src="'modules/parametro/components/parametro.filter.html'"></div>
                                </div>
                            </div>
                            <div class="box-footer hidden-sm hidden-xs">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="bt bt-sky" href="" ng-click="vm.clearForm()"><i class="mdi mdi-eraser"></i> Limpar Filtro</a>
                                        <a class="bt bt-emerald" href="" ng-click="vm.newSearch()"><i class="mdi mdi-magnify"></i> Buscar</a>
                                        <a class="bt bt-asphalt" href="" ng-click="vm.open('lg')"><i class="mdi mdi-open-in-new"></i> Novo </a>
                                        <a class="bt bt-asphalt" href="" ui-sref="parametroEdit.main()"><i class="mdi mdi-plus"></i> Novo </a>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer hidden-md hidden-lg">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="bt bt-sky" href="" ng-click="vm.clearForm()"><i class="mdi mdi-eraser"></i> </a>
                                        <a class="bt bt-emerald" href="" ng-click="vm.newSearch()"><i class="mdi mdi-magnify"></i> </a>
                                        <a class="bt bt-asphalt" href="" ng-click="vm.open('lg')"><i class="mdi mdi-open-in-new"></i> </a>
                                        <a class="bt bt-asphalt" href="" ui-sref="parametroEdit.main()"><i class="mdi mdi-plus"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- fim sessão -->
    <!-- sessão -->
    <div class="box box-primary">
        <div class="box-body">
            <div class="box-header">
                <h3 class="box-title color-asphalt"><i class="mdi mdi-filter"></i> {{"grid.titulo" | translate}}</h3>
            </div>
            <div class="bounceIn" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-pagination ui-grid-auto-resize block-ui block-ui-pattern="/.*\/api\Parametro/.*/"></div>
        </div>
    </div>
    <div ng-include="'modules/parametro/components/parametro.modal.html'"></div>
</section>
