<div class="row">
    <div class="col-md-12">
        <div class="row-form">
            <div class="col-md-3 form-group">
                <div class="inputMaterialGroup">
                    <input class="inputMaterial" type="text" ng-model="vm.entity.nomeTipoIntegrante" ng-required="true" required  id="nomeTipoIntegrante" />
                    <span class="bar"></span>
                    <span class="highlight"></span>
                    <label for="nomeTipoIntegrante">
                        Nome Tipo Integrante
                    </label>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <div class="inputMaterialGroup">
                    <input class="inputMaterial" type="text" ng-model="vm.entity.descricaoTipoIntegrante"  id="descricaoTipoIntegrante" />
                    <span class="bar"></span>
                    <span class="highlight"></span>
                    <label for="descricaoTipoIntegrante">
                        Descrição Tipo Integrante
                    </label>
                </div>
            </div>













</div>
</div>
</div>