    <div class="col-md-3 form-group ">
        <label class="control-label" for="nomeTipoIntegrante">Nome Tipo Integrante</label>
        <input class="form-control" type="text" ng-model="vm.entity.nomeTipoIntegrante" ng-required="true"placeholder="Nome Tipo Integrante" id="nomeTipoIntegrante" />
    </div>
    <div class="col-md-3 form-group">
        <label class="control-label" for="descricaoTipoIntegrante">Descrição Tipo Integrante</label>
        <input class="form-control" type="text" ng-model="vm.entity.descricaoTipoIntegrante" placeholder="Descrição Tipo Integrante" id="descricaoTipoIntegrante" />
    </div>













