                                <div class="col-md-4" ng-if="vm.entity.nomeTipoIntegrante">
                                    <div class="form-group">
                                        <label class="control-label">Nome Tipo Integrante</label>
                                        <div ng-if="vm.entity.nomeTipoIntegrante"> {{entity.nomeTipoIntegrante}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.descricaoTipoIntegrante">
                                    <div class="form-group">
                                        <label class="control-label">Descrição Tipo Integrante</label>
                                        <div ng-if="vm.entity.descricaoTipoIntegrante"> {{entity.descricaoTipoIntegrante}}</div>
                                    </div>
                                </div>






