<div class="row">
    <div class="col-md-12">
        <div class="row-form">

<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="nomeTipoIntegrante" ng-model="vm.entity.nomeTipoIntegrante" type="text" required />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="nomeTipoIntegrante">
            Nome Tipo Integrante*        </label>
    </div>
</div>
<div class="col-md-3 form-group" show-errors>
    <div class="inputMaterialGroup">
        <input class="inputMaterial" id="descricaoTipoIntegrante" ng-model="vm.entity.descricaoTipoIntegrante" type="text"  />
        <span class="bar"></span>
        <span class="highlight"></span>
        <label for="descricaoTipoIntegrante">
            Descrição Tipo Integrante        </label>
    </div>
</div>


        </div>
    </div>
</div>