#set( $js  = "$")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
<!-- sessões -->
<section class="content-header">
    <i class="fa fa-edit"></i> : ${entity.title}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">${entity.title}</li>
    </ol>
</section>

<section class="content">
    <div ng-controller="${entityBeanName}Controller">
        <form name="${entityBeanName}Form" novalidate>
            <tabset>
                <tab heading="Principal">
                    <div class="nav-tabs-custom">
                        <div class="tab-content">
                            <div class="box box-primary">
                                <div class="box-header"><h3 class="box-title"></h3></div>
                                <div class="box-body">
                                    <div class="row">
                                        <div ng-include src="'views/crud/${entity.name}/${entity.name}Fieldset.html'"></div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="form-group">
                                        <button class="btn btn-primary" back><span class="fa fa-chevron-circle-left"></span> Voltar</button>
                                        <button class="btn btn-danger" ng-click="remove()"><span class="fa fa-sign-out"></span> Remover</button>
                                        <button class="btn btn-success" ng-click="save()"><span class="fa fa-save"></span> Gravar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
#foreach( ${complexProperty} in ${entity.getDistinctedAllComplexProperties()})
#if (${complexProperty.isOneToMany()} ) ## || ${complexProperty.isManyToMany()}  TODO Many to many needs special query
                <tab heading="${complexProperty.title}" ng-controller="${entity.beanName}ExtController" ng-click="clear();find${complexProperty.referedEntity.name}()" ng-show="!${entity.looksLikeEnum()}">
                    <div class="nav-tabs-custom">
                        <div class="tab-content">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Lista de ${complexProperty.referedEntity.name}</h3>
                                    <div class="box-tools">
                                        <form ng-submit="search()">
                                            <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="edit${complexProperty.referedEntity.name}()"><i class="fa fa-plus-circle"></i> Adicionar</button>
                                            <div class="input-group">
                                                <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                                                <div class="input-group-btn">
                                                    <button class="btn btn-sm btn-default" ng-click="search${complexProperty.referedEntity.name}()"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--<div class="gridStyle" ng-grid="grid${complexProperty.referedEntity.name}Options"></div>-->
                                <!--<div ng-include src="'views/crud/${complexProperty.referedEntity.name}/${complexProperty.referedEntity.name}Table.html'"></div>-->
#set($entityParameter = ${complexProperty.referedEntity} )
#parse('stage/crud/html/entityTableParse.html.vm')
                            </div>

                        </div>
                    </div>
                </tab>
#end
#end

#foreach( ${complexProperty} in ${entity.getManyToOneProperties()})
#if(!${complexProperty.referedEntity.looksLikeEnum()} )
#set( $beanName = ${util.uncapitalize(${ent.referedEntity.name})} )
                <tab heading="${complexProperty.title}" ng-show="${entity.looksLikeMainEntity()}">
                    <div class="nav-tabs-custom">
                        <div class="tab-content">
                            <div class="box box-primary">
                                <div class="box-header"><h3 class="box-title">${complexProperty.referedEntity.title}</h3></div>
                                <div class="box-body">
                                    <div class="row">
#foreach( ${property} in ${complexProperty.referedEntity.properties})
                                        <div class="col-md-#if(${property.column.length} >= 100)4#{else}3#{end}">
                                            <div class="form-group">
                                                <label class="control-label">${property.title}</label>
                                                {{entity.${complexProperty}.${property}}}
                                            </div>
                                        </div>
#end
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
#end
#end
            </tabset>
        </form>

    </div>
</section>

