                                <div class="box-body table-responsive no-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-hover">
                                                <tr>
####### TODO Teste TEMPORARIO REMOVER!!!
#if(  ${entityParameter.childrens.size()} > 0 && ${entityParameter.childrens[0].name} == 'FuncImg' )
                                                    <th>Foto</th>
#end
#set(${properties} = [] )
#foreach( ${property} in ${entityParameter.getDistinctedAllComplexProperties()})
#if( ${property.isManyToOne()} && ${property.referedEntity.name} != ${entity.name})
#set( $foo = ${properties.add( $property )} )
#end
#end
#set($counter = 0)
#set($size = ${properties.size()})
######################################
#foreach( ${property} in ${properties})
#if( ${property.referedEntity.getAllImageProperties().size()} > 0 )
                                                    <th>${property.referedEntity.getAllImageProperties()[0].title}</th>
#end
#if( ${size} < 3 || (${property.referedEntity.getMostDescritiveProperties()[0].column.length} > 10 && ${property.referedEntity.getMostDescritiveProperties()[0].column.length} < 1000) )
                                                    <th>${property.Title}</th>
#else
                                                    #if($counter < 6)<!--<th>${property.Title}</th>-->
                                                    #end
#set($counter = $counter+1)
#if($counter == 6 && ${size} != 6)
    <!--
#end
#end
#end
#if($counter > 5 && ${size} != 6)
    -->
#end
############################################
#set($counter = 0)
#set($size = ${entityParameter.getDistinctedProperties().size()})
#foreach( ${property} in ${entityParameter.getDistinctedProperties()})
#if( ${size} < 5 || (${property.column.length} > 30 && ${property.column.length} < 500) ) ## case too many fields prefer long string
                                                    <th>${property.Title}</th>
#else
                                                    #if($counter < 6)<!-- <th>${property.Title}</th> -->
                                                    #end
#{end}
#set($counter = $counter+1)
#if($counter == 6 && ${size} != 6)
    <!--
#end
#end
#if($counter > 5 && ${size} != 6)
    -->
#end                                                <th></th>
                                                </tr>
                                                <tr dir-paginate="${entityParameter.beanName} in resultPage.content | itemsPerPage: pagination.pageSize" total-items="resultPage.totalElements" ng-dblclick="edit${entityParameter.name}(${entityParameter.beanName})" pagination-id="${entityParameter.beanName}">
####### TODO Teste TEMPORARIO REMOVER!!!
#if(  ${entityParameter.childrens.size()} > 0 && ${entityParameter.childrens[0].name} == 'FuncImg' )
                                                    <td><img ng-src="data:image/*;base64,{{funcionario.foto}}" ng-show="funcionario.foto" width="80px" /></td>
#end
#set($counter = 0)
#foreach( ${property} in ${properties})
#if( ${property.referedEntity.getAllImageProperties().size()} > 0 )
                                                    <td><img ng-src="data:image/*;base64,{{${entityParameter.beanName}.${property.referedEntity.beanName}.${property.referedEntity.getAllImageProperties()[0]}}}" width="80px" /></td>
#end
#if( ${size} < 3 || (${property.referedEntity.getMostDescritiveProperties()[0].column.length} > 10 && ${property.referedEntity.getMostDescritiveProperties()[0].column.length} < 1000) )
                                                    <td><span>{{${entityParameter.beanName}.${property.referedEntity.beanName}.${property.referedEntity.getMostDescritiveProperties()[0]}}}</span></td>
#else
                                                    #if($counter < 6)<!-- <td><p>{{${entityParameter.beanName}.${property.referedEntity.beanName}.${property.referedEntity.getMostDescritiveProperties()[0]}}}</p></td> -->
                                                    #end
#set($counter = $counter+1)
#if($counter == 6 && ${size} != 6)
    <!--
#end
#end
#{end}
#if($counter > 5 && ${size} != 6)
    -->
#end
############################################
#set($counter = 0)
#set($size = ${entityParameter.getDistinctedProperties().size()})
#foreach( ${property} in ${entityParameter.getDistinctedProperties()})
#if( ${size} < 5 || (${property.column.length} > 30 && ${property.column.length} < 500)) ## case too many fields prefer long string
                                                    <td><p>{{${entityParameter.beanName}.${property}}}</p></td>
#else
                                                    #if($counter < 6)<!--<td><p>{{${entityParameter.beanName}.${property}}}</p></td>-->
                                                    #end
#end
#set($counter = $counter+1)
#if($counter == 6 && ${size} != 6)
    <!--
#end
#end
#if($counter > 5 && ${size} != 6)
    -->
#end
                                                    <td><a class="btn-detail" ng-click="$event.stopPropagation(); detalhar(row.entity);"><i class="fa fa-edit"></i></a></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <dir-pagination-controls
                                        on-page-change="${entityParameter.beanName}PaginationChanged(newPageNumber)"
                                        boundary-links="true"
                                        template-url="layout/dir-pagination.html"
                                        pagination-id="${entityParameter.beanName}"></dir-pagination-controls>
                                </div>
