#set( $js  = "$")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
<!-- sessões -->
<section class="content-header"><h1><i class="fa #if(${entity.looksLikeDomain()})fa-map-marker#{else}fa-tachometer#{end}"></i> ${entity.name}</h1></section>

<section class="content">
    <div ng-controller="${entityBeanName}Controller">
        <form name="${entityBeanName}Form" novalidate>
            <tabset>
                <tab heading="Filtro de busca" ng-click="setTextSearchActive(true)">
                    <div class="nav-tabs-custom">
                        <div class="tab-content">
                            <div class="box box-primary">
                                <div class="box-header"><h2 class="box-title">Filtro de Busca Avançado</h2></div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" type="text" ng-model="searchText" placeholder="busca por texto.."/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="search()"><i class="glyphicon glyphicon-search"></i> Buscar</button>
                                        <div class="btn btn-primary btn-sm" ng-click="clearForm()"><i class="glyphicon glyphicon-trash"></i> Limpar Filtro</div>
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="open('lg')"><i class="fa fa-plus-circle"></i> Cadastrar Novo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Busca Avançada" ng-click="setTextSearchActive(false)">
                    <div class="nav-tabs-custom">
                        <div class="tab-content">
                            <div class="box box-primary">
                                <div class="box-header"><h2 class="box-title"></h2></div>
                                <div class="box-body">
                                    <div class="row">
                                        <div ng-include src="'views/crud/${entity.name}/${entity.name}Fieldset.html'"></div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="search()"><i class="glyphicon glyphicon-search"></i> Buscar</button>
                                        <button type="button" class="btn btn-primary btn-sm" ng-click="open('lg')"><i class="fa fa-plus-circle"></i> Cadastrar Novo</button>
                                        <div class="btn btn-primary btn-sm" ng-click="clearForm()"><i class="glyphicon glyphicon-trash"></i> Limpar Filtro</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </form>
        <!-- fim sessão -->
        <!-- sessão -->
        <div class="col-xs-12">
            <div class="row">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="box-header"><h3 class="box-title">Resultado da Busca</h3></div>
                        <div class="gridStyle" ng-grid="gridOptions"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fim sessão -->

        <script type="text/ng-template" id="create${entity.name}Modal.html">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">${entity.name}</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/${entity.name}/${entity.name}Fieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-ban"></i> Cancelar</button>
                <button class="btn btn-success" ng-click="save()"><i class="glyphicon glyphicon-save"></i> Gravar</button>
            </div>
        </script>

#foreach( ${complexProperty} in ${entity.getManyToOneProperties()})
#if( ${complexProperty.referedEntity.looksLikeMainEntity()} )
        <script type="text/ng-template" id="view${complexProperty.referedEntity.name}Modal.html">
            <div class="modal-header">
                <h4 class="modal-title">${complexProperty.referedEntity.name}</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/${complexProperty.referedEntity.name}/${complexProperty.referedEntity.name}ShowFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </script>
#end
#end

 #if(${entity.getOneToManyProperties().size()} == 0 )
        <script type="text/ng-template" id="create${entity.name}Modal.html">
            <div class="modal-header">
                <h4 class="modal-title">${entity.name}</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <div class="row">
                            <div ng-include src="'views/crud/${entity.name}/${entity.name}EditFieldset.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="$event.stopPropagation(); cancel()"><i class="fa fa-ban"></i> Cancelar</button>
                <button class="btn btn-success" ng-click="$event.stopPropagation(); save()"><i class="glyphicon glyphicon-save"></i> Gravar</button>
            </div>
        </script>
 #{end}
    </div>
</section>

