#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
<!doctype html>
<html class="no-js" lang="pt">
<html lang="pt" ng-app="${project.name}App" ng-strict-di>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>${project.lastGroup.toUpperCase()} - ${project.description}</title>
    <meta name="description" content=" - ${project.name}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="bower_components/angularjs-toaster/toaster.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <link rel="stylesheet" href="bower_components/nvd3/src/nv.d3.css" />
    <link rel="stylesheet" href="bower_components/angular-toggle-switch/angular-toggle-switch.css" />
    <link rel="stylesheet" href="bower_components/angular-block-ui/dist/angular-block-ui.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="bower_components/imperavi-redactor/redactor/redactor.css">
    <link rel="stylesheet" href="layout/css/ng-joyride-mgpe.css" />
    <link rel="stylesheet" href="layout/css/animate.css">
    <link rel="stylesheet" href="layout/css/media-querie.css">
    <link rel="stylesheet" href="layout/css/botoes.css">
    <link rel="stylesheet" href="layout/css/main.css">
    <link rel="stylesheet" href="layout/css/mgpe.css">
    <link rel="stylesheet" href="layout/css/reset.css">
    <link rel="stylesheet" href="layout/css/menu.css">
    <link rel="stylesheet" href="layout/css/mini-field.css">
    <link rel="stylesheet" href="layout/css/load.css">
    <!-- endbuild -->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

</head>
<body class="skin-blue authenticated-application waiting-for-angular">
<div toaster-container></div>
##<!--[if lt IE 8]>
##<p class="browsehappy">O browser que você esta utilizando é muito <strong>ultrapassado</strong>. . Por favor, considere a possibilidade de utilizar um <a href="http://browsehappy.com/">navegador</a> moderno e que possibilite uma melhor experiência.</p>
##<![endif]-->

<header class="header">
    <a href="#/" class="logo hidden-sm hidden-xs">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        ${project.name}
    </a>
    <h1 class="logo-sm  hidden-md hidden-lg"></h1>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a><a class="logo-control" href="#">${project.name} </a>
        <div class="navbar-right" ng-controller="loginController" id="user-area">
            <ul class="nav navbar-nav">
#foreach( ${entity} in ${project.getAllEntitiesWithDeadline()} )
                <li class="dropdown tasks-menu" ng-controller="${entity.beanName}AlertController">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-tasks"></i>
                        <span class="label label-danger" ng-if="alertCounter > 0">{{alertCounter}}</span>
                    </a>
                    <ul class="dropdown-menu" ng-if="alertCounter > 0">
                        <li class="header">Quantidade de ${entity.title} pendentes: {{alertCounter}} </li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu" ng-repeat="${entity.beanName} in resultPage.content">
                                <!-- start message -->
                                <li>
##                                    <a href="#/">
                                        <p>{{${entity.beanName}.#if(${entity.getMostDescritiveProperties().size()}>0)${entity.getMostDescritiveProperties()[0]}#{else}id#{end}}} <small><i class="fa fa-clock-o"></i> {{${entity.beanName}.${entity.getAllDeadlineProperties()[0]}}}</small></p>
                                        <p>{{#if(${entity.getMostDescritiveProperties().size()}>1)${entity.getMostDescritiveProperties()[1]}#{else}id#{end}}}</p>
##                                    </a>
                                </li>
                                <!-- end message -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#/${entity.name}">Ver Pendências</a></li>
                    </ul>
                </li>
#end
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"> <i class="glyphicon glyphicon-user"></i><span>{{user.name}}<i class="caret"></i></span></a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img ng-show="user.foto == null" src="bower_components/adminlte/img/avatar5.png" class="img-circle" alt="Imagem do usuário">
                            <img ng-show="user.foto != null" ng-src="data:image/jpeg;base64,{{user.foto}}"  class="img-circle" alt="Imagem do usuário" />
                            <p> {{user.name}} <small>Usuário desde Nov. 2012</small></p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="col-xs-4 text-center">
                                <a href="">Pendências</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="">Principal</a>
                            </div>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="" class="btn btn-default btn-flat">Perfil</a>
                            </div>
                            <div class="pull-right">
                                <a href="" class="btn btn-default btn-flat">Sair</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div id="initializing-panel"></div>

<div id="content-outer">

    <div id="login-holder">
        <div class="form-box" id="login-box" ng-controller="loginController">
            <div class="header">Área Restrita</div>
            <form name="loginForm">
                <div class="body bg-gray">
                    <div class="form-group" show-errors>
                        <input type="text" name="username" ng-model="username" class="form-control" placeholder="Login"/>
                        <span class="help-block" ng-show="loginForm.username.$error.required">Obrigatório</span>
                    </div>
                    <div class="form-group" show-errors>
                        <input type="password" name="password" ng-model="password" class="form-control" placeholder="Senha"/>
                        <span class="help-block" ng-show="loginForm.password.$error.required">Obrigatório</span>
                    </div>
##                    <div class="form-group">
##                        <input type="checkbox" name="remember_me"/> Lembrar Senha
##                    </div>
                </div>
                <div class="footer">
                    <button type="submit" ng-click="submit()" class="btn bg-olive btn-block">Autenticar</button>
                </div>
            </form>
            <div class="margin text-center">
            </div>
        </div>
    </div>

    <div class="div.wrapper row-offcanvas row-offcanvas-left" id="menu">
        <div aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
##                    <div class="user-panel">
##                        <div class="pull-left image">
##                            <img src="img/avatar3.png" class="img-circle" alt="User Image" />
##                        </div>
##                        <div class="pull-left info">
##                            <p>Hello, Jane</p>
##                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
##                        </div>
##                    </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search..."/>
                        <span class="input-group-btn">
                            <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li><a href="#/"><i class="fa fa-home"></i> Inicial </a></li>
#if( ${project.config.useWorkflow} == true )
                    <li><a href="#/activiti/deployment"><i class="glyphicon glyphicon-cog"></i>Processos</a></li>
#end
                    <li><a href="#/dashboard"><i class="fa fa-bar-chart-o"></i>Painel de Controle</a></li>
#if (${project.getAllMainEntities().size()} > 0)
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-group"></i> <span>Principal</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
#foreach( ${entity} in ${project.getAllMainEntities()})
#if (!${entity.isEmbeddable()})
                            <li><a href="#/${entity.name}"><i class="fa fa-angle-double-right"></i>${entity.title}</a></li>
#end
#end
                        </ul>
                    </li>
#end
#if (${project.getAllDomainEntities().size()} > 0 || ${project.getAllEnumLikeEntities().size()} > 0)
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-cog"></i> <span>Administração</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
#if (${project.getAllDomainEntities().size()} > 0)
                             <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-wrench"></i> <span>Tabelas Dominio</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
#foreach( ${entity} in ${project.getAllDomainEntities()})
#if (!${entity.isEmbeddable()})
                                    <li><a href="#/${entity.name}"><i class="fa fa-angle-double-right"></i>${entity.name}</a></li>
#end
#end
                                </ul>
                            </li>
#end
#if (${project.getAllEnumLikeEntities().size()} > 0)
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-cogs"></i> <span>Tipos</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
#foreach( ${entity} in ${project.getAllEnumLikeEntities()})
                                    <li><a href="#/${entity.name}"><i class="fa fa-angle-double-right"></i>${entity.name}</a></li>
#end
                                 </ul>
                            </li>
#end
                        </ul>
                    </li>
#end
                    <li><a href="#/sobre"><i class="fa fa-question-circle"></i>Sobre</a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </div>
        <div ng-include src="'views/modals.html'"></div>
        <div aside class="right-side" id="content" ng-view></div>
    </div>
</div>
<footer>
    <nav class="navbar navbar-footer navbar-default navbar-fixed-bottom ">
        <div class="container">
            <p class="text-center"><small>Ministério Público do Estado do Rio de Janeiro | 2015</small></p>
        </div>
    </nav>
</footer>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/angular-ui-date/src/date.js"></script>
<script src="bower_components/angular-ui-grid/ui-grid.js"></script>
<script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
<script src="bower_components/angularjs-toaster/toaster.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-ui-select/dist/select.js"></script>
<script src="bower_components/angular-input-masks/releases/masks.js"></script>
<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/pdfmake/build/pdfmake.js"></script>
<script src="bower_components/jquery-html5-placeholder-shim/jquery.html5-placeholder-shim.js"></script>
<script src="bower_components/angular-placeholder-shim/angular-placeholder-shim.js"></script>
<script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
<script src="bower_components/angular-base64/angular-base64.js"></script>
<script src="bower_components/angular-base64/angular-base64.min.js"></script>
<script src="bower_components/sca-ngular/sca-ngular.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/nvd3/nv.d3.js"></script>
<script src="bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
<script src="bower_components/ng-pattern-restrict/src/ng-pattern-restrict.js"></script>
<script src="bower_components/angular-toggle-switch/angular-toggle-switch.js"></script>
<script src="bower_components/file-saver.js/FileSaver.js"></script>
<script src="bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
<!-- endbower -->
<script src="bower_components/adminlte/js/app.js"></script>
<script src="bower_components/angular-i18n/angular-locale_pt-br.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<!-- principal -->
<script src="scripts/app.js"></script>

<!-- servicos -->
    <script src="scripts/service/support/ActivitiService.js"></script>
    <script src="scripts/service/dashboards/DashboardService.js"></script>
    <script src="scripts/service/support/SupportService.js"></script>
    <script src="scripts/service/support/truncate.js"></script>
    <script src="scripts/service/support/utils.js"></script>
    <script src="scripts/service/support/constants.js"></script>
    <script src="scripts/service/support/LoginService.js"></script>
    <script src="scripts/service/monitor/MonitorService.js"></script>
#foreach( ${entity} in ${project.metadata.entities})
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#if (!${entity.isEmbeddable()})
    <script src="scripts/service/crud/${entity.name}Service.js"></script>
#end
#end

<!-- controllers -->
    <script src="scripts/controllers/MainController.js"></script>
    <script src="scripts/controllers/support/ActivitiController.js"></script>
    <script src="scripts/controllers/dashboards/DashboardController.js"></script>
    <script src="scripts/controllers/monitor/MonitorController.js"></script>
    <script src="scripts/controllers/support/LoginController.js"></script>
#foreach( ${entity} in ${project.getAllEntitiesWithDeadline()} )
    <script src="scripts/controllers/support/${entity.name}AlertController.js"></script>
#end

#foreach( ${entity} in ${project.entities})
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#if (!${entity.isEmbeddable()})
    <script src="scripts/controllers/crud/${entity.name}Controller.js"></script>
    <script src="scripts/controllers/crud/${entity.name}ExtController.js"></script>
#end
#end

<!-- diretrizes -->
<script src="scripts/directives/directives.js"></script>
#foreach( ${entity} in ${project.entities})
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#if (!${entity.isEmbeddable()})
<script src="components/directives/${entityBeanName}/select.js"></script>
<script src="components/directives/${entityBeanName}/fieldset.js"></script>
#end
#end
<!-- endbuild -->

</body>
</html>
