#if ( ${property.column.name.contains('_DK_')} && ${property.column.nullable} )
<!-- Commented Becouse this foreing Key is unkown to generator and points to and nullable property
                                <div class="col-md-#if(${property.column.length} >= 100)4#{else}#if(${property.column.length} > 5)3#{else}2#{end}#{end}">
                                    <div class="form-group#if(!${property.column.nullable}) has-warning#{end}">
                                        <label class="control-label" for="${idAgragation}${property}">${property.title}</label>
                                        <input class="form-control" type="text" ng-model="entity.${idAgragation}${property}" #if(!${property.column.nullable})ng-required="true"#{end}#if(${property.name} != 'numeroProcesso') placeholder="${property.title}"#end id="${idAgragation}${property}" #if(${property.name} == 'numeroProcesso')ui-mask="9999 99999999" #{end}/>
                                    </div>
                                </div>
-->
#else
#if ( ${property.getType().equalsIgnoreCase('Date')} )
                                <div class="col-md-3 form-group#if(!${property.column.nullable}) has-warning#{end}">
                                    <div class="form-group" ng-controller="DatepickerDemoCtrl">
                                        <label for="${idAgragation}${property}">${property.title}</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" datepicker-popup="{{format}}" is-open="opened"
                                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"
                                                   ng-model="entity.${idAgragation}${property}" #if(!${property.column.nullable})ng-required="true"#{end}placeholder="${property.title}" id="${idAgragation}${property}" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-sm" ng-click="open(${js}event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
#else
#if ( ${property.name.equalsIgnoreCase('sex')} || ${property.name.equalsIgnoreCase('sexo')} )
                                <div class="form-group col-md-#if(${property.column.length} >= 100)4#{else}3#{end}#if(!${property.column.nullable}) has-warning#{end}">
                                    <div class="col-md-3">
                                        <div class="row">
                                            <label for="${idAgragation}${property}">${property.title}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12" ng-controller="ButtonsCtrl">
                                        <div class="row">
                                            <div class="btn-group btn-group-justified">
                                                <label class="btn btn-default btn-sm" ng-model="radioModel" btn-radio="'Left'" uncheckable>Masculino</label>
                                                <label class="btn btn-default btn-sm" ng-model="radioModel" btn-radio="'right'" uncheckable>Feminino</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
#else
#if ( ${property.name.startsWith('mail')} || ${property.name.startsWith('email')} )
                                <div class="col-md-#if(${property.column.length} >= 100)4#{else}3#{end}">
                                    <div class="form-group#if(!${property.column.nullable}) has-warning#{end}">
                                        <label for="${idAgragation}${property}">${property.title}</label>
                                        <input type="email" class="form-control" ng-model="entity.${idAgragation}${property}" #if(!${property.column.nullable})ng-required="true" #{end}#if(${property.name} != 'numeroProcesso')placeholder="${property.title}" #end id="${idAgragation}${property}" >
                                    </div>
                                </div>
#else
#if(${property.column.length} >= 500)
                                <div class="col-md-4">
                                    <div class="form-group#if(!${property.column.nullable}) has-warning#{end}">
                                        <label class="control-label" for="${idAgragation}${property}">${property.title}</label>
                                        <textarea class="form-control" rows="3" ng-model="entity.${idAgragation}${property}" #if(!${property.column.nullable})ng-required="true" #{end}#if(${property.name} != 'numeroProcesso')placeholder="${property.title}" #end id="${idAgragation}${property}" ></textarea>
                                    </div>
                                </div>
#else
                                <div class="col-md-#if(${property.column.length} >= 100)4#{else}#if(${property.column.length} > 5)3#{else}2#{end}#{end}">
                                    <div class="form-group#if(!${property.column.nullable}) has-warning#{end}">
                                        <label class="control-label" for="${idAgragation}${property}">${property.title}</label>
                                        <input class="form-control" type="text" ng-model="entity.${idAgragation}${property}" #if(!${property.column.nullable})ng-required="true" #{end}#if(${property.name} != 'numeroProcesso')placeholder="${property.title}" #end id="${idAgragation}${property}" #if(${property.name} == 'numeroProcesso')ui-mask="9999 99999999" #{end}/>
                                    </div>
                                </div>
#end
#end
#end
#end
#end