#if( !(${entity.table.getFieldThatPointsParentPk().size()} ==1 && ${entity.table.getFieldThatPointsParentPk()[0]} == ${property.column}) )
#if ( ${property.column.name.contains('_DK_')} && ${property.column.nullable} )
<!-- Commented Becouse this foreing Key is unkown to generator and points to and nullable property
                                <div class="col-md-#if(${property.column.length} >= 100)4#{else}#if(${property.column.length} > 5)3#{else}2#{end}#{end}">
                                    <div class="form-group#if(!${property.column.nullable} && !$isFilter) has-warning#{end}">
                                        <label class="control-label" for="${idAgragation}${property}">${property.title}</label>
                                        <input class="form-control" type="text" ng-model="entity.${idAgragation}${property}" #if(!${property.column.nullable})ng-required="true"#{end}#if(${property.name} != 'numeroProcesso') placeholder="${property.title}"#end id="${idAgragation}${property}" #if(${property.name} == 'numeroProcesso')ui-mask="9999 99999999" #{end}/>
                                    </div>
                                </div>
-->
#else
#if ( ${property.getType().equalsIgnoreCase('byte[]')} )
                                <div class="col-md-3 form-group#if(!${property.column.nullable} && !$isFilter) has-warning#{end}">
                                    <div class="form-group">
                                        <label for="${idAgragation}${property}">${property.title}</label>
                                        <div class="input-group">
                                            <img ng-src="data:image/*;base64,{{entity.${property}}}" ng-show="entity.${property}" width="80px" />
                                            <input type="file" fileread="entity.${property}" filetype="entity.${idAgragation}${property}Type" id="${idAgragation}${property}"/>
                                        </div>
                                    </div>
                                </div>
#else
#if ( ${property.getType().equalsIgnoreCase('Date')} )
#if (${property.column.insertable})
                                <div class="col-md-3 form-group#if(!${property.column.nullable} && !$isFilter) has-warning#{end}">
                                    <div class="form-group" ng-controller="StandardDatepickerController">
                                        <label for="${idAgragation}${property}">${property.title}</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm"
                                                datepicker-popup="{{dateFormat}}"
                                                is-open="opened"
                                                date-disabled="disabled(date, mode)" close-text="Close"
                                                ng-model="entity.${idAgragation}${property}"
                                                current-text="Hoje"
                                                clear-text="Limpar"
                                                #if(!${property.column.nullable})ng-required="true"#{end}
                                                id="${idAgragation}${property}"
                                                />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-sm" ng-click="open(${js}event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
#end
#else
#if ( ${property.name.toLowerCase().equalsIgnoreCase('sex')} || ${property.name.toLowerCase().equalsIgnoreCase('sexo')} )
                                <div class="form-group col-md-#if(${property.column.length} >= 100)4#{else}3#{end}#if(!${property.column.nullable} && !$isFilter) has-warning#{end}">
                                    <div class="col-md-3">
                                        <div class="row">
                                            <label>${property.title}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12" ng-controller="ButtonsCtrl">
                                        <div class="row">
                                            <div class="btn-group btn-group-justified">
                                                <label class="btn btn-default btn-sm" uncheckable ng-model="entity.${idAgragation}${property}" data-value="M" ng- btn-radio="'M'">Masculino</label>
                                                <label class="btn btn-default btn-sm" uncheckable ng-model="entity.${idAgragation}${property}" data-value="F" ng- btn-radio="'F'">Feminino</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
#else
#if ( ${property.name.toLowerCase().startsWith('mail')} || ${property.name.toLowerCase().startsWith('email')} )
                                <div class="col-md-#if(${property.column.length} >= 100)4#{else}3#{end}">
                                    <div class="form-group#if(!${property.column.nullable} && !$isFilter) has-warning#{end}">
                                        <label for="${idAgragation}${property}">${property.title}</label>
                                        <input type="email" class="form-control" ng-maxlength="${property.column.length}" ng-model="entity.${idAgragation}${property}" #if(!${property.column.nullable})ng-required="true" #{end}#if(${property.name} != 'numeroProcesso')placeholder="${property.title}" #end id="${idAgragation}${property}" >
                                    </div>
                                </div>
#else
#if(${property.column.length} >= 1000 && (${property.column.type.toLowerCase()} != 'clob' && ${property.column.type.toLowerCase()} != 'text' ) )
                                <div class="col-md-4">
                                    <div class="form-group#if(!${property.column.nullable} && !$isFilter) has-warning#{end}">
                                        <label class="control-label" for="${idAgragation}${property}">${property.title}</label>
                                        <textarea class="form-control" rows="3" ng-maxlength="${property.column.length}" ng-model="entity.${idAgragation}${property}" #if(!${property.column.nullable})ng-required="true" #{end}#if(${property.name} != 'numeroProcesso')placeholder="${property.title}" #end id="${idAgragation}${property}" ></textarea>
                                    </div>
                                </div>
#else
#if(${property.column.type} == 'CLOB' || ${property.column.type} == 'text' )
                                <div class="col-md-12">
                                    <div class="form-group#if(!${property.column.nullable} && !$isFilter) has-warning#{end}">
                                        <label class="control-label" for="${idAgragation}${property}">${property.title}</label>
                                        <textarea ckeditor="options" ng-model="entity.${idAgragation}${property}" #if(!${property.column.nullable})ng-required="true" #{end}#if(${property.name} != 'numeroProcesso')placeholder="${property.title}" #end id="${idAgragation}${property}" ></textarea>
                                    </div>
                                </div>
#else
                                <div class="col-md-#if(${property.column.length} >= 100)4#{else}#if(${property.column.length} > 5)3#{else}2#{end}#{end}">
                                    <div class="form-group#if(!${property.column.nullable} && !$isFilter) has-warning#{end}">
                                        <label class="control-label" for="${idAgragation}${property}">${property.title}</label>
                                        <input class="form-control" type="text" ng-maxlength="${property.column.length}" ng-model="entity.${idAgragation}${property}" #if(!${property.column.nullable})ng-required="true" #{end}#if(${property.name} != 'numeroProcesso')placeholder="${property.title}" #end id="${idAgragation}${property}" #if(${property.name} == 'numeroProcesso')ui-mask="9999 99999999" #{end}/>
                                    </div>
                                </div>
#end
#end
#end
#end
#end
#end
#end
#end
