<div class="col-md-#if(${property.column.length} >= 100)4#{else}3#{end}">
    <div class="form-group">
        <label class="control-label">${property.title}</label>
        {{entity.${idAgragation}${entityBeanName}.${property}}}
    </div>
</div>