<section class="content-header">
    <h1>
        <i class="mdi mdi-view-grid"></i>
        PageFlip
    </h1>
</section>
<section class="content bounceInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="alarm alarm-river">
                ...
            </div>
        </div>
    </div>
    <div class="row-form">
        <div class="col-md-10 col-md-offset-1">
            <div id="mybook">
                <div  title="This is a page title">
                    <h3>pagina_1</h3>
                </div>
                <div >
                    <h3>pagina_2</h3>
                </div>
                <div title="Hooray for titles!">
                    <h3>pagina_3</h3>
                </div>
                <div >
                    <h3>pagina_4</h3>
                </div>
            </div>
        </div>
    </div>
</section>