<section class="content-header">
    <h1>
        <i class="mdi mdi-check-circle"></i>
        Botões
    </h1>
    <ol class="breadcrumb">
        <li>
            Botões
        </li>
    </ol>
</section>

<section class="content bounceInRight">
    <div class="h-100">
        <div class="row-form">
            <div class="col-md-12">
                <div class="card">
                    <h4 class="status color-river">
                        Botões padrões
                    </h4>
                    <div class="card-content-ha">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="bt bt-teal" href="">
                                    <i class="mdi mdi-account-plus"></i>
                                    Adicionar
                                </a>
                                <a class="bt bt-emerald" href="">
                                    <i class="mdi mdi-magnify"></i>
                                    Buscar
                                </a>
                                <a class="bt bt-lime" href="">
                                    <i class="mdi mdi-plus"></i>
                                    Novo
                                </a>
                                <a class="bt bt-sunflower" href="">
                                    <i class="mdi mdi-eye"></i>
                                    visualizar
                                </a>
                                <a class="bt bt-carrot" href="">
                                    <i class="mdi mdi-block-helper"></i>
                                    cancelar
                                </a>
                                <a class="bt bt-alizarin" href="">
                                    <i class="mdi mdi-delete"></i>
                                    delete
                                </a>
                                <a class="bt bt-amethyst" href="">
                                    <i class="mdi mdi-import"></i>
                                    import
                                </a>
                                <a class="bt bt-deeppurple" href="">
                                    <i class="mdi mdi-open-in-new"></i>
                                    Abrir
                                </a>
                                <a class="bt bt-asphalt" href="">
                                    <i class="mdi mdi-content-save"></i>
                                    Salvar
                                </a>
                                <a class="bt bt-river" href="">
                                    <i class="mdi mdi-check-circle"></i>
                                    default
                                </a>
                                <a class="bt bt-sky" href="">
                                    <i class="mdi mdi-eraser"></i>
                                    limpar
                                </a>
                                <a class="bt bt-metal" href="">
                                    <i class="mdi mdi-chevron-left"></i>
                                    Voltar
                                </a>
                                <a class="bt bt-cloud" href= "">
                                    <i class="mdi mdi-help-circle"></i>
                                    Disabled
                                </a>
                            </div>
                        </div>
                    </div>
                    <h4 class="status color-river">
                        botões padrões /  menores
                    </h4>
                    <div class="card-content-ha">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="bt bt-teal bt-sm" href="">
                                    <i class="mdi mdi-account-plus"></i>
                                    Adicionar
                                </a>
                                <a class="bt bt-emerald bt-sm" href="">
                                    <i class="mdi mdi-magnify"></i>
                                    Buscar
                                </a>
                                <a class="bt bt-lime bt-sm" href="">
                                    <i class="mdi mdi-plus"></i>
                                    Novo
                                </a>
                                <a class="bt bt-sunflower bt-sm" href="">
                                    <i class="mdi mdi-eye"></i>
                                    visualizar
                                </a>
                                <a class="bt bt-carrot bt-sm" href="">
                                    <i class="mdi mdi-block-helper"></i>
                                    cancelar
                                </a>
                                <a class="bt bt-alizarin bt-sm" href="">
                                    <i class="mdi mdi-delete"></i>
                                    delete
                                </a>
                                <a class="bt bt-amethyst bt-sm" href="">
                                    <i class="mdi mdi-import"></i>
                                    import
                                </a>
                                <a class="bt bt-deeppurple bt-sm" href="">
                                    <i class="mdi mdi-open-in-new"></i>
                                    Abrir
                                </a>
                                <a class="bt bt-asphalt bt-sm" href="">
                                    <i class="mdi mdi-content-save"></i>
                                    Salvar
                                </a>
                                <a class="bt bt-river bt-sm" href="">
                                    <i class="mdi mdi-check-circle"></i>
                                    default
                                </a>
                                <a class="bt bt-sky bt-sm" href="">
                                    <i class="mdi mdi-eraser"></i>
                                    limpar
                                </a>
                                <a class="bt bt-metal bt-sm" href="">
                                    <i class="mdi mdi-chevron-left"></i>
                                    Voltar
                                </a>
                                <a class="bt bt-cloud bt-sm" href= "">
                                    <i class="mdi mdi-help-circle"></i>
                                    Disabled
                                </a>
                            </div>
                        </div>
                    </div>
                    <h4 class="status color-river">
                        Botões padrões / maiores
                    </h4>
                    <div class="card-content-ha">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="bt bt-teal bt-lg" href="">
                                    <i class="mdi mdi-account-plus"></i>
                                    Adicionar
                                </a>
                                <a class="bt bt-emerald bt-lg" href="">
                                    <i class="mdi mdi-magnify"></i>
                                    Buscar
                                </a>
                                <a class="bt bt-lime bt-lg" href="">
                                    <i class="mdi mdi-plus"></i>
                                    Novo
                                </a>
                                <a class="bt bt-sunflower bt-lg" href="">
                                    <i class="mdi mdi-eye"></i>
                                    visualizar
                                </a>
                                <a class="bt bt-carrot bt-lg" href="">
                                    <i class="mdi mdi-block-helper"></i>
                                    cancelar
                                </a>
                                <a class="bt bt-alizarin bt-lg" href="">
                                    <i class="mdi mdi-delete"></i>
                                    delete
                                </a>
                                <a class="bt bt-amethyst bt-lg" href="">
                                    <i class="mdi mdi-import"></i>
                                    import
                                </a>
                                <a class="bt bt-deeppurple bt-lg" href="">
                                    <i class="mdi mdi-open-in-new"></i>
                                    Abrir
                                </a>
                                <a class="bt bt-asphalt bt-lg" href="">
                                    <i class="mdi mdi-content-save"></i>
                                    Salvar
                                </a>
                                <a class="bt bt-river bt-lg" href="">
                                    <i class="mdi mdi-check-circle"></i>
                                    default
                                </a>
                                <a class="bt bt-sky bt-lg" href="">
                                    <i class="mdi mdi-eraser"></i>
                                    limpar
                                </a>
                                <a class="bt bt-metal bt-lg" href="">
                                    <i class="mdi mdi-chevron-left"></i>
                                    Voltar
                                </a>
                                <a class="bt bt-cloud bt-lg" href= "">
                                    <i class="mdi mdi-help-circle"></i>
                                    Disabled
                                </a>
                            </div>
                        </div>
                    </div>
                    <h4 class="status color-river">
                        Botões arredondados
                    </h4>
                    <div class="card-content-ha">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="bt bt-teal bt-circle" href="">
                                    <i class="mdi mdi-account-plus"></i>
                                </a>
                                <a class="bt bt-emerald bt-circle" href="">
                                    <i class="mdi mdi-magnify"></i>
                                </a>
                                <a class="bt bt-lime bt-circle" href="">
                                    <i class="mdi mdi-plus"></i>
                                </a>
                                <a class="bt bt-sunflower bt-circle" href="">
                                    <i class="mdi mdi-eye"></i>
                                </a>
                                <a class="bt bt-carrot bt-circle" href="">
                                    <i class="mdi mdi-block-helper"></i>
                                </a>
                                <a class="bt bt-alizarin bt-circle" href="">
                                    <i class="mdi mdi-delete"></i>
                                </a>
                                <a class="bt bt-amethyst bt-circle" href="">
                                    <i class="mdi mdi-import"></i>
                                </a>
                                <a class="bt bt-deeppurple bt-circle" href="">
                                    <i class="mdi mdi-open-in-new"></i>
                                </a>
                                <a class="bt bt-asphalt bt-circle" href="">
                                    <i class="mdi mdi-content-save"></i>
                                </a>
                                <a class="bt bt-river bt-circle" href="">
                                    <i class="mdi mdi-check-circle"></i>
                                </a>
                                <a class="bt bt-sky bt-circle" href="">
                                    <i class="mdi mdi-eraser"></i>
                                </a>
                                <a class="bt bt-metal bt-circle" href="">
                                    <i class="mdi mdi-chevron-left"></i>
                                </a>
                                <a class="bt bt-cloud bt-circle" href= "">
                                    <i class="mdi mdi-help-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="col-md-12">
                <div class="card">
                    <h4 class="status color-river">
                        Botões radio
                    </h4>
                    <div class="card-content-ha">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group">
                                    <label class="btn btn-info" ng-model="radioModel" btn-radio="'Left'" uncheckable>Left</label>
                                    <label class="btn btn-info" ng-model="radioModel" btn-radio="'Middle'" uncheckable>Middle</label>
                                    <label class="btn btn-info" ng-model="radioModel" btn-radio="'Right'" uncheckable>Right</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="col-md-12">
                <div class="card">
                    <h4 class="status color-river">
                        Botão checkbox estilizado
                    </h4>
                    <div class="card-content-ha">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mpswitch">
                                    <input ng-model="switchStatus" type="checkbox" name="mpswitch{{$index}}" class="mpswitch-checkbox" id="mpswitch{{$index}}">
                                    <label class="mpswitch-label" for="mpswitch{{$index}}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>