<section class="content-header">
    <h1>
        <i class="mdi mdi-view-dashboard"></i>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li>
            Dashboard
        </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div tabset>
                        <div tab>
                            <div tab-heading>
                                Principal
                            </div>
                            <div class="row bounceIn">
                                <div class="col-md-3">
                                    <div class="card">
                                        <h4 class="status bkg-asphalt">
                                            Hoje
                                        </h4>
                                        <div class="card-content-ha">
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <h4 class="fs5_4 color-asphalt">
                                                        25
                                                    </h4>
                                                    <h4>
                                                        Tarefas devidas
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            Completadas: 7
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <h4 class="status bkg-alizarin">
                                            Em atraso
                                        </h4>
                                        <div class="card-content-ha">
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <h4 class="fs5_4 color-alizarin">
                                                        4
                                                    </h4>
                                                    <h4>
                                                        tasks
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <h4>
                                                Ontem em atraso: 2
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <h4 class="status bkg-carrot">
                                            Problemas
                                        </h4>
                                        <div class="card-content-ha">
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <h4 class="fs5_4 color-carrot">
                                                        32
                                                    </h4>
                                                    <h4>
                                                        Abertas
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <h4>
                                                Fechado hoje: 0
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card">
                                        <h4 class="status bkg-river">
                                            Características
                                        </h4>
                                        <div class="card-content-ha">
                                            <div class="row">
                                                <div class="col-md-12 text-center">
                                                    <h4 class="fs5_4 color-river">
                                                        42
                                                    </h4>
                                                    <h4>
                                                        Propostas
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <h4>
                                                Implementado: 8
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row bounceInRight">
                                <div class="col-md-12">
                                    <div class="card">
                                        <h4 class="status bkg-asphalt">
                                            Problemas Github
                                        </h4>
                                        <div class="card-content-ha">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <canvas id="bar" class="chart chart-bar"
                                                            chart-data="vm.data" chart-labels="vm.labels" chart-colors="vm.color"> chart-series="series"
                                                    </canvas>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <canvas id="doughnut" class="chart chart-doughnut" chart-data="vm.data" chart-label="vm.labelDoughnut">

                                                            </canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div tab>
                            <div tab-heading>
                                Resumo dos projetos
                            </div>
                        </div>
                        <div tab>
                            <div tab-heading>
                                Pojetos em andamento
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>