<section class="content-header">
    <h1>
        <i class=""></i>
        Dropdown menu
    </h1>
    <ol class="breadcrumb">
        <li>
            Dropdown menu
        </li>
    </ol>
</section>
<section class="content bounceIn">
    <div class="row-form h100">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <h4 class="status color-asphalt">

                        </h4>
                        <div class="card-content-ha"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>