<section class="content-header">
    <h1>
        <i class="mdi mdi-pencil-box-outline"></i>
        Formulários
    </h1>
    <ol class="breadcrumb">
        <li>
            Formulários
        </li>
    </ol>
</section>

<section class="content">
    <div class="row-form h-100">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h4 class="status color-asphalt fs2">
                            Formulário Simples
                        </h4>
                        <div class="card-content-ha">
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label for="">
                                        label
                                    </label>
                                    <input type="text" class="form-control"/>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="">
                                        label
                                    </label>
                                    <input type="text" class="form-control"/>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="">
                                        label
                                    </label>
                                    <input type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label for="">
                                        label
                                    </label>
                                    <input type="text" class="form-control"/>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="">
                                        label
                                    </label>
                                    <input type="text" class="form-control"/>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label for="">
                                        label
                                    </label>
                                    <input type="text" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <a class="bt bt-emerald" href="">
                                        <i class="mdi mdi-magnify"></i>
                                        Buscar
                                    </a>
                                    <a class="bt bt-lime" href="">
                                        <i class="mdi mdi-plus"></i>
                                        Novo
                                    </a>
                                    <a class="bt bt-sky" href="">
                                        <i class="mdi mdi-eraser"></i>
                                        Limpar
                                    </a>
                                    <a class="bt bt-alizarin" href="">
                                        <i class="mdi mdi-delete"></i>
                                        Remover
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h4 class="status color-asphalt fs2">
                            Formulário inline
                        </h4>
                        <div class="card-content-ha">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">
                                        Email
                                    </label>
                                    <input type="text" class="form-control"/>
                                </div>
                                <div class="col-md-4">
                                    <label for="">
                                        Label
                                    </label>
                                    <input type="text" class="form-control"/>
                                </div>
                                <div class="col-md-2">
                                    <a class="bt bt-river bt-circle" href="">
                                        <i class="mdi mdi-magnify"></i>
                                    </a>
                                    <a class="bt bt-river bt-circle" href="">
                                        <i class="mdi mdi-import"></i>
                                    </a>
                                </div>
                            </div>
                        </div>      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h4 class="status color-asphalt fs2">
                            Formulário Completo
                        </h4>
                        <div class="card-content-ha">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="">
                                        label
                                    </label>
                                    <input type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="">
                                        label
                                    </label>
                                    <input type="text" placeholder="Placeholder" class="form-control"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="">
                                        Label
                                    </label>
                                    <input type="text" class="form-control" ng-disabled="true"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="">
                                        Label
                                    </label>
                                    <p class="form-control-static">
                                        campo estatico
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="">
                                        label
                                    </label>
                                    <select name="" id="" class="form-control">
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="">
                                        Label
                                    </label>
                                    <input value="input success" type="text" class="form-control form-control-emerald"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="">
                                        label
                                    </label>
                                    <input type="text" value="input warning" class="form-control form-control-carrot"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="">
                                        Label
                                    </label>
                                    <input value="input error" type="text" class="form-control form-control-alizarin"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>