<section class="content-header">
    <h1>
        <i class="mdi mdi-headers"></i>
        Headers
    </h1>
    <ol class="breadcrumb">
        <li>
            Headers
        </li>
    </ol>
</section>

<section class="content">
    <div class="row-form h-100">
        <div class="col-md-12">
            <nav class="navbar-mprj">
                <ul>
                    <li>
                        <a ng-click="openHeaderSubmenu()" class="brand" href=""></a>
                        <ul class="submenu">
                            <li>
                                <ul>
                                    <h3>
                                        Tipos
                                    </h3>
                                    <li>
                                        <a href="">Situação Eleiçao</a>
                                    </li>
                                    <li>
                                        <a href="">Tipo Evento</a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Tipo Filtro Pessoa
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Tipo Integrante
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Tipo Parametro
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Tipo Relatorio
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <h3>
                                        Principal
                                    </h3>
                                    <li>
                                        <a href=""></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <i class="mdi mdi-bell"></i>
                        </a>
                    </li>
                    <li class="pull-right">
                        <a ng-click="openLogout()" href="">
                            <i class="mdi mdi-account-circle"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</section>