<section class="content-header">
    <h1>
        <i></i>
        Labels
    </h1>
    <ol class="breadcrumb">
        <li>
            Labels
        </li>
    </ol>
</section>
<section class="content bounceInRight">
    <div class="row-form h-100">
        <div class="col-md-12">
            <h4 class="title">
                Labels
            </h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h4 class="status color-asphalt">
                            labels simples
                        </h4>
                        <div class="card-content-ha">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="label label-asphalt">
                                        1
                                    </span>
                                    <span class="label label-river">
                                        2
                                    </span>
                                    <span class="label label-amethyst">
                                        3
                                    </span>
                                    <span class="label label-emerald">
                                        4
                                    </span>
                                    <span class="label label-sky">
                                        5
                                    </span>
                                    <span class="label label-alizarin">
                                        6
                                    </span>
                                    <span class="label label-carrot">
                                        7
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="label label-asphalt">
                                        label asphalt
                                    </span>
                                    <span class="label label-river">
                                        label river
                                    </span>
                                    <span class="label label-amethyst">
                                        label amethyst
                                    </span>
                                    <span class="label label-emerald">
                                        label emerald
                                    </span>
                                    <span class="label label-sky">
                                        label sky
                                    </span>
                                    <span class="label label-alizarin">
                                        label alizarin
                                    </span>
                                    <span class="label label-carrot">
                                        label carrot
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h4 class="status color-asphalt">
                            labels grandes
                        </h4>
                        <div class="card-content-ha">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="label label-asphalt label-lg">
                                        1
                                    </span>
                                    <span class="label label-river label-lg">
                                        2
                                    </span>
                                    <span class="label label-amethyst label-lg">
                                        3
                                    </span>
                                    <span class="label label-emerald label-lg">
                                        4
                                    </span>
                                    <span class="label label-sky label-lg">
                                        5
                                    </span>
                                    <span class="label label-alizarin label-lg">
                                        6
                                    </span>
                                    <span class="label label-carrot label-lg">
                                        7
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="label label-asphalt label-lg">
                                        label aspahlt lg
                                    </span>
                                    <span class="label label-river label-lg">
                                        label river lg
                                    </span>
                                    <span class="label label-amethyst label-lg">
                                        label amethyst lg
                                    </span>
                                    <span class="label label-emerald label-lg">
                                        label emerald lg
                                    </span>
                                    <span class="label label-sky label-lg">
                                        label sky lg
                                    </span>
                                    <span class="label label-alizarin label-lg">
                                        label alizarin lg
                                    </span>
                                    <span class="label label-carrot label-lg">
                                        label carrot lg
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h4 class="status color-asphalt">
                            labels pills
                        </h4>
                        <div class="card-content-ha">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="label label-asphalt label-lp">
                                        1
                                    </span>
                                    <span class="label label-river label-lp">
                                        2
                                    </span>
                                    <span class="label label-amethyst label-lp">
                                        3
                                    </span>
                                    <span class="label label-emerald label-lp">
                                        4
                                    </span>
                                    <span class="label label-sky label-lp">
                                        5
                                    </span>
                                    <span class="label label-alizarin label-lp">
                                        6
                                    </span>
                                    <span class="label label-carrot label-lp">
                                        7
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h4 class="status color-asphalt">
                            Labels pills grandes
                        </h4>
                        <div class="card-content-ha">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="label label-asphalt label-lg label-lp">
                                        1
                                    </span>
                                    <span class="label label-river label-lg label-lp">
                                        2
                                    </span>
                                    <span class="label label-amethyst label-lg label-lp">
                                        3
                                    </span>
                                    <span class="label label-emerald label-lg label-lp">
                                        4
                                    </span>
                                    <span class="label label-sky label-lg label-lp">
                                        5
                                    </span>
                                    <span class="label label-alizarin label-lg label-lp">
                                        6
                                    </span>
                                    <span class="label label-carrot label-lg label-lp">
                                        7
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>