<section class="content-header">
    <h1>
        <i class="mdi mdi-email"></i>
        Caixa de Mensagens
    </h1>
    <ol class="breadcrumb">
        <li>
            Caixa de Mensagens
        </li>
    </ol>
</section>

<section class="content bounceInLeft">
    <div class="row-form h-100">
        <div class="col-md-3">
            <div class="card">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="bt bt-lime" href="">
                                <i class="mdi mdi-send"></i>
                                Escrever mensagem
                            </a>
                        </div>
                    </div>
                    <div class="row mt-14">
                        <div class="col-md-12">
                            <h4 class="fs2">
                                Pastas
                            </h4>
                            <hr/>
                            <a href="">
                                <i class="mdi mdi-inbox"></i>
                                Inbox
                        <span class="pull-right pd7 bkg-alizarin color-cloud">
                            16
                        </span>
                            </a>
                            <hr/>
                            <a href="">
                                <i class="mdi mdi-email"></i>
                                Enviados
                        <span class="pd7 bkg-emerald color-cloud pull-right">
                            3
                        </span>
                            </a>
                            <hr/>
                            <a href="">
                                <i class="mdi mdi-star"></i>
                                Importante
                        <span class="pd7 pull-right">
                            3
                        </span>
                            </a>
                            <hr/>
                            <a href="">
                                <i class="mdi mdi-delete"></i>
                                lixeira
                            </a>
                            <hr/>
                        </div>
                    </div>
                    <div class="row mt-14">
                        <h4 class="fs2">
                            Categorias
                        </h4>
                        <div class="col-md-12">
                            <h4>
                                <i class="mdi mdi-checkbox-blank-circle color-river"></i>
                                trabalho
                            </h4>
                            <h4>
                                <i class="mdi mdi-checkbox-blank-circle color-alizarin"></i>
                                Documentos
                            </h4>
                            <h4>
                                <i class="mdi mdi-checkbox-blank-circle color-carrot"></i>
                                Clientes
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-content-ha">
                    <h4 class="status color-asphalt fs2">
                        Inbox
                    </h4>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="bt bt-metal bt-circle bt-sm" href="">
                                <i class="mdi mdi-refresh"></i>
                            </a>
                            <a class="bt bt-metal bt-circle bt-sm" href="">
                                <i class="mdi mdi-eye"></i>
                            </a>
                            <a class="bt bt-metal bt-circle bt-sm" href="">
                                <i class="mdi mdi-alert"></i>
                            </a>
                            <a class="bt bt-metal bt-circle bt-sm" href="">
                                <i class="mdi mdi-delete"></i>
                            </a>
                            <a class="bt bt-asphalt bt-circle bt-sm pull-right" href="">
                                <i class="mdi mdi-chevron-right"></i>
                            </a>
                            <a class="bt bt-asphalt bt-circle bt-sm pull-right" href="">
                                <i class="mdi mdi-chevron-left"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row mt-14">
                        <div class="col-md-12">
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        Todas
                                    </tab-heading>
                                    <div class="row-form">
                                        <div class="card col-md-12">
                                            <div class="card-content-ha">
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <div class="mpswitch">
                                                            <input id="mpcheck" type="checkbox" class="mpswitch-checkbox" required/>
                                                            <label class="mpswitch-label" for="mpcheck"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="alarm alarm-river text-center">
                                                            Trabalho
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h4>
                                                            Documentos
                                                        </h4>
                                                    </div>
                                                    <div class="col-md-5">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                    </div>
                                                    <div class="col-md-1">
                                                        6:20pm
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card col-md-12">
                                            <div class="card-content-ha">
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <div class="mpswitch">
                                                            <input id="mpcheck" type="checkbox" class="mpswitch-checkbox" required/>
                                                            <label class="mpswitch-label" for="mpcheck"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="alarm alarm-alizarin text-center">
                                                            status
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h4>
                                                            Nome Sobrenome
                                                        </h4>
                                                    </div>
                                                    <div class="col-md-5">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                    </div>
                                                    <div class="col-md-1">
                                                        6:20pm
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card col-md-12">
                                            <div class="card-content-ha">
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <div class="mpswitch">
                                                            <input id="mpcheck" type="checkbox" class="mpswitch-checkbox" required/>
                                                            <label class="mpswitch-label" for="mpcheck"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">

                                                    </div>
                                                    <div class="col-md-3">
                                                        <h4>
                                                            Nome Sobrenome
                                                        </h4>
                                                    </div>
                                                    <div class="col-md-5">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                    </div>
                                                    <div class="col-md-1">
                                                        6:20pm
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card col-md-12">
                                            <div class="card-content-ha">
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <div class="mpswitch">
                                                            <input id="mpcheck" type="checkbox" class="mpswitch-checkbox" required/>
                                                            <label class="mpswitch-label" for="mpcheck"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="alarm alarm-carrot text-center">
                                                            Clientes
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <h4>
                                                            Nome Sobrenome
                                                        </h4>
                                                    </div>
                                                    <div class="col-md-5">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                    </div>
                                                    <div class="col-md-1">
                                                        6:20pm
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card col-md-12">
                                            <div class="card-content-ha">
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <div class="mpswitch">
                                                            <input id="mpcheck" type="checkbox" class="mpswitch-checkbox" required/>
                                                            <label class="mpswitch-label" for="mpcheck"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">

                                                    </div>
                                                    <div class="col-md-3">
                                                        <h4>
                                                            Nome Sobrenome
                                                        </h4>
                                                    </div>
                                                    <div class="col-md-5">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                    </div>
                                                    <div class="col-md-1">
                                                        6:20pm
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        Trabalhos
                                    </tab-heading>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        Documentos
                                    </tab-heading>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        Clientes
                                    </tab-heading>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>