<section class="content-header">
    <h1>
        <i class="mdi mdi-view-module"></i>
        Paginação
    </h1>
    <ol class="breadcrumb">
        <li>
            Paginação
        </li>
    </ol>
</section>
<section class="content bounceInLeft">
    <div class="h-100">
        <div class="row">
            <div class="col-md-12">
                <pagination total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="pageChanged()"></pagination>
            </div>
        </div>
    </div>
</section>