<section class="content-header">
    <h1>
        Slick
    </h1>
</section>
<section class="content bounceInLeft">
    <div class="row">
        <div class="col-md-12">
            <div class="alarm alarm-river">
                <h4>
                    ...
                </h4>
            </div>
        </div>
    </div>
    <div class="row-form">
        <div class="col-md-12">
            <slick next-arrow=".right-dashboard-inside" prev-arrow=".left-dashboard-inside" infinite=false slides-to-show=3 slides-to-scroll=3>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-content">
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam doloremque exercitationem perspiciatis.
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-content">
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam doloremque exercitationem perspiciatis.
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-content">
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam doloremque exercitationem perspiciatis.
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-content">
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam doloremque exercitationem perspiciatis.
                            </h4>
                        </div>
                    </div>
                </div>
            </slick>
            <a class="bt bt-river bt-circle bt-sm left-dashboard-inside" href="">
                <i class="mdi mdi-chevron-left"></i>
            </a>
            <a class="bt bt-river bt-circle bt-sm right-dashboard-inside" href="">
                <i class="mdi mdi-chevron-right"></i>
            </a>
        </div>
    </div>
</section>