<section class="content-header">
    <h1>
        <i class="mdi mdi-wrench"></i>
        Widgets
    </h1>
    <ol class="breadcrumb">
        <li>
            Widgets
        </li>
    </ol>
</section>

<section class="content">
    <div class="row-form">
        <div class="col-md-6">
            <div class="card card-emerald">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="fs5_4">
                                00
                            </h4>
                        </div>
                        <div class="col-md-9">
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-amethyst">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="fs5_4">
                                00
                            </h4>
                        </div>
                        <div class="col-md-9">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-river">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="fs5_4">
                                00
                            </h4>
                            <h4>
                                card azul
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <i class="mdi mdi-account fs5_4 pull-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-alizarin">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="fs5_4">
                                00
                            </h4>
                            <h4>
                                card vermelho
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <i class="mdi mdi-account fs5_4 pull-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-asphalt">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="fs5_4">
                                00
                            </h4>
                            <h4>
                                card mprj
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <i class="mdi mdi-account fs5_4 pull-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-carrot">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="mdi mdi-star fs3"></i>
                        </div>
                        <div class="col-md-6">
                            <h4 class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-carrot">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="mdi mdi-star fs3"></i>
                        </div>
                        <div class="col-md-6">
                            <h4 class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-carrot">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="mdi mdi-star fs3"></i>
                        </div>
                        <div class="col-md-6">
                            <h4 class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-carrot">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="mdi mdi-star fs3"></i>
                        </div>
                        <div class="col-md-6">
                            <h4 class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-1">
                            <img class="img-responsive img-circle" src="../layout/images/avatar5.png" alt=""/>
                        </div>
                        <div class="col-md-10">
                            <h4>mike Shinoda</h4>
                            <h4 class="fs0_75">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                            <h4 class="fs0_75 color-asphalt">
                                hoje, 4;21 pm - 10/04/2017
                            </h4>
                        </div>
                        <div class="col-md-1">
                            <h4>
                                Hoje
                            </h4>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-1">
                            <h4 class="color-emerald">
                                Hoje
                            </h4>
                        </div>
                        <div class="col-md-10">
                            <h4>mike Shinoda</h4>
                            <h4 class="fs0_75">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                            <h4 class="fs0_75 color-asphalt">
                                hoje, 4;21 pm - 10/04/2017
                            </h4>
                        </div>
                        <div class="col-md-1">
                            <img class="img-responsive img-circle" src="../layout/images/avatar5.png" alt=""/>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-1">
                            <img class="img-responsive img-circle" src="../layout/images/avatar5.png" alt=""/>
                        </div>
                        <div class="col-md-10">
                            <h4>mike Shinoda</h4>
                            <h4 class="fs0_75">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                            <h4 class="fs0_75">
                                hoje, 4;21 pm - 10/04/2017
                            </h4>
                        </div>
                        <div class="col-md-1">
                            <h4 class="color-emerald">
                                Hoje
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>