<section class="content-header">
    <h1>
        <i class="mdi mdi-wrench"></i>
        Widgets
    </h1>
    <ol class="breadcrumb">
        <li>
            Widgets
        </li>
    </ol>
</section>

<section class="content">
    <div class="row-form h-100">
        <div class="col-md-6">
            <div class="card card-emerald zoomInOne">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="fs5_4">
                                00
                            </h4>
                        </div>
                        <div class="col-md-9">
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-amethyst zoomInOne">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="fs5_4">
                                00
                            </h4>
                        </div>
                        <div class="col-md-9">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-river zoomInTwo">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="fs5_4">
                                00
                            </h4>
                            <h4>
                                card azul
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <i class="mdi mdi-account fs5_4 pull-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-alizarin zoomInTwo">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="fs5_4">
                                00
                            </h4>
                            <h4>
                                card vermelho
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <i class="mdi mdi-account fs5_4 pull-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-asphalt zoomInTwo">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="fs5_4">
                                00
                            </h4>
                            <h4>
                                card mprj
                            </h4>
                        </div>
                        <div class="col-md-6">
                            <i class="mdi mdi-account fs5_4 pull-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-carrot bounceInRight">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="mdi mdi-star fs3"></i>
                        </div>
                        <div class="col-md-6">
                            <h4 class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-carrot bounceInRight">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="mdi mdi-star fs3"></i>
                        </div>
                        <div class="col-md-6">
                            <h4 class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-carrot bounceInRight">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="mdi mdi-star fs3"></i>
                        </div>
                        <div class="col-md-6">
                            <h4 class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-carrot bounceInRight">
                <div class="card-content-ha">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="mdi mdi-star fs3"></i>
                        </div>
                        <div class="col-md-6">
                            <h4 class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="card bounceIn">
                        <div class="card-content-ha">
                            <div class="row">
                                <h4 class="fs2">
                                    Minhas Mensagens
                                </h4>
                                <hr/>
                                <div class="col-md-1">
                                    <img class="img-responsive img-circle" src="../layout/images/avatar5.png" alt=""/>
                                </div>
                                <div class="col-md-10">
                                    <h4>Mike Shinoda</h4>
                                    <h4 class="fs0_75">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </h4>
                                    <h4 class="fs0_75 color-asphalt">
                                        hoje, 4;21 pm - 10/04/2017
                                    </h4>
                                </div>
                                <div class="col-md-1">
                                    <h4 class="color-emerald">
                                        Hoje
                                    </h4>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-1">
                                    <h4 class="color-emerald">
                                        Hoje
                                    </h4>
                                </div>
                                <div class="col-md-10">
                                    <h4>Mike Shinoda</h4>
                                    <h4 class="fs0_75">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </h4>
                                    <h4 class="fs0_75 color-asphalt">
                                        hoje, 4;21 pm - 10/04/2017
                                    </h4>
                                </div>
                                <div class="col-md-1">
                                    <img class="img-responsive img-circle" src="../layout/images/avatar5.png" alt=""/>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-1">
                                    <img class="img-responsive img-circle" src="../layout/images/avatar5.png" alt=""/>
                                </div>
                                <div class="col-md-10">
                                    <h4>Mike Shinoda</h4>
                                    <h4 class="fs0_75">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </h4>
                                    <h4 class="fs0_75">
                                        hoje, 4;21 pm - 10/04/2017
                                    </h4>
                                </div>
                                <div class="col-md-1">
                                    <h4 class="color-emerald">
                                        Hoje
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card bounceIn">
                        <h4 class="status bkg-asphalt">
                            Titulo
                        </h4>
                        <div class="card-content-ha">
                            <h4 class="fs5_4">
                                00
                            </h4>
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bounceIn">
                        <h4 class="status bkg-river">
                            Título
                        </h4>
                        <div class="card-content-ha">
                            <h4 class="fs5_4 color-river">
                                00
                            </h4>
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bounceIn">
                        <h4 class="status bkg-amethyst">
                            Título
                        </h4>
                        <div class="card-content-ha">
                            <h4 class="fs5_4 color-amethyst">
                                00
                            </h4>
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <div class="card bounceInLeft">
                        <div class="card-content-ha">
                            <div class="row">
                                <h4 class="fs2 ">
                                    Documentos Recebidos
                                </h4>
                                <hr/>
                                <div class="col-md-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img class="img-responsive img-thumbnail" src="../layout/images/avatar5.png" alt=""/>
                                        </div>
                                    </div>
                                    <div class="row mt-14">
                                        <div class="col-md-12">
                                            <h4 class="fs0_75 text-center">
                                                gustavo.carvalho
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="bt bt-asphalt bt-circle bt-sm" href="">
                                                <i class="mdi mdi-account"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-9">
                                    <div class="row text-center">
                                        <div class="col-md-3">
                                            <div class="card card-asphalt bounceInRight">
                                                <div class="card-content-ha">
                                                    <h4 class="fs5_4">
                                                        32
                                                    </h4>
                                                    <h4>
                                                        Recebidos
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card card-river bounceInLeft">
                                                <div class="card-content-ha">
                                                    <h4 class="fs5_4">
                                                        00
                                                    </h4>
                                                    <h4>
                                                        Enviados
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 ">
                                            <div class="card card-emerald bounceInRight">
                                                <div class="card-content-ha">
                                                    <h4 class="fs5_4">
                                                        00
                                                    </h4>
                                                    <h4>
                                                        Ativos
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card card-alizarin bounceInLeft">
                                                <div class="card-content-ha">
                                                    <h4 class="fs5_4">
                                                        00
                                                    </h4>
                                                    <h4>
                                                        inativos
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-14">
                                        <div class="col-md-12">
                                            <h4 class="fs0_75">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur enim est illo libero neque nostrum, omnis quidem quisquam repellendus, voluptate, voluptatem voluptates? Beatae ipsa nemo quia sint tempore unde!
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <h4 class="status fs2 color-asphalt">
                            Titulo
                        </h4>
                        <div class="card-content-ha">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>
                                                nome_produto
                                            </h4>
                                            <h4 class="fs2">
                                                23232
                                            </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <i class="mdi mdi-home fs3 pull-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>
                                                Nome_produto
                                            </h4>
                                            <h4 class="fs2">
                                                123112
                                            </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <i class="mdi mdi-magnify fs3 pull-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>