import { Component, OnInit } from '@angular/core';
import { Validators, FormBuilder, FormGroup } from '@angular/forms';

@Component({
  selector: 'app-entity',
  templateUrl: './${entity.dashedName}.component.html',
  styleUrls: ['./${entity.dashedName}.component.css']
})
export class  ${entity.name}Component implements OnInit {

  constructor() { }

  ngOnInit() {
  }

}
