<form class="matero-form-horizontal" [formGroup]="reactiveForm" >
<!-- Main entity properties -->
    <div fxLayout="row wrap" fxLayoutGap="8px grid">
#parse( "angular/domain/entity/entity.fieldset.inc.vm" )
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" class="m-t-8" *ngIf="${entity.beanName}.id != 0" (click)="save()">Save</button>
        <button mat-raised-button color="primary" class="m-t-8" *ngIf="${entity.beanName}.id == 0" (click)="create()">Create new</button>
    </div>
</form>