#set( $js  = "$")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
(function() {
    'use strict';

    angular.module('${project.name}App.core', [

        'http-auth-interceptor',

        /*
         * Angular modules
         */
        'ngAnimate',
        'ngCookies',
        'ngResource',
##        'ngRoute',
        'ngSanitize',
        'ngTouch',

        /*
         * AngularUI modules
         */
        'ui.bootstrap',
        //'ui.date',
        'ui.utils',
        'ui.select',
        'ui.grid',
        'ui.router',
##        'ui.router.tabs',
        'blockUI',

        /*
         * 3rd Party modules
         */
##        'sca-ngular',
        'toaster',
        'angucomplete-alt',
        'angularUtils.directives.dirPagination',
        'ngTagsInput',
        'pdf',
        'pascalprecht.translate',
        'angular-timeline',
        'xeditable',
        'dialogs.main',
        'ngFileUpload',
        'chart.js',
        'textAngular',
        'infinite-scroll',
        'slickCarousel',
        'ui.tree',

        /*
         * Commons app modules
         */
        'commons.directives',
        'commons.filters',
        'commons.controllers',
        'commons.services',
        'ui.grid',
        'ui.grid.pagination',
        'ui.grid.selection',
        'ui.grid.pagination',
        'blockUI'

    ]);

})();
