#set( $js  = "$")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
<!-- sessões -->
<section class="content-header">
    <h1 class="color-asphalt"><i class="mdi mdi-file-find"></i> ${entity.title}</h1>
    <ol class="breadcrumb">
        <li><a href="#/"> <i class="mdi mdi-home"></i> {{"menu.inicial" | translate}} </a></li>
        <li><a href="#/${entity.beanName}"> {{"filtro" | translate}} {{"menu.${entity.beanName}" | translate}}</a></li>
        <li class="active"> {{"alterar" | translate}} </li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <form name="mainForm" novalidate >
            <div tabset ng-show="masterDetail == null">
                <div tab>
                    <div tab-heading><i class="mdi mdi-file-document-box"></i> {{"menu.principal" | translate}}</div>
                    <div class="nav-tabs-custom">
                        <div class="tab-content">

                            <div class="box-header"><h3 class="box-title"></h3></div>
                            <div class="box-body">
                                <div class="row">
                                     <${entity.beanName}-fieldset model="entity"/>
                                </div>
                            </div>
                            <div class="box-footer hidden-sm hidden-xs">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" back class="bt bt-metal"><i class="mdi mdi-keyboard-return"></i> {{"voltar" | translate}}</button>
                                        <button type="button" class="bt bt-alizarin" ng-click="remove()"><i class="mdi mdi-close-circle"></i>{{"remover" | translate}}</button>
                                        <button type="button" class="bt bt-indigo" ng-click="save()" ng-disabled="userForm.$invalid"><i class="mdi mdi-content-save"></i> {{"gravar" | translate}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer hidden-md hidden-lg">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" back class="bt bt-metal"><i class="mdi mdi-keyboard-return"></i></button>
                                        <button type="button" class="bt bt-alizarin" ng-click="remove()"><i class="mdi mdi-close-circle"></i></button>
                                        <button type="button" class="bt bt-indigo" ng-click="save()" ng-disabled="userForm.$invalid">><i class="mdi mdi-content-save"></i></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
