#set( $js  = "$")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
<!-- sessões -->
<section class="content-header">
    <h1 class="color-asphalt"><i class="mdi mdi-file-find"></i> ${entity.title}</h1>
    <ol class="breadcrumb">
        <li><a href="#/"> <i class="mdi mdi-home"></i> {{"menu.inicial" | translate}} </a></li>
        <li><a href="#/${entity.beanName}"> {{"filtro" | translate}} {{"menu.${entity.beanName}" | translate}}</a></li>
        <li class="active" ng-if="entity.id == null"> {{"create" | translate}} {{entity.id}}</li>
        <li class="active" ng-if="entity.id != null"> {{"edit" | translate}} </li>

    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <form name="mainForm" novalidate>
            <tabset>
                <tab ng-repeat="tab in tabs">
                    <tab-heading class="{{tab.route == tabSelected ? 'tab-selected' : 'tab-title'}}" ng-click="changeTab(tab.route)">
                        <i class="mdi {{tab.icon}}"></i><span>{{tab.heading}}</span>
                    </tab-heading>
                </tab>
            </tabset>
            <div class="row">
                <ui-view />
            </div>
        </form>
    </div>
</section>
