#set( $js  = "$")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
<!-- sessões -->
<section class="content-header">
    <h1 class="color-asphalt"><i class="mdi mdi-file-find"></i> ${entity.title}</h1>
    <ol class="breadcrumb">
        <li><a href="#/"> <i class="mdi mdi-magnify"></i> {{"menu.inicial" | translate}} </a></li>
        <li class="active"><a href="#/${entity.beanName}"> {{"filtro" | translate}} {{"menu.${entity.beanName}" | translate}} </a></li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <form name="${entityBeanName}Form" novalidate ng-submit="newSearch()" >
            <div tabset>
                <div tab heading="Filtro de busca" ng-click="setTextSearchActive(true)">
                    <div class="nav-tabs-custom">
                        <div class="tab-content">
                            <div class="box-body">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="searchField.text"> Busca por texto</i>
                                            <i popover-trigger="mouseenter"  popover-placement="left" popover="Busca por texto" class="fa fa-info-circle pull-right"></i>
                                        </label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" ng-model="searchField.text" placeholder="busca por texto.." id="searchField.text"/>
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" ng-click="newSearch()"><i class="fa fa-search"></i></button>
                                                <span class="help-block"><small>Busca indexada pelos principais campos.</small></span>
                                            </div>
                                        </div>
                                    </div>
#if(${entity.getActiveProperty()})
                                    <div class="form-group col-md-4"> <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="actives" ng-model="entity.boolActive" checked> Ativo (${entity.getActiveProperty().title})
                                            </label>
                                        </div>
                                    </div>
#{end}
                                </div>

#if(${entity.getAllDeadlineProperties().size()} >= 1 )
#set($activeProperty = ${entity.getAllDeadlineProperties()[0]})
#if(${activeProperty})

                                <div class="row">
                                    <div ng-controller="DatepickerDemoCtrl">
                                        <div class="form-group col-md-4">
                                            <label class="control-label" for="">${activeProperty} a partir de</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-controller="DatepickerDemoCtrl">
                                        <div class="form-group col-md-4">
                                            <label class="control-label" for="">Até</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control"/>
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-default btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
#end
#end
                            </div>

                            <div class="box-footer hidden-sm hidden-xs">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="bt bt-sky" href="" ng-click="clearForm()"><i class="mdi mdi-eraser"></i> Limpar Filtro</a>
                                        <a class="bt bt-emerald" href="" ng-click="newSearch()"><i class="mdi mdi-magnify"></i> Buscar</a>
                                        <a class="bt bt-metal" href="" ng-click="open('lg')"><i class="mdi mdi-plus"></i> Novo</a>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer hidden-md hidden-lg">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="bt bt-sky" href="" ng-click="clearForm()"><i class="mdi mdi-eraser"></i> </a>
                                        <a class="bt bt-emerald" href="" ng-click="newSearch()"><i class="mdi mdi-magnify"></i> </a>
                                        <a class="bt bt-metal" href="" ng-click="open('lg')"><i class="mdi mdi-plus"></i> </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div tab heading="Busca Avançada" ng-click="setTextSearchActive(false)">
                    <div class="nav-tabs-custom">
                        <div class="tab-content">
                            <div class="row">
                                <div ng-include src="'modules/${entity.beanName}/components/${entity.beanName}.filter.html'"></div>
                            </div>
                            <div class="box-footer hidden-sm hidden-xs">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="bt bt-sky" href="" ng-click="clearForm()"><i class="mdi mdi-eraser"></i> Limpar Filtro</a>
                                        <a class="bt bt-emerald" href="" ng-click="newSearch()"><i class="mdi mdi-magnify"></i> Buscar</a>
                                        <a class="bt bt-metal" href="" ng-click="open('lg')"><i class="mdi mdi-plus"></i> Novo</a>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer hidden-md hidden-lg">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="bt bt-sky" href="" ng-click="clearForm()"><i class="mdi mdi-eraser"></i> </a>
                                        <a class="bt bt-emerald" href="" ng-click="newSearch()"><i class="mdi mdi-magnify"></i> </a>
                                        <a class="bt bt-metal" href="" ng-click="open('lg')"><i class="mdi mdi-plus"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- fim sessão -->

    <!-- sessão -->
    <div class="box box-primary">
        <div class="box-body">
            <div class="box-header">
                <h3 class="box-title color-asphalt"><i class="mdi mdi-filter"></i> {{"grid.titulo" | translate}}</h3>
            </div>
            <div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-pagination ui-grid-auto-resize ></div>
        </div>
    </div>

    <div ng-include="'modules/${entity.beanName}/components/${entity.beanName}.modal.html'"></div>

</section>

