#set( $js  = "$")
(function() {
	'use strict';

	angular.module('${project.acronym}App.${entity.beanName}')
		.config(['${js}routeProvider', function(${js}routeProvider) {
			$routeProvider
				.when('/${entity.beanName}', {
					templateUrl: 'modules/${entity.beanName}/${entity.beanName}.html',
					controller: '${entity.beanName}Controller',
					controllerAs: '${entity.beanName}Controller'
				})
                .when('/${entity.beanName}/:id', {templateUrl: 'modules/${entity.beanName}/${entity.beanName}.edit.html'})
                .when('/${entity.beanName}/:id/:child', {templateUrl: 'modules/${entity.beanName}/${entity.name}.edit.html'})
		}]);
})();
