#set( $open  = "${")
#set( $close = "}")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

<head>
    <title></title>
</head>
<body>
                            <div th:fragment="form">
                                <ul th:if="${#fields.hasErrors('*')}">
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                                <div class="span7">
                                    <input type="hidden" id="id" th:field="*{id}"/>
#foreach( ${property} in ${entity.properties})
                                    <div class="control-group">
                                        <label class="control-label">${property.name}: </label>
                                        <div class="controls">
                                            <input type="text" id="${property.name}" th:field="*{${property.name}}" th:class="${open}#fields.hasErrors('${property.name}')}? 'fieldError':'input-xlarge'"/>
                                        </div>
                                    </div>
#end
                                </div>
                            </div>
</body>
</html>