<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->

<head>
    <title>WDN Consultancy and Solution Developer</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Guick Generated Example" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--link rel="stylesheet/less" href="../../less/bootstrap.less" type="text/css" /-->
    <!--link rel="stylesheet/less" href="../../less/responsive.less" type="text/css" /-->
    <!--script src="../../js/less-1.3.3.min.js"></script-->
    <!--append ‘#!watch’ to the browser URL, then refresh the page. -->

    <link rel="stylesheet" th:href="@{/css/bootstrhomeap.min.css}" href="css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}" href="css/main.css" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.js}" src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link th:href="@{/img/apple-touch-icon-144-precomposed.png}" rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-144-precomposed.png" sizes="144x144" />
    <link th:href="@{/img/apple-touch-icon-114-precomposed.png}" rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-114-precomposed.png" sizes="114x114" />
    <link th:href="@{/img/apple-touch-icon-72-precomposed.png}"  rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-72-precomposed.png"  sizes="72x72" />
    <link th:href="@{/img/apple-touch-icon-57-precomposed.png}"  rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png" />
    <link th:href="@{/img/favicon.png}" rel="shortcut icon" href="img/favicon.png"/>

    <script th:src="@{/js/jquery-1.10.2.min.js}" type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript" src="js/bootstrap.min.js"></script>
    <script th:src="@{/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js}" src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" />
</head>
<body>

<div class="container">

    <div th:include="common/header :: top" />

    <div class="hero-unit">
        <h1>${project.name}</h1>
        <h2>${project.description}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus turpis nisl, ac ullamcorper libero varius sodales. Donec semper tincidunt iaculis. Vivamus varius porta feugiat. Ut elit ipsum, porttitor id eleifend non, auctor a magna. Nullam magna turpis, feugiat ultrices sodales sit amet, congue sed sem. Sed malesuada tempor urna. Curabitur et dolor in quam commodo dapibus vel eu magna. Praesent non velit nec metus molestie cursus. Phasellus a arcu velit.</p>
##        <p>Acting with software development since 1994 and with solid experience in developing solutions. Working within the most different architectures, languages and tools. Specialized in the development of corporate services, frameworks, critical applications and with high performance requirements. With more than 11 years of experience in software architecture on the Java/Groovy platform and its plethora of tools and many other languages like Python and Ruby and C++.</p>
##        <p>With a multidisciplinary partnerships, WDN is ready to provide the very best breed of software development and design for your company with the most efficient way.</p>
##        <p><a class="btn btn-primary btn-large" href="/about.do">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="span4">
            <h2>Generated Entities</h2>
#foreach( ${entity} in ${project.metadata.entities})
            <p><a th:href="@{/${entity.name}/filter.do}" href="#">${entity.name}</a></p>
#end
        </div>
        <div class="span4">
              <h2>Lorem</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus turpis nisl, ac ullamcorper libero </p>
##            <h2>Architecture</h2>
##            <p>Working with Architecture and Development consultancy for Petrobras, a huge Brazilian Oil Company, over seven years.
##               There I've helped on creation critical comparative tools, components and webservices. Created of code patterns, standardized development architectures and much more.</p>
##            <p>There I've also developed several tools for productivity like "Grails framework", but all on compile/generation time as Maven plugins..
##                Now I'm begining to develop some of that 'experience' for Opensource World</p>
        </div>
        <div class="span4">
              <h2>Lorem</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus turpis nisl, ac ullamcorper libero </p>
##            <h2>Guick</h2>
##            <p>Code generation and revers engeneering plugin on the fly, enabling a productivity just as Grails but with your withou all the groovy "magic" and wight, and most important with your desired architecture, like plain java, groovy CompileStatic and performance focus</p>
##            <p><a class="btn" href="https://github.com/wdavilaneto/guick">Guick &raquo;</a></p>
        </div>
    </div>

    <hr />

    <div th:substituteby="common/footer :: copy"></div>

</div>

</body>
</html>