#set( $js  = "$")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )

(function () {

    'use strict';

    angular.module('${project.name}App.main').controller('MainController', MainController);
## AvisoService,
    function MainController(${js}scope, ${js}location, loginService, ENV_CONFIG, toaster, ${js}filter, ${js}translate) {

        var self = this;

        // Public Metods




        ${js}scope.${js}on('event:userLogout', function () {
            ${js}scope.hasPermission = {};
            ${js}location.path('/');
        });

        ${js}scope.${js}on('event:userDetailsPrepared', function () {
            self.hasPermission = loginService.getCurrentUser().permissions;
        });

        this.envConfig = ENV_CONFIG;
    }

})();
