#set( $js  = "$")
#set( $entityBeanName = ${util.uncapitalize($entity.name)} )
#set( $projectBeanName = ${util.uncapitalize($project.name)} )
<!-- sessões -->
<section class="content-header">
    <h1><i class="fa fa-home"></i> Inicial </h1>
</section>

<section class="content">
    <div class="box box-primary">
        <form name="mainForm" novalidate>
            <tabset>
                <tab ng-repeat="tab in tabs" ng-click="changeTab(tab.route)">
                    <tab-heading>
                        <i class="mdi {{tab.icon}}"></i><span>{{tab.heading}}</span>
                    </tab-heading>
                </tab>
            </tabset>
            <div class="row">
                <ui-view />
            </div>
        </form>
    </div>
</section>