
<div class="box box-primary">
    <div class="box-body">
                                <div class="col-md-4" ng-if="vm.entity.evento.ocorrencia">
                                    <div class="form-group">
                                        <label class="control-label">Ocorrencia</label>
                                        <div ng-if="vm.entity.evento.ocorrencia"> {{vm.entity.evento.ocorrencia}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.evento.justificativa">
                                    <div class="form-group">
                                        <label class="control-label">Justificativa</label>
                                        <div ng-if="vm.entity.evento.justificativa"> {{vm.entity.evento.justificativa}}</div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="vm.entity.evento.login">
                                    <div class="form-group">
                                        <label class="control-label">Login</label>
                                        <div ng-if="vm.entity.evento.login"> {{vm.entity.evento.login}}</div>
                                    </div>
                                </div>




                                <div class="col-md-3" ng-if="vm.entity.evento.dataRegistro">
                                    <div class="form-group">
                                        <label class="control-label">Data Registro</label>
                                        <div ng-if="vm.entity.evento.dataRegistro"> {{vm.entity.evento.dataRegistro}}</div>
                                    </div>
                                </div>


    </div>
</div>

